divinecore-v2/worker/sales_os/workflows/n8n/positive-reply-research-v1.json
{
  "name": "[CC] Positive Reply → Research → GHL + Sheet",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "includeSpamTrash": true,
          "q": "-from:patrick@moic-automation.de -from:tom.maier@moic-consulting.de -from:mailer-daemon -from:noreply"
        }
      },
      "id": "gmail-trigger-patrick",
      "name": "Gmail: patrick@moic-automation.de",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        608,
        32
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "T0HLzZyiARsBnTKE",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "-from:patrick@moic-automation.de -from:tom.maier@moic-consulting.de -from:mailer-daemon -from:noreply"
        }
      },
      "id": "gmail-trigger-tom",
      "name": "Gmail: tom.maier@moic-consulting.de",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        608,
        240
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "b69SerzvJMiMZHBk",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.From || '' }}",
              "rightValue": "mailer-daemon",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-not-daemon",
      "name": "Not Mailer-Daemon",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        816,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const inp = $input.first().json;\nconst systemPrompt = \"Du bist ein hoch-praeziser Intent-Klassifikator fuer Cold-Outreach-Email-Replies.\\n\\n=== ANFANGSPHASE-MODUS AKTIV ===\\nWir sind in der fruehen Phase: warme Signale, Rueckfragen und ambivalente\\nAntworten sind GOLD. KEIN interessierter Lead darf durchrutschen.\\n\\nDEFAULT-REGEL: Im Zweifel -> high_priority. Patrick schaut persoenlich drueber.\\nFalsch-positive high_priority sind OK. Falsch-negative high_priority sind teuer.\\n=================================\\n\\nKlassifiziere in EXAKT eine dieser 7 Kategorien:\\n\\n1. interested: NUR bei sehr eindeutigem Interesse MIT konkretem Call-to-Action\\n   Beispiele: \\\"Ja, buchen Sie Donnerstag 15 Uhr\\\", \\\"Schickt mir das Angebot\\\",\\n   \\\"Wir haetten Bedarf fuer 50 Lizenzen\\\", \\\"Anbei unser Anforderungsprofil\\\"\\n   -> Nur wenn Handlung/Entscheidung klar signalisiert ist.\\n\\n2. unsubscribe: Opt-Out, Stop-Request, \\\"entfernen\\\" (DSGVO-BINDEND!)\\n   Beispiele: \\\"Bitte entfernen\\\", \\\"kein Interesse + nicht mehr schreiben\\\",\\n   \\\"unsubscribe\\\", \\\"stop\\\"\\n\\n3. soft_no: HART \\\"nicht jetzt, vielleicht nie\\\" - klare Ablehnung ohne Aggressivitaet\\n   Beispiele: \\\"Wir nutzen schon X\\\", \\\"Passt nicht zu unserem Stack\\\",\\n   \\\"Budget bis Jahresende verplant\\\" (ohne Folgefrage oder Oeffnung)\\n   -> Nur bei eindeutiger, harter Absage. Bei Unsicherheit -> high_priority.\\n\\n4. wrong_person: Klare Weiterleitung zu anderer Person\\n   Beispiele: \\\"Bitte wenden Sie sich an Herrn Schmidt\\\", \\\"Das ist nicht mein\\n   Bereich, fragen Sie bei Y nach\\\"\\n\\n5. out_of_office: Standardisierter Auto-Reply\\n   Beispiele: \\\"Bin im Urlaub bis DD.MM.\\\", \\\"Vertretung: X\\\", automatisch generiert\\n\\n6. question: NUR bei rein technischer Klaerungsfrage OHNE waermendes Signal\\n   Beispiele: \\\"Was kostet das?\\\" (kein weiterer Kontext), \\\"In welchen Laendern?\\\"\\n   -> Wenn Frage mit Interesse verbunden ist: high_priority statt question!\\n\\n7. high_priority: DEFAULT bei allem was nicht klar in 1-6 faellt. Spezifisch:\\n   - Jede positive ODER warme ODER neugierige Antwort die kein klares \\\"Buchen\\\"-Signal\\n     hat -> \\\"Klingt interessant aber...\\\", \\\"Wir sind grad am ueberlegen...\\\"\\n   - Rueckfragen die mit Interesse verbunden sind: \\\"Koennt ihr mir mehr schicken?\\\",\\n     \\\"Wie funktioniert das mit ABC konkret?\\\"\\n   - Direkt nach Patrick gefragt (\\\"moechte mit Patrick sprechen\\\")\\n   - Telefongespraech angefragt\\n   - Dringlichkeit (\\\"dringend\\\", \\\"sofort\\\", \\\"zeitkritisch\\\")\\n   - Beschwerde / rechtliche Androhung / Presse-Anfrage\\n   - Kooperations-/Partnerschaftsanfrage\\n   - Enterprise/C-Level-Absender mit spezifischer Frage\\n   - Kurze/knappe positive Antworten (\\\"Okay\\\", \\\"Danke\\\", \\\"Interessant\\\")\\n   - Alles Ambivalente, Neugierige, Unklare\\n   - Edge-Cases ohne klare Kategorie-Passung\\n\\nWICHTIG - Entscheidungslogik:\\n- Klare Meeting-Buchung mit Zeitvorschlag -> interested\\n- Klare Ablehnung ohne Oeffnung -> soft_no\\n- Klarer Opt-Out -> unsubscribe\\n- Alles dazwischen (warm, neugierig, ambivalent, Rueckfrage) -> high_priority\\n\\nExtrahiere: name, company, email, phone (nullable), key_message (1-2 Saetze),\\nreasoning (1 Satz warum diese Kategorie, bei high_priority welches Signal).\\n\\nAntworte AUSSCHLIESSLICH als JSON (keine Markdown, keine Erklaerung davor/danach):\\n{intent, confidence, name, company, email, phone, key_message, reasoning}\";\nconst userContent = 'REPLY TO CLASSIFY:\\n\\nFrom: ' + (inp.From || '') +\n  '\\nSubject: ' + (inp.Subject || '') +\n  '\\n\\nBody:\\n' + (inp.text || inp.textPlain || inp.snippet || '');\n\n// OpenAI Structured Outputs — enforces exact enum for intent.\n// No off-list values possible. Safety level 1.\nconst schema = {\n  name: 'reply_classification',\n  strict: true,\n  schema: {\n    type: 'object',\n    properties: {\n      intent: {\n        type: 'string',\n        enum: ['interested', 'unsubscribe', 'soft_no', 'wrong_person', 'out_of_office', 'question', 'high_priority']\n      },\n      confidence: { type: 'number' },\n      name: { type: 'string' },\n      company: { type: 'string' },\n      email: { type: 'string' },\n      phone: { type: ['string', 'null'] },\n      key_message: { type: 'string' },\n      reasoning: { type: 'string' }\n    },\n    required: ['intent', 'confidence', 'name', 'company', 'email', 'phone', 'key_message', 'reasoning'],\n    additionalProperties: false\n  }\n};\n\nreturn [{\n  json: {\n    openai_body: {\n      model: 'gpt-4o',\n      response_format: { type: 'json_schema', json_schema: schema },\n      max_tokens: 700,\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userContent }\n      ]\n    }\n  }\n}];"
      },
      "id": "prep-openai-body",
      "name": "Prep OpenAI Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_body) }}",
        "options": {}
      },
      "id": "openai-classifier",
      "name": "OpenAI Classifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1184,
        112
      ],
      "credentials": {
        "openAiApi": {
          "id": "E9z45rhSBQLvvIhE",
          "name": "OpenAI - MOIC"
        }
      }
    },
    {
      "parameters": {
        "url": "https://sheets.googleapis.com/v4/spreadsheets/10NwvQbowofN9zLzgVZcnNl8mjPUqX23vkQ2EGXWzNYU/values:batchGet",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ranges",
              "value": "'Ästhetik'!A:AE"
            },
            {
              "name": "ranges",
              "value": "'Ästhetik - Disqualified'!A:AE"
            },
            {
              "name": "ranges",
              "value": "'Küchen'!A:AE"
            },
            {
              "name": "ranges",
              "value": "'Küchen - Disqualified'!A:AE"
            },
            {
              "name": "ranges",
              "value": "'Immo'!A:AE"
            },
            {
              "name": "ranges",
              "value": "'Immo - Disqualified'!A:AE"
            },
            {
              "name": "ranges",
              "value": "'Auto'!A:AE"
            },
            {
              "name": "ranges",
              "value": "'Auto - Disqualified'!A:AE"
            },
            {
              "name": "ranges",
              "value": "'Pool'!A:AE"
            },
            {
              "name": "ranges",
              "value": "'Pool - Disqualified'!A:AE"
            },
            {
              "name": "ranges",
              "value": "'Zahn'!A:AE"
            },
            {
              "name": "ranges",
              "value": "'Zahn - Disqualified'!A:AE"
            }
          ]
        },
        "options": {}
      },
      "id": "sheet-batch-read",
      "name": "Sheet: Batch Read Master",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1552,
        112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JMNK6p5QZoShwtFs",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lookup lead in MOIC Lead Master by email\n// Preserves classifier output + enriches with lead-data on match.\nconst classifier = $('Parse Classifier JSON').item.json;\nconst batchRead = $input.first().json;\n\nconst targetEmail = (classifier.email || '').toLowerCase().trim();\n\n// Safety: if batch read failed, pass classifier through with flag\nif (!batchRead || !batchRead.valueRanges) {\n  return [{ json: { ...classifier, _cold_unknown: true, _lookup_failed: true } }];\n}\n\nlet match = null;\nlet matchedRange = null;\n\nfor (const vr of batchRead.valueRanges) {\n  const rows = vr.values || [];\n  if (rows.length < 2) continue;\n  const headers = rows[0];\n  const emailWorkIdx = headers.indexOf('email_work');\n  const emailPersonalIdx = headers.indexOf('email_personal');\n  if (emailWorkIdx === -1 && emailPersonalIdx === -1) continue;\n\n  for (const row of rows.slice(1)) {\n    const workEmail = emailWorkIdx >= 0 ? (row[emailWorkIdx] || '').toLowerCase().trim() : '';\n    const personalEmail = emailPersonalIdx >= 0 ? (row[emailPersonalIdx] || '').toLowerCase().trim() : '';\n    if (workEmail === targetEmail || personalEmail === targetEmail) {\n      match = {};\n      headers.forEach((h, i) => { match[h] = row[i] || ''; });\n      matchedRange = vr.range;\n      break;\n    }\n  }\n  if (match) break;\n}\n\nconst enriched = { ...classifier };\n\nif (match) {\n  enriched._cold_unknown = false;\n  enriched._matched_range = matchedRange;\n  enriched._matched_source = (match.icp || '') + ' / ' + (match.source_tab || '');\n\n  // Enrich: prefer Master Sheet values where classifier had Unknown/empty\n  const fullName = `${match.first_name || ''} ${match.last_name || ''}`.trim();\n  if (fullName && (!enriched.name || enriched.name === 'Unknown')) {\n    enriched.name = fullName;\n  }\n  if (match.company && (!enriched.company || enriched.company === 'Unknown')) {\n    enriched.company = match.company;\n  }\n  if (!enriched.phone) {\n    enriched.phone = match.phone_mobile || match.phone_company || null;\n  }\n\n  // Rich context (new fields):\n  enriched.icp = match.icp || null;\n  enriched.job_title = match.job_title || '';\n  enriched.linkedin_url = match.linkedin_url || '';\n  enriched.website = match.website || '';\n  enriched.research_notes = match.research_notes || '';\n  enriched.city = match.city || '';\n  enriched.industry = match.industry || '';\n\n  // Original outreach copy (for reference in Slack / further actions)\n  enriched.original_copy = {\n    first_touch_subject: match.first_touch_subject || '',\n    first_touch_body: match.first_touch_body || '',\n    second_touch_subject: match.second_touch_subject || '',\n    second_touch_body: match.second_touch_body || '',\n  };\n} else {\n  enriched._cold_unknown = true;\n  enriched._matched_source = null;\n  enriched.icp = null;\n  enriched.research_notes = '';\n  enriched.original_copy = null;\n}\n\n// === Source inbox detection (determines which signature & Gmail-link account to use) ===\nconst nmdSrc = $('Not Mailer-Daemon').item.json || {};\nconst toField = (nmdSrc.To || '').toString().toLowerCase();\nlet sourceInbox = 'patrick@moic-automation.de';  // default\nif (toField.includes('tom.maier@moic-consulting.de')) {\n  sourceInbox = 'tom.maier@moic-consulting.de';\n} else if (toField.includes('patrick@moic-automation.de')) {\n  sourceInbox = 'patrick@moic-automation.de';\n}\nenriched._source_inbox = sourceInbox;\n\n// === Gmail Thread link — opens the exact account where thread lives ===\n// Uses /b/<email>/u/0/ syntax which is Google's reliable account-switcher URL.\n// `authuser=` param is unreliable (often causes loading hangs).\n// Fragment uses #all/ instead of #inbox/ — works even if thread is not in Inbox label.\nenriched._thread_id = nmdSrc.threadId || '';\nenriched._message_id = nmdSrc.id || '';\nenriched._gmail_link = enriched._thread_id\n  ? `https://mail.google.com/mail/b/${encodeURIComponent(sourceInbox)}/u/0/#all/${enriched._thread_id}`\n  : '';\n\n// === Name splitting for Anrede (formal German) ===\nconst np = (enriched.name || '').trim().split(/\\s+/).filter(Boolean);\nenriched._first_name = np[0] || '';\nenriched._last_name = np.slice(1).join(' ') || '';\n\n// === GHL contact search URL (always clickable, even before contact created) ===\nenriched._ghl_contact_url = `https://app.gohighlevel.com/v2/location/vBGfwhaDbMUIhHW1sYSI/contacts?search=${encodeURIComponent(enriched.email)}`;\n\n// === Build Slack context prefix ===\nlet slackPrefix = '';\nif (enriched._cold_unknown) {\n  slackPrefix = ':warning: *NEUER UNBEKANNTER KONTAKT* — nicht in MOIC Lead Master\\n:warning: *Neu angelegt in GHL* mit Tag `cold-unknown`\\n\\n';\n} else if (enriched.icp) {\n  let info = `:label: *ICP:* ${enriched.icp}`;\n  if (enriched.job_title) info += ` · ${enriched.job_title}`;\n  if (enriched.city) info += ` · ${enriched.city}`;\n  slackPrefix = info + '\\n';\n  if (enriched.research_notes) {\n    const rn = String(enriched.research_notes);\n    const trunc = rn.length > 220 ? rn.substring(0, 220) + '...' : rn;\n    slackPrefix += `:mag: *Research:* _${trunc}_\\n`;\n  }\n  if (enriched.original_copy && enriched.original_copy.first_touch_subject) {\n    slackPrefix += `:mailbox_with_mail: *Original Subject:* \\\"${enriched.original_copy.first_touch_subject}\\\"\\n`;\n  }\n  slackPrefix += '\\n';\n}\nenriched._slack_prefix = slackPrefix;\n\n// === Pre-build GHL bodies (all paths) with dynamic tags ===\nconst nameParts = (enriched.name || '').split(' ');\nconst firstName = nameParts[0] || '';\nconst lastName = nameParts.slice(1).join(' ') || '';\n\n// ASCII-safe slug (no umlauts — GHL-friendly)\nfunction slugify(s) {\n  return String(s || '').toLowerCase()\n    .replace(/ä/g, 'ae').replace(/ö/g, 'oe').replace(/ü/g, 'ue').replace(/ß/g, 'ss')\n    .replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '');\n}\n\n// Normalize phone: null if empty/invalid, else trimmed string\nif (!enriched.phone || enriched.phone === 'null' || String(enriched.phone).trim() === '') {\n  enriched.phone = null;\n} else {\n  enriched.phone = String(enriched.phone).trim();\n}\n\nconst baseTags = ['cold-outbound'];\nif (enriched.icp) baseTags.push('icp-' + slugify(enriched.icp));\nif (enriched._cold_unknown) baseTags.push('cold-unknown');\n\nconst LOCATION_ID = 'vBGfwhaDbMUIhHW1sYSI';\n\n// Standard fields shared across all GHL bodies\nconst ghlStandardFields = {\n  locationId: LOCATION_ID,\n  email: enriched.email,\n  firstName: firstName,\n  lastName: lastName,\n  companyName: enriched.company,\n  phone: enriched.phone,\n  website: enriched.website || undefined,\n  city: enriched.city || undefined,\n};\n\n// Remove undefined keys (GHL dislikes them)\nfor (const k in ghlStandardFields) { if (ghlStandardFields[k] === undefined) delete ghlStandardFields[k]; }\n\nenriched._ghl_body_positive = {\n  ...ghlStandardFields,\n  source: 'Cold Outbound Reply',\n  tags: [...baseTags, 'positive-reply'],\n};\n\nenriched._ghl_body_opt_out = {\n  ...ghlStandardFields,\n  tags: [...baseTags, 'opted-out', 'dsgvo-opt-out'],\n  dnd: true,\n};\n\nenriched._ghl_body_nurture = {\n  ...ghlStandardFields,\n  tags: [...baseTags, 'long-term-nurture', 're-engage-in-6mo'],\n};\n\nenriched._ghl_body_hp = {\n  ...ghlStandardFields,\n  tags: [...baseTags, 'high-priority', 'needs-patrick'],\n};\n\n// === Build GHL Note body (full lead context, attached after Contact-Create) ===\nconst noteLines = [];\nnoteLines.push('=== REPLY INTELLIGENCE ===');\nnoteLines.push('Generated: ' + new Date().toISOString());\nnoteLines.push('');\nif (enriched._cold_unknown) {\n  noteLines.push('⚠️ UNBEKANNTE EMAIL — Reply von Adresse, die nicht in MOIC Lead Master gelistet ist.');\n} else {\n  noteLines.push(`ICP: ${enriched.icp || '-'}`);\n  if (enriched._matched_source) noteLines.push(`Matched from: ${enriched._matched_source}`);\n}\nnoteLines.push('');\nnoteLines.push('--- Person ---');\nnoteLines.push(`Name: ${enriched.name}`);\nif (enriched.job_title) noteLines.push(`Job Title: ${enriched.job_title}`);\nif (enriched.phone) noteLines.push(`Phone: ${enriched.phone}`);\nif (enriched.linkedin_url) noteLines.push(`LinkedIn: ${enriched.linkedin_url}`);\nnoteLines.push('');\nnoteLines.push('--- Company ---');\nnoteLines.push(`Company: ${enriched.company}`);\nif (enriched.website) noteLines.push(`Website: ${enriched.website}`);\nif (enriched.city) noteLines.push(`City: ${enriched.city}`);\nif (enriched.industry) noteLines.push(`Industry: ${enriched.industry}`);\nnoteLines.push('');\nif (enriched.research_notes) {\n  noteLines.push('--- Research Notes ---');\n  noteLines.push(enriched.research_notes);\n  noteLines.push('');\n}\nif (enriched.original_copy && (enriched.original_copy.first_touch_subject || enriched.original_copy.first_touch_body)) {\n  noteLines.push('--- Original Cold Outreach ---');\n  if (enriched.original_copy.first_touch_subject) {\n    noteLines.push(`1st Touch Subject: \"${enriched.original_copy.first_touch_subject}\"`);\n  }\n  if (enriched.original_copy.first_touch_body) {\n    noteLines.push('1st Touch Body:');\n    noteLines.push(enriched.original_copy.first_touch_body);\n  }\n  if (enriched.original_copy.second_touch_subject) {\n    noteLines.push('');\n    noteLines.push(`2nd Touch Subject: \"${enriched.original_copy.second_touch_subject}\"`);\n  }\n  noteLines.push('');\n}\nnoteLines.push('--- Reply ---');\nconst conf = typeof enriched.confidence === 'number' ? (enriched.confidence * 100).toFixed(0) + '%' : '-';\nnoteLines.push(`Intent: ${enriched.intent} (confidence: ${conf})`);\nnoteLines.push(`Reply Key Message: ${enriched.key_message}`);\nnoteLines.push(`Classifier Reasoning: ${enriched.reasoning}`);\n\nenriched._ghl_note_body = noteLines.join('\\n');\n\nreturn [{ json: enriched }];"
      },
      "id": "lookup-lead",
      "name": "Lookup Lead in Master",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.choices[0].message.content;\nconst parsed = JSON.parse(raw);\n\n// Safety Net #2: intent whitelist — never let pipeline get a value we can't route on.\n// If structured-output schema somehow failed or model went rogue, fallback to high_priority\n// (safest — triggers Patrick-notification, ensures no lead is lost).\nconst VALID_INTENTS = ['interested', 'unsubscribe', 'soft_no', 'wrong_person', 'out_of_office', 'question', 'high_priority'];\nif (!VALID_INTENTS.includes(parsed.intent)) {\n  parsed._original_intent = parsed.intent;\n  parsed.intent = 'high_priority';\n  parsed.reasoning = `[Safety-fallback: invalid intent '${parsed._original_intent || 'missing'}' → high_priority] ` + (parsed.reasoning || '');\n  parsed.confidence = 0.5;\n}\n\n// Authoritative email source is the Gmail From-header, NOT the classifier.\n// The classifier can miss it. The header is deterministic.\nconst emailRe = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/;\nconst nmd = $('Not Mailer-Daemon').item.json;\n\n// Extract From from multiple possible locations (Gmail node output varies)\nlet sourceFrom = '';\n// Path 1: top-level From (simple:true)\nif (nmd.From || nmd.from) sourceFrom = (nmd.From || nmd.from).toString();\n// Path 2: headers object\nif (!sourceFrom && nmd.headers) sourceFrom = (nmd.headers.From || nmd.headers.from || '').toString();\n// Path 3: payload.headers array (simple:false raw Gmail API format)\nif (!sourceFrom && nmd.payload && Array.isArray(nmd.payload.headers)) {\n  const h = nmd.payload.headers.find(x => (x.name || '').toLowerCase() === 'from');\n  if (h && h.value) sourceFrom = h.value.toString();\n}\n\n// PRIMARY: From-header regex extraction\nlet email = '';\nconst fromMatch = sourceFrom.match(emailRe);\nif (fromMatch) {\n  email = fromMatch[0];\n}\n// FALLBACK 1: classifier-extracted email (regex-cleaned)\nif (!email && parsed.email) {\n  const cm = parsed.email.toString().match(emailRe);\n  if (cm) email = cm[0];\n}\n// FALLBACK 2: valid placeholder so GHL accepts it\nif (!email || !emailRe.test(email)) {\n  const ts = Date.now();\n  email = 'no-email-' + ts + '@moic-placeholder.invalid';\n  parsed._email_missing = true;\n}\nparsed.email = email;\n\n// Name fallback: try to parse from From-header (\"Name\" <email>)\nif (!parsed.name || parsed.name === 'Unknown' || !parsed.name.trim()) {\n  const nameMatch = sourceFrom.match(/^\\s*\"?([^\"<]+?)\"?\\s*<.*>\\s*$/);\n  if (nameMatch) {\n    parsed.name = nameMatch[1].trim();\n  } else if (email.includes('@')) {\n    parsed.name = email.split('@')[0];  // last resort: use local part of email\n  }\n}\nparsed.name = (parsed.name || '').trim() || 'Unknown';\n\n// Company fallback: derive from email domain if classifier didn't get it\nif (!parsed.company || parsed.company === 'Unknown' || !parsed.company.trim()) {\n  if (email && email.includes('@') && !email.endsWith('.invalid')) {\n    parsed.company = email.split('@')[1].split('.')[0];\n  }\n}\nparsed.company = (parsed.company || '').trim() || 'Unknown';\n\n// Defensive defaults\nparsed.phone = parsed.phone && parsed.phone !== 'null' ? parsed.phone : null;\nparsed.key_message = (parsed.key_message || '').trim() || '(keine Message extrahiert)';\nparsed.reasoning = (parsed.reasoning || '').trim() || '';\nparsed.confidence = typeof parsed.confidence === 'number' ? parsed.confidence : 0;\nparsed._email_valid = emailRe.test(parsed.email) && !parsed.email.endsWith('.invalid');\nparsed._source_from = sourceFrom;  // for debugging\n\nreturn [{ json: parsed }];"
      },
      "id": "parse-classifier",
      "name": "Parse Classifier JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prep OpenAI Draft-Body — uses lookup-enriched context (Master Sheet data)\nconst p = $input.first().json;\n\n// === Signatures per source inbox ===\n// Both signatures end with \"MOIC AI\" — that's the brand, not \"MOIC Consulting\".\n// No links in signatures intentionally — reduces deliverability spam signals.\n// If a link is ever wanted: use moic-ai.de only. The automation/consulting domains\n// are sender aliases only; nobody lands there.\nconst SIGNATURES = {\n  'patrick@moic-automation.de': `Beste Gruesse\nPatrick Munder\n\nMOIC AI`,\n  'tom.maier@moic-consulting.de': `Beste Gruesse\nTom Maier\n\nMOIC AI`,\n};\nconst sig = SIGNATURES[p._source_inbox] || SIGNATURES['patrick@moic-automation.de'];\n\n// === Anrede based on available name parts ===\nlet anrede;\nif (p._last_name) {\n  anrede = `Hallo Herr ${p._last_name}`;  // Default male form — GPT will adjust if context is female\n} else if (p._first_name) {\n  anrede = `Hallo ${p._first_name}`;\n} else {\n  anrede = 'Hallo';\n}\n\nconst draftSystem = `Du bist ein B2B-Sales-Assistent bei MOIC AI. Aufgabe: Professioneller, warmer, menschlicher Antwort-Entwurf mit konkretem Termin-Vorschlag.\n\n=== ZIEL ===\nMeeting buchen. Aber LOW-COMMITMENT: zuerst ein kurzes Vorgespraech (3-5 Min Telefonat) vor einem richtigen Meeting.\nWarum: Senkt die Huerde, macht Ja leicht, erzeugt Momentum (Hormozi-Prinzip: kleine Ja's fuehren zu grossen Ja's).\n\n=== PSYCHOLOGIE (Hormozi) ===\n\n1. ALTERNATIVE CHOICE CLOSE — IMMER 2-3 Terminvorschlaege:\n   ✗ SCHLECHT: \"Wie waere morgen 10 Uhr?\"\n   ✓ GUT: \"Wie waere Morgen 10 Uhr, uebermorgen 14 Uhr, oder Freitag 11 Uhr?\"\n   — Gibt Kontrolle, minimiert \"Nein\". 3 Alternativen > 2 > 1.\n\n2. ZEITNAHE SLOTS — Shorter Gap = hoehere Show-Rate:\n   Schlag Termine in den NAECHSTEN 2-4 Tagen vor (nicht \"naechste Woche\").\n\n3. TELEFONAT STATT MEETING im ersten Schritt:\n   \"kurz telefonieren\" ist kleinere Huerde als \"Meeting\". 3-5 Minuten reichen.\n\n4. PHONE-VERIFICATION — wenn Telefonnummer bekannt:\n   Explizit fragen: \"Erreiche ich Sie unter [NUMMER]?\"\n   Zeigt: du hast recherchiert, ohne Research-Show zu machen. Senkt Reibung.\n\n5. WARMTH — Reply aufgreifen:\n   Wenn Lead unsicher (\"weiss nicht ob Meeting buchen soll\") — verstaendnisvoll reagieren\n   (\"versteh ich total / macht Sinn\"). Dann Low-Commitment anbieten.\n\n=== STIL ===\n- 🚨 SIE-FORM — AUSNAHMSLOS. NIEMALS \"du/dir/dich/dein\" verwenden.\n  Beispiele fuer VERBOTENE Du-Formen (darfst du NICHT schreiben):\n    ✗ \"wenn du nicht weisst\" → ✓ \"wenn Sie nicht wissen\"\n    ✗ \"erreiche ich dich\" → ✓ \"erreiche ich Sie\"\n    ✗ \"dein Kalender\" → ✓ \"Ihr Kalender\"\n    ✗ \"passt dir\" → ✓ \"passt Ihnen\"\n    ✗ \"lass uns\" → ✓ \"lassen Sie uns\"\n    ✗ \"fuer dich\" → ✓ \"fuer Sie\"\n- Warm + menschlich, kein Roboter-Ton\n- Keine Floskeln (\"Ich freue mich sehr...\" = verboten)\n- Kein Marketing-Speak\n- Kurze klare Saetze, direkter Ton\n- Deutsch\n- KEINE URLs / Website-Links im Draft — mindert Deliverability. Signatur kommt OHNE Links.\n\n=== STRUKTUR DES DRAFTS ===\n1. Anrede (\"Hallo Herr Mueller\" / \"Hallo Anna\" / \"Hallo\")\n2. 1 Satz — Reply warm aufnehmen (z.B. \"versteh ich total\", \"macht absolut Sinn\")\n3. 1-2 Saetze — kurz klaeren WAS es ist (wenn Lead unsicher ist) ODER direkt zum Terminvorschlag\n4. Terminvorschlag: 2-3 konkrete Alternativen fuer ein kurzes Telefonat (3-5 Min)\n5. Phone-Verifikation falls Nummer vorliegt: \"Erreiche ich Sie unter XXX?\"\n6. 1 Satz — Abschluss (\"Welches passt Ihnen?\" oder aehnlich)\n7. Signatur (siehe unten — exakt so uebernehmen)\n\n=== STRIKTE REGELN ===\n- Research-Notes sind INTERN. NIEMALS im Draft zitieren (ausser Lead spricht es SELBST an).\n- Original-Outreach ist INTERN. NIEMALS zitieren.\n- Keine Werterklaerung, kein Pitch, keine Produkt-Features.\n- Draft-Laenge: 5-9 Saetze inkl. Anrede + Signatur.\n\nOutput: NUR der Draft-Text. Keine Meta-Erklaerung.`;\n\nconst phoneInfo = p.phone ? `Telefonnummer aus Datenbank: ${p.phone} (nutze sie in der Phone-Verification!)` : 'Keine Telefonnummer bekannt — frage nach Rueckrufnummer.';\n\nlet userPrompt;\nif (p._cold_unknown) {\n  userPrompt = `=== LEAD ===\n⚠️ UNBEKANNTE EMAIL (nicht in unserer Datenbank)\nIntent: ${p.intent}\n\n=== ANREDE ===\n${anrede}\n\n=== AKTUELLE REPLY ===\nVon: ${p.email}\nNachricht:\n${p.key_message}\n\n=== TELEFON ===\nKeine Telefonnummer — nicht nach Nummer-Verifikation fragen.\n\n=== SIGNATUR (exakt anhaengen) ===\n${sig}\n\n=== AUFGABE ===\nKurzer Draft: offen fragen was die Person will + Low-Commitment-Call als Naechstes anbieten (2-3 Alternativen).`;\n} else {\n  userPrompt = `=== LEAD ===\nFirma: ${p.company}\nIntent: ${p.intent}\n\n=== ANREDE ===\n${anrede}\n\n=== AKTUELLE REPLY ===\nVon: ${p.email}\nNachricht:\n${p.key_message}\n\n=== TELEFON ===\n${phoneInfo}\n\n=== SIGNATUR (exakt anhaengen) ===\n${sig}\n\n=== INTERN (NICHT zitieren, nur zu deinem Verstaendnis) ===\nResearch: ${(p.research_notes || '(keine)').substring(0, 300)}\n\n=== AUFGABE ===\nSchreib den Draft nach den System-Regeln. Ziel: kurzes Telefonat booken mit 2-3 Alternativ-Terminen in den naechsten 2-4 Tagen.`;\n}\n\nreturn [{\n  json: {\n    ...p,\n    _openai_draft_body: {\n      model: 'gpt-4.1',\n      max_tokens: 700,\n      messages: [\n        { role: 'system', content: draftSystem },\n        { role: 'user', content: userPrompt }\n      ]\n    }\n  }\n}];"
      },
      "id": "prep-draft-body",
      "name": "Prep Draft Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._openai_draft_body) }}",
        "options": {}
      },
      "id": "openai-draft",
      "name": "OpenAI Draft Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2128,
        112
      ],
      "credentials": {
        "openAiApi": {
          "id": "E9z45rhSBQLvvIhE",
          "name": "OpenAI - MOIC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Draft + pre-build all Slack messages (centralized, newline-safe)\nconst draftText = ($input.first().json.choices[0].message.content || '').trim();\nconst enriched = $('Lookup Lead in Master').item.json;\n\nconst intent = enriched.intent;\nconst prefix = enriched._slack_prefix || '';\nconst company = enriched.company || 'Unknown';\nconst name = enriched.name || 'Unknown';\nconst email = enriched.email || '';\nconst key_msg = enriched.key_message || '';\nconst gmail_link = enriched._gmail_link || '';\nconst phone = enriched.phone || 'keine';\nconst reasoning = enriched.reasoning || '';\n\nconst DRAFT_BLOCK = draftText\n  ? `💬 *Suggested Reply Draft:*\\n\\`\\`\\`\\n${draftText}\\n\\`\\`\\`\\n\\n`\n  : '';\n\nconst GMAIL_LINK = gmail_link ? `📧 <${gmail_link}|Im Gmail öffnen → Entwurf ist bereits im Thread>` : '';\nconst GHL_LINK = enriched._ghl_contact_url ? `🔗 <${enriched._ghl_contact_url}|Contact in GHL öffnen>` : '';\nconst LINKS = [GMAIL_LINK, GHL_LINK].filter(Boolean).join(' · ');\n\nlet slackMsg = '';\nif (intent === 'interested') {\n  slackMsg = `:white_check_mark: *POSITIVE REPLY* from *${company}*\\n_${name}_ (${email})\\n\\n${prefix}> ${key_msg}\\n\\n${DRAFT_BLOCK}${LINKS} · GHL Opportunity angelegt in _New Reply_`;\n} else if (intent === 'soft_no') {\n  slackMsg = `:zzz: *SOFT NO* von *${company}*\\n_${name}_\\n\\n${prefix}> ${key_msg}\\n\\nIn GHL auf Long-Term-Nurture gesetzt.\\n${LINKS}`;\n} else if (intent === 'wrong_person') {\n  slackMsg = `:arrow_right_hook: *WRONG PERSON* von *${company}*\\n_${name}_ (${email})\\n\\n${prefix}> ${key_msg}\\n\\n${DRAFT_BLOCK}${LINKS}\\n:warning: Manuell neu routen`;\n} else if (intent === 'question') {\n  slackMsg = `:grey_question: *QUESTION* von *${company}*\\n_${name}_\\n\\n${prefix}> ${key_msg}\\n\\n${DRAFT_BLOCK}${LINKS}\\n:thinking_face: Manuell antworten - Gespräch öffnet sich`;\n} else if (intent === 'high_priority') {\n  slackMsg = `:rotating_light: *HIGH PRIORITY REPLY* :rotating_light:\\n\\n${prefix}*Firma:* ${company}\\n*Person:* ${name}\\n*Email:* ${email}\\n*Phone:* ${phone}\\n\\n*Reply:*\\n> ${key_msg}\\n\\n*Classifier-Grund:* _${reasoning}_\\n\\n${DRAFT_BLOCK}${LINKS}\\n:hand: <!channel> Patrick - bitte prüfen und antworten.`;\n}\n\nreturn [{ json: { ...enriched, _draft_reply: draftText, _slack_msg: slackMsg } }];"
      },
      "id": "parse-draft",
      "name": "Parse Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        112
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json._source_inbox }}",
                    "rightValue": "patrick@moic-automation.de",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "patrick"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2",
                    "leftValue": "={{ $json._source_inbox }}",
                    "rightValue": "tom.maier@moic-consulting.de",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tom"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "unknown"
        }
      },
      "id": "switch-source-inbox",
      "name": "Switch: Source Inbox",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2496,
        112
      ]
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ 'Re: ' + ($('Not Mailer-Daemon').item.json.Subject || '') }}",
        "message": "={{ $('Parse Draft').item.json._draft_reply }}",
        "options": {
          "threadId": "={{ $('Parse Draft').item.json._thread_id }}",
          "sendTo": "={{ $('Parse Draft').item.json.email }}"
        }
      },
      "id": "gmail-draft-patrick",
      "name": "Gmail: Create Draft (Patrick)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2704,
        0
      ],
      "webhookId": "0b269a88-62df-45dc-8262-32a26918262a",
      "credentials": {
        "gmailOAuth2": {
          "id": "T0HLzZyiARsBnTKE",
          "name": "Gmail account 4"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ 'Re: ' + ($('Not Mailer-Daemon').item.json.Subject || '') }}",
        "message": "={{ $('Parse Draft').item.json._draft_reply }}",
        "options": {
          "threadId": "={{ $('Parse Draft').item.json._thread_id }}",
          "sendTo": "={{ $('Parse Draft').item.json.email }}"
        }
      },
      "id": "gmail-draft-tom",
      "name": "Gmail: Create Draft (Tom)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2704,
        304
      ],
      "webhookId": "cfabd131-a56f-4954-bc68-7e93b253fe36",
      "credentials": {
        "gmailOAuth2": {
          "id": "b69SerzvJMiMZHBk",
          "name": "Gmail account 3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $('Switch: Source Inbox').item.json.intent }}",
                    "rightValue": "interested",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "interested"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2",
                    "leftValue": "={{ $('Switch: Source Inbox').item.json.intent }}",
                    "rightValue": "unsubscribe",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "unsubscribe"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3",
                    "leftValue": "={{ $('Switch: Source Inbox').item.json.intent }}",
                    "rightValue": "soft_no",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "soft_no"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4",
                    "leftValue": "={{ $('Switch: Source Inbox').item.json.intent }}",
                    "rightValue": "wrong_person",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "wrong_person"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5",
                    "leftValue": "={{ $('Switch: Source Inbox').item.json.intent }}",
                    "rightValue": "out_of_office",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "out_of_office"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6",
                    "leftValue": "={{ $('Switch: Source Inbox').item.json.intent }}",
                    "rightValue": "question",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "question"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7",
                    "leftValue": "={{ $('Switch: Source Inbox').item.json.intent }}",
                    "rightValue": "high_priority",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "high_priority"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "unknown"
        }
      },
      "id": "switch-intent",
      "name": "Switch: Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3184,
        64
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "_ghl_body_positive",
              "stringValue": "={{ $('Parse Draft').item.json._ghl_body_positive }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e-interested",
      "name": "→ Interested",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        3504,
        -432
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "email",
              "stringValue": "={{ $('Parse Draft').item.json.email }}"
            },
            {
              "name": "key_message",
              "stringValue": "={{ $('Parse Draft').item.json.key_message }}"
            },
            {
              "name": "_ghl_body_opt_out",
              "stringValue": "={{ $('Parse Draft').item.json._ghl_body_opt_out }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e-unsubscribe",
      "name": "→ Unsubscribe (Opt-Out)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        3504,
        -240
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "_ghl_body_nurture",
              "stringValue": "={{ $('Parse Draft').item.json._ghl_body_nurture }}"
            },
            {
              "name": "email",
              "stringValue": "={{ $('Parse Draft').item.json.email }}"
            },
            {
              "name": "phone",
              "stringValue": "={{ $('Parse Draft').item.json.phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e-soft_no",
      "name": "→ Soft No (Nurture)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        3504,
        -32
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "e-wrong_person",
      "name": "→ Wrong Person",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        3504,
        176
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e-ooo",
      "name": "→ Out of Office",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        3504,
        368
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e-question",
      "name": "→ Question",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        3504,
        576
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e-high_priority",
      "name": "→ High Priority",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        3504,
        784
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contact?.id || $json.id }}/notes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pit-d2b7e397-0a06-4041-a9fe-5ffee04a3948"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body: $('Lookup Lead in Master').item.json._ghl_note_body }) }}",
        "options": {}
      },
      "id": "int-ghl-note",
      "name": "GHL: Append Context Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3888,
        -432
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pit-d2b7e397-0a06-4041-a9fe-5ffee04a3948"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"pipelineId\": \"a1KKsI21F7JknQZAbNXA\", \"locationId\": \"vBGfwhaDbMUIhHW1sYSI\", \"name\": \"{{ $('Lookup Lead in Master').item.json.company }} - New Reply\", \"pipelineStageId\": \"1fcfd0da-a41b-4c9a-adef-d3e3fca4ec15\", \"status\": \"open\", \"contactId\": \"{{ $('Create or update a contact').item.json.id }}\", \"monetaryValue\": 0}",
        "options": {}
      },
      "id": "int-ghl-opp",
      "name": "GHL: Create Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4080,
        -432
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_cD2CqDLQTqbEuR5paEOeQNt5nBNfAkkSCTIdrvJhXU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toISO() }}",
            "source_inbox": "={{ $('Not Mailer-Daemon').item.json.To || 'unknown' }}",
            "email": "={{ $('Parse Classifier JSON').item.json.email }}",
            "name": "={{ $('Parse Classifier JSON').item.json.name }}",
            "company": "={{ $('Parse Classifier JSON').item.json.company }}",
            "intent": "={{ $('Parse Classifier JSON').item.json.intent }}",
            "confidence": "={{ $('Parse Classifier JSON').item.json.confidence }}",
            "key_message": "={{ $('Parse Classifier JSON').item.json.key_message }}",
            "status": "interested",
            "instantly_action": "none",
            "ghl_contact_id": "={{ $json.contact?.id || $json.id || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "timestamp", "displayName": "timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "source_inbox", "displayName": "source_inbox", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "email", "displayName": "email", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "name", "displayName": "name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "company", "displayName": "company", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "intent", "displayName": "intent", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "confidence", "displayName": "confidence", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "key_message", "displayName": "key_message", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "status", "displayName": "status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "instantly_action", "displayName": "instantly_action", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "ghl_contact_id", "displayName": "ghl_contact_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "research_summary", "displayName": "research_summary", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "recommended_products", "displayName": "recommended_products", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "notes", "displayName": "notes", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "int-sheet",
      "name": "Sheet: Log Interested",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [ 4256, -432 ],
      "credentials": { "googleSheetsOAuth2Api": { "id": "JMNK6p5QZoShwtFs", "name": "Google Sheets account 3" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "SLACK_WEBHOOK_URL_PLACEHOLDER",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Parse Draft').item.json._slack_msg }) }}",
        "options": {}
      },
      "id": "int-slack",
      "name": "Slack: Notify Interested",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 4432, -432 ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v2/block-lists-entries",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer Mjg5YzI2ZTYtZmEwZC00MGE2LThkY2MtODczNTczZmVkY2IxOkJQU3VIZEhCUnJYVw==" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"bl_value\": \"{{ $json.email }}\"}",
        "options": {}
      },
      "id": "uns-instantly",
      "name": "Instantly: Blocklist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 3680, -240 ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer pit-d2b7e397-0a06-4041-a9fe-5ffee04a3948" },
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('→ Unsubscribe (Opt-Out)').item.json._ghl_body_opt_out }}",
        "options": {}
      },
      "id": "uns-ghl",
      "name": "GHL: Create Contact + DND",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 3888, -240 ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contact?.id || $json.id }}/notes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer pit-d2b7e397-0a06-4041-a9fe-5ffee04a3948" },
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body: $('Lookup Lead in Master').item.json._ghl_note_body }) }}",
        "options": {}
      },
      "id": "uns-ghl-note",
      "name": "GHL: Append Opt-Out Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 4080, -240 ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "1_cD2CqDLQTqbEuR5paEOeQNt5nBNfAkkSCTIdrvJhXU", "mode": "id" },
        "sheetName": { "__rl": true, "value": "gid=0", "mode": "list", "cachedResultName": "Sheet1" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toISO() }}",
            "source_inbox": "={{ $('Not Mailer-Daemon').item.json.To || 'unknown' }}",
            "email": "={{ $('Parse Classifier JSON').item.json.email }}",
            "name": "={{ $('Parse Classifier JSON').item.json.name }}",
            "company": "={{ $('Parse Classifier JSON').item.json.company }}",
            "intent": "={{ $('Parse Classifier JSON').item.json.intent }}",
            "confidence": "={{ $('Parse Classifier JSON').item.json.confidence }}",
            "key_message": "={{ $('Parse Classifier JSON').item.json.key_message }}",
            "status": "opted_out",
            "instantly_action": "blocklisted",
            "ghl_contact_id": "={{ $json.contact?.id || $json.id || '' }}",
            "notes": "=DSGVO Opt-Out Quote: {{ $('Lookup Lead in Master').item.json.key_message }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "timestamp", "displayName": "timestamp", "type": "string" },
            { "id": "source_inbox", "displayName": "source_inbox", "type": "string" },
            { "id": "email", "displayName": "email", "type": "string" },
            { "id": "name", "displayName": "name", "type": "string" },
            { "id": "company", "displayName": "company", "type": "string" },
            { "id": "intent", "displayName": "intent", "type": "string" },
            { "id": "confidence", "displayName": "confidence", "type": "string" },
            { "id": "key_message", "displayName": "key_message", "type": "string" },
            { "id": "status", "displayName": "status", "type": "string" },
            { "id": "instantly_action", "displayName": "instantly_action", "type": "string" },
            { "id": "ghl_contact_id", "displayName": "ghl_contact_id", "type": "string" },
            { "id": "notes", "displayName": "notes", "type": "string" }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "uns-sheet",
      "name": "Sheet: Log Opt-Out",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [ 4256, -240 ],
      "credentials": { "googleSheetsOAuth2Api": { "id": "JMNK6p5QZoShwtFs", "name": "Google Sheets account 3" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer pit-d2b7e397-0a06-4041-a9fe-5ffee04a3948" },
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._ghl_body_nurture }}",
        "options": {}
      },
      "id": "sn-ghl",
      "name": "GHL: Create Contact (Nurture)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 3680, -32 ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contact?.id || $json.id }}/notes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer pit-d2b7e397-0a06-4041-a9fe-5ffee04a3948" },
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body: $('Lookup Lead in Master').item.json._ghl_note_body }) }}",
        "options": {}
      },
      "id": "sn-ghl-note",
      "name": "GHL: Append Nurture Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 3888, -32 ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "1_cD2CqDLQTqbEuR5paEOeQNt5nBNfAkkSCTIdrvJhXU", "mode": "id" },
        "sheetName": { "__rl": true, "value": "gid=0", "mode": "list", "cachedResultName": "Sheet1" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toISO() }}",
            "source_inbox": "={{ $('Not Mailer-Daemon').item.json.To || 'unknown' }}",
            "email": "={{ $('Parse Classifier JSON').item.json.email }}",
            "name": "={{ $('Parse Classifier JSON').item.json.name }}",
            "company": "={{ $('Parse Classifier JSON').item.json.company }}",
            "intent": "={{ $('Parse Classifier JSON').item.json.intent }}",
            "confidence": "={{ $('Parse Classifier JSON').item.json.confidence }}",
            "key_message": "={{ $('Parse Classifier JSON').item.json.key_message }}",
            "status": "nurturing",
            "instantly_action": "none",
            "ghl_contact_id": "={{ $json.contact?.id || $json.id || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "timestamp", "displayName": "timestamp", "type": "string" },
            { "id": "source_inbox", "displayName": "source_inbox", "type": "string" },
            { "id": "email", "displayName": "email", "type": "string" },
            { "id": "name", "displayName": "name", "type": "string" },
            { "id": "company", "displayName": "company", "type": "string" },
            { "id": "intent", "displayName": "intent", "type": "string" },
            { "id": "confidence", "displayName": "confidence", "type": "string" },
            { "id": "key_message", "displayName": "key_message", "type": "string" },
            { "id": "status", "displayName": "status", "type": "string" },
            { "id": "instantly_action", "displayName": "instantly_action", "type": "string" },
            { "id": "ghl_contact_id", "displayName": "ghl_contact_id", "type": "string" }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "sn-sheet",
      "name": "Sheet: Log Soft-No",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [ 4080, -32 ],
      "credentials": { "googleSheetsOAuth2Api": { "id": "JMNK6p5QZoShwtFs", "name": "Google Sheets account 3" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "SLACK_WEBHOOK_URL_PLACEHOLDER",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Parse Draft').item.json._slack_msg }) }}",
        "options": {}
      },
      "id": "sn-slack",
      "name": "Slack: Notify Soft-No",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 4256, -32 ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "1_cD2CqDLQTqbEuR5paEOeQNt5nBNfAkkSCTIdrvJhXU", "mode": "id" },
        "sheetName": { "__rl": true, "value": "gid=0", "mode": "list", "cachedResultName": "Sheet1" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toISO() }}",
            "source_inbox": "={{ $('Not Mailer-Daemon').item.json.To || 'unknown' }}",
            "email": "={{ $('Parse Classifier JSON').item.json.email }}",
            "name": "={{ $('Parse Classifier JSON').item.json.name }}",
            "company": "={{ $('Parse Classifier JSON').item.json.company }}",
            "intent": "={{ $('Parse Classifier JSON').item.json.intent }}",
            "confidence": "={{ $('Parse Classifier JSON').item.json.confidence }}",
            "key_message": "={{ $('Parse Classifier JSON').item.json.key_message }}",
            "status": "wrong_person",
            "instantly_action": "none",
            "ghl_contact_id": "={{ $json.contact?.id || $json.id || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "timestamp", "displayName": "timestamp", "type": "string" },
            { "id": "source_inbox", "displayName": "source_inbox", "type": "string" },
            { "id": "email", "displayName": "email", "type": "string" },
            { "id": "name", "displayName": "name", "type": "string" },
            { "id": "company", "displayName": "company", "type": "string" },
            { "id": "intent", "displayName": "intent", "type": "string" },
            { "id": "confidence", "displayName": "confidence", "type": "string" },
            { "id": "key_message", "displayName": "key_message", "type": "string" },
            { "id": "status", "displayName": "status", "type": "string" },
            { "id": "instantly_action", "displayName": "instantly_action", "type": "string" },
            { "id": "ghl_contact_id", "displayName": "ghl_contact_id", "type": "string" }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "wp-sheet",
      "name": "Sheet: Log Wrong Person",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [ 3680, 176 ],
      "credentials": { "googleSheetsOAuth2Api": { "id": "JMNK6p5QZoShwtFs", "name": "Google Sheets account 3" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "SLACK_WEBHOOK_URL_PLACEHOLDER",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Parse Draft').item.json._slack_msg }) }}",
        "options": {}
      },
      "id": "wp-slack",
      "name": "Slack: Notify Wrong Person",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 3888, 176 ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "1_cD2CqDLQTqbEuR5paEOeQNt5nBNfAkkSCTIdrvJhXU", "mode": "id" },
        "sheetName": { "__rl": true, "value": "gid=0", "mode": "list", "cachedResultName": "Sheet1" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toISO() }}",
            "source_inbox": "={{ $('Not Mailer-Daemon').item.json.To || 'unknown' }}",
            "email": "={{ $('Parse Classifier JSON').item.json.email }}",
            "name": "={{ $('Parse Classifier JSON').item.json.name }}",
            "company": "={{ $('Parse Classifier JSON').item.json.company }}",
            "intent": "={{ $('Parse Classifier JSON').item.json.intent }}",
            "confidence": "={{ $('Parse Classifier JSON').item.json.confidence }}",
            "key_message": "={{ $('Parse Classifier JSON').item.json.key_message }}",
            "status": "out_of_office",
            "instantly_action": "none",
            "ghl_contact_id": "={{ $json.contact?.id || $json.id || '' }}",
            "notes": "=Auto-reply, re-engage later"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "timestamp", "displayName": "timestamp", "type": "string" },
            { "id": "source_inbox", "displayName": "source_inbox", "type": "string" },
            { "id": "email", "displayName": "email", "type": "string" },
            { "id": "name", "displayName": "name", "type": "string" },
            { "id": "company", "displayName": "company", "type": "string" },
            { "id": "intent", "displayName": "intent", "type": "string" },
            { "id": "confidence", "displayName": "confidence", "type": "string" },
            { "id": "key_message", "displayName": "key_message", "type": "string" },
            { "id": "status", "displayName": "status", "type": "string" },
            { "id": "instantly_action", "displayName": "instantly_action", "type": "string" },
            { "id": "ghl_contact_id", "displayName": "ghl_contact_id", "type": "string" },
            { "id": "notes", "displayName": "notes", "type": "string" }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ooo-sheet",
      "name": "Sheet: Log Out-of-Office",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [ 3680, 368 ],
      "credentials": { "googleSheetsOAuth2Api": { "id": "JMNK6p5QZoShwtFs", "name": "Google Sheets account 3" } }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "1_cD2CqDLQTqbEuR5paEOeQNt5nBNfAkkSCTIdrvJhXU", "mode": "id" },
        "sheetName": { "__rl": true, "value": "gid=0", "mode": "list", "cachedResultName": "Sheet1" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toISO() }}",
            "source_inbox": "={{ $('Not Mailer-Daemon').item.json.To || 'unknown' }}",
            "email": "={{ $('Parse Classifier JSON').item.json.email }}",
            "name": "={{ $('Parse Classifier JSON').item.json.name }}",
            "company": "={{ $('Parse Classifier JSON').item.json.company }}",
            "intent": "={{ $('Parse Classifier JSON').item.json.intent }}",
            "confidence": "={{ $('Parse Classifier JSON').item.json.confidence }}",
            "key_message": "={{ $('Parse Classifier JSON').item.json.key_message }}",
            "status": "question",
            "instantly_action": "none",
            "ghl_contact_id": "={{ $json.contact?.id || $json.id || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "timestamp", "displayName": "timestamp", "type": "string" },
            { "id": "source_inbox", "displayName": "source_inbox", "type": "string" },
            { "id": "email", "displayName": "email", "type": "string" },
            { "id": "name", "displayName": "name", "type": "string" },
            { "id": "company", "displayName": "company", "type": "string" },
            { "id": "intent", "displayName": "intent", "type": "string" },
            { "id": "confidence", "displayName": "confidence", "type": "string" },
            { "id": "key_message", "displayName": "key_message", "type": "string" },
            { "id": "status", "displayName": "status", "type": "string" },
            { "id": "instantly_action", "displayName": "instantly_action", "type": "string" },
            { "id": "ghl_contact_id", "displayName": "ghl_contact_id", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "q-sheet",
      "name": "Sheet: Log Question",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [ 3680, 576 ],
      "credentials": { "googleSheetsOAuth2Api": { "id": "JMNK6p5QZoShwtFs", "name": "Google Sheets account 3" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "SLACK_WEBHOOK_URL_PLACEHOLDER",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Parse Draft').item.json._slack_msg }) }}",
        "options": {}
      },
      "id": "q-slack",
      "name": "Slack: Notify Question",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 3888, 576 ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer pit-d2b7e397-0a06-4041-a9fe-5ffee04a3948" },
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._ghl_body_hp) }}",
        "options": {}
      },
      "id": "hp-ghl",
      "name": "GHL: Create Contact (HIGH PRIORITY)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 3680, 784 ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contact?.id || $json.id }}/notes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer pit-d2b7e397-0a06-4041-a9fe-5ffee04a3948" },
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body: $('Lookup Lead in Master').item.json._ghl_note_body }) }}",
        "options": {}
      },
      "id": "hp-ghl-note",
      "name": "GHL: Append HP Context Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 3888, 784 ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "1_cD2CqDLQTqbEuR5paEOeQNt5nBNfAkkSCTIdrvJhXU", "mode": "id" },
        "sheetName": { "__rl": true, "value": "gid=0", "mode": "list", "cachedResultName": "Sheet1" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toISO() }}",
            "source_inbox": "={{ $('Not Mailer-Daemon').item.json.To || 'unknown' }}",
            "email": "={{ $('Parse Classifier JSON').item.json.email }}",
            "name": "={{ $('Parse Classifier JSON').item.json.name }}",
            "company": "={{ $('Parse Classifier JSON').item.json.company }}",
            "intent": "={{ $('Parse Classifier JSON').item.json.intent }}",
            "confidence": "={{ $('Parse Classifier JSON').item.json.confidence }}",
            "key_message": "={{ $('Parse Classifier JSON').item.json.key_message }}",
            "status": "high_priority",
            "instantly_action": "none",
            "ghl_contact_id": "={{ $json.contact?.id || $json.id || '' }}",
            "notes": "=REQUIRES IMMEDIATE ATTENTION"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "timestamp", "displayName": "timestamp", "type": "string" },
            { "id": "source_inbox", "displayName": "source_inbox", "type": "string" },
            { "id": "email", "displayName": "email", "type": "string" },
            { "id": "name", "displayName": "name", "type": "string" },
            { "id": "company", "displayName": "company", "type": "string" },
            { "id": "intent", "displayName": "intent", "type": "string" },
            { "id": "confidence", "displayName": "confidence", "type": "string" },
            { "id": "key_message", "displayName": "key_message", "type": "string" },
            { "id": "status", "displayName": "status", "type": "string" },
            { "id": "instantly_action", "displayName": "instantly_action", "type": "string" },
            { "id": "ghl_contact_id", "displayName": "ghl_contact_id", "type": "string" },
            { "id": "notes", "displayName": "notes", "type": "string" }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "hp-sheet",
      "name": "Sheet: Log HIGH PRIORITY",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [ 4080, 784 ],
      "credentials": { "googleSheetsOAuth2Api": { "id": "JMNK6p5QZoShwtFs", "name": "Google Sheets account 3" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "SLACK_WEBHOOK_URL_PLACEHOLDER",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Parse Draft').item.json._slack_msg }) }}",
        "options": {}
      },
      "id": "hp-slack",
      "name": "Slack: URGENT Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 4256, 784 ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [ 2992, 144 ],
      "id": "d57b491e-a3c6-4f95-8619-b6f066e59c11",
      "name": "Merge"
    },
    {
      "parameters": {
        "email": "={{ $('Parse Classifier JSON').item.json.email }}",
        "phone": "={{ $('Parse Classifier JSON').item.json.phone }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [ 3696, -432 ],
      "id": "9a9d6aac-a0bf-497f-866f-b41b6414043b",
      "name": "Create or update a contact",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "2Au6XuAVS4yC4Y7E",
          "name": "HighLevel account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail: patrick@moic-automation.de": {
      "main": [[{ "node": "Not Mailer-Daemon", "type": "main", "index": 0 }]]
    },
    "Gmail: tom.maier@moic-consulting.de": {
      "main": [[{ "node": "Not Mailer-Daemon", "type": "main", "index": 0 }]]
    },
    "Not Mailer-Daemon": {
      "main": [[{ "node": "Prep OpenAI Body", "type": "main", "index": 0 }], []]
    },
    "Prep OpenAI Body": {
      "main": [[{ "node": "OpenAI Classifier", "type": "main", "index": 0 }]]
    },
    "OpenAI Classifier": {
      "main": [[{ "node": "Parse Classifier JSON", "type": "main", "index": 0 }]]
    },
    "Parse Classifier JSON": {
      "main": [[{ "node": "Sheet: Batch Read Master", "type": "main", "index": 0 }]]
    },
    "Sheet: Batch Read Master": {
      "main": [[{ "node": "Lookup Lead in Master", "type": "main", "index": 0 }]]
    },
    "Lookup Lead in Master": {
      "main": [[{ "node": "Prep Draft Body", "type": "main", "index": 0 }]]
    },
    "Prep Draft Body": {
      "main": [[{ "node": "OpenAI Draft Reply", "type": "main", "index": 0 }]]
    },
    "OpenAI Draft Reply": {
      "main": [[{ "node": "Parse Draft", "type": "main", "index": 0 }]]
    },
    "Parse Draft": {
      "main": [[{ "node": "Switch: Source Inbox", "type": "main", "index": 0 }]]
    },
    "Switch: Source Inbox": {
      "main": [
        [{ "node": "Gmail: Create Draft (Patrick)", "type": "main", "index": 0 }],
        [{ "node": "Gmail: Create Draft (Tom)", "type": "main", "index": 0 }],
        [{ "node": "Merge", "type": "main", "index": 1 }]
      ]
    },
    "Gmail: Create Draft (Patrick)": {
      "main": [[{ "node": "Merge", "type": "main", "index": 0 }]]
    },
    "Gmail: Create Draft (Tom)": {
      "main": [[{ "node": "Merge", "type": "main", "index": 2 }]]
    },
    "Switch: Intent": {
      "main": [
        [{ "node": "→ Interested", "type": "main", "index": 0 }],
        [{ "node": "→ Unsubscribe (Opt-Out)", "type": "main", "index": 0 }],
        [{ "node": "→ Soft No (Nurture)", "type": "main", "index": 0 }],
        [{ "node": "→ Wrong Person", "type": "main", "index": 0 }],
        [{ "node": "→ Out of Office", "type": "main", "index": 0 }],
        [{ "node": "→ Question", "type": "main", "index": 0 }],
        [{ "node": "→ High Priority", "type": "main", "index": 0 }],
        [{ "node": "→ High Priority", "type": "main", "index": 0 }]
      ]
    },
    "→ Interested": { "main": [[{ "node": "Create or update a contact", "type": "main", "index": 0 }]] },
    "GHL: Append Context Note": { "main": [[{ "node": "GHL: Create Opportunity", "type": "main", "index": 0 }]] },
    "GHL: Create Opportunity": { "main": [[{ "node": "Sheet: Log Interested", "type": "main", "index": 0 }]] },
    "Sheet: Log Interested": { "main": [[{ "node": "Slack: Notify Interested", "type": "main", "index": 0 }]] },
    "→ Unsubscribe (Opt-Out)": { "main": [[{ "node": "Instantly: Blocklist", "type": "main", "index": 0 }]] },
    "Instantly: Blocklist": { "main": [[{ "node": "GHL: Create Contact + DND", "type": "main", "index": 0 }]] },
    "GHL: Create Contact + DND": { "main": [[{ "node": "GHL: Append Opt-Out Note", "type": "main", "index": 0 }]] },
    "GHL: Append Opt-Out Note": { "main": [[{ "node": "Sheet: Log Opt-Out", "type": "main", "index": 0 }]] },
    "→ Soft No (Nurture)": { "main": [[{ "node": "GHL: Create Contact (Nurture)", "type": "main", "index": 0 }]] },
    "GHL: Create Contact (Nurture)": { "main": [[{ "node": "GHL: Append Nurture Note", "type": "main", "index": 0 }]] },
    "GHL: Append Nurture Note": { "main": [[{ "node": "Sheet: Log Soft-No", "type": "main", "index": 0 }]] },
    "Sheet: Log Soft-No": { "main": [[{ "node": "Slack: Notify Soft-No", "type": "main", "index": 0 }]] },
    "→ Wrong Person": { "main": [[{ "node": "Sheet: Log Wrong Person", "type": "main", "index": 0 }]] },
    "Sheet: Log Wrong Person": { "main": [[{ "node": "Slack: Notify Wrong Person", "type": "main", "index": 0 }]] },
    "→ Out of Office": { "main": [[{ "node": "Sheet: Log Out-of-Office", "type": "main", "index": 0 }]] },
    "→ Question": { "main": [[{ "node": "Sheet: Log Question", "type": "main", "index": 0 }]] },
    "Sheet: Log Question": { "main": [[{ "node": "Slack: Notify Question", "type": "main", "index": 0 }]] },
    "→ High Priority": { "main": [[{ "node": "GHL: Create Contact (HIGH PRIORITY)", "type": "main", "index": 0 }]] },
    "GHL: Create Contact (HIGH PRIORITY)": { "main": [[{ "node": "GHL: Append HP Context Note", "type": "main", "index": 0 }]] },
    "GHL: Append HP Context Note": { "main": [[{ "node": "Sheet: Log HIGH PRIORITY", "type": "main", "index": 0 }]] },
    "Sheet: Log HIGH PRIORITY": { "main": [[{ "node": "Slack: URGENT Alert", "type": "main", "index": 0 }]] },
    "Merge": { "main": [[{ "node": "Switch: Intent", "type": "main", "index": 0 }]] },
    "Create or update a contact": { "main": [[{ "node": "GHL: Append Context Note", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "1c4dcf01-4974-4446-8a15-53f89d6fa432",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62cf909374212ff7fd06314d6dd138ff2730592db24a415b444432b691a73f1f"
  },
  "id": "YPxVDvnjtNzgSqqL",
  "tags": [
    {
      "updatedAt": "2026-04-20T05:32:20.489Z",
      "createdAt": "2026-04-20T05:32:20.489Z",
      "id": "haU8DFMTket4jU8P",
      "name": "Claude Code Integration"
    },
    {
      "updatedAt": "2026-04-20T05:32:20.661Z",
      "createdAt": "2026-04-20T05:32:20.661Z",
      "id": "vdVaui9HvnJJY27W",
      "name": "Positive Reply Research"
    }
  ]
}
