divinecore-v2/worker/sales_os/workflows/n8n/stage-auto-promote-v1.json
{
  "name": "[DRAFT] stage-auto-promote-v1",
  "nodes": [
    {
      "id": "node-schedule",
      "name": "Schedule: Every 5 Min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        400
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      }
    },
    {
      "id": "node-gmail-patrick",
      "name": "Gmail: Get Sent (Patrick)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        420,
        280
      ],
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 25,
        "filters": {
          "q": "in:sent newer_than:15m"
        },
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "T0HLzZyiARsBnTKE",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "id": "node-gmail-tom",
      "name": "Gmail: Get Sent (Tom)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        420,
        520
      ],
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 25,
        "filters": {
          "q": "in:sent newer_than:15m"
        },
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "b69SerzvJMiMZHBk",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "id": "node-extract-patrick",
      "name": "Extract Recipient (Patrick)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        280
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const m = it.json;\n  function getHeader(name) {\n    const flat = m[name] || m[name.toLowerCase()];\n    if (flat) return flat;\n    const arr = (m.payload && m.payload.headers) || [];\n    const h = arr.find(x => (x.name || '').toLowerCase() === name.toLowerCase());\n    return h ? h.value : '';\n  }\n  const toRaw = getHeader('To') || '';\n  // Extract first email from \"Name <email>\" or plain \"email, email\"\n  const match = toRaw.match(/[\\w.+-]+@[\\w-]+\\.[\\w.-]+/);\n  if (!match) continue;\n  out.push({ json: {\n    inbox: 'patrick',\n    recipient_email: match[0].toLowerCase(),\n    thread_id: m.threadId || '',\n    message_id: m.id || '',\n    sent_at: parseInt(m.internalDate || '0'),\n  }});\n}\nreturn out;"
      }
    },
    {
      "id": "node-extract-tom",
      "name": "Extract Recipient (Tom)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        520
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const m = it.json;\n  function getHeader(name) {\n    const flat = m[name] || m[name.toLowerCase()];\n    if (flat) return flat;\n    const arr = (m.payload && m.payload.headers) || [];\n    const h = arr.find(x => (x.name || '').toLowerCase() === name.toLowerCase());\n    return h ? h.value : '';\n  }\n  const toRaw = getHeader('To') || '';\n  const match = toRaw.match(/[\\w.+-]+@[\\w-]+\\.[\\w.-]+/);\n  if (!match) continue;\n  out.push({ json: {\n    inbox: 'tom',\n    recipient_email: match[0].toLowerCase(),\n    thread_id: m.threadId || '',\n    message_id: m.id || '',\n    sent_at: parseInt(m.internalDate || '0'),\n  }});\n}\nreturn out;"
      }
    },
    {
      "id": "node-merge",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        860,
        400
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "node-ghl-lookup",
      "name": "GHL: Lookup Contact by Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        400
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locationId",
              "value": "vBGfwhaDbMUIhHW1sYSI"
            },
            {
              "name": "query",
              "value": "={{ $json.recipient_email }}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pit-d2b7e397-0a06-4041-a9fe-5ffee04a3948"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "node-pick-contact",
      "name": "Pick Contact (or skip)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        400
      ],
      "parameters": {
        "jsCode": "const lookupResp = $input.first().json;\nconst ctx = $('Merge').item.json;\nconst contacts = (lookupResp && lookupResp.contacts) || [];\n// Email match strict\nconst found = contacts.find(c => (c.email || '').toLowerCase() === ctx.recipient_email);\nif (!found) return [{ json: { skip: true, reason: 'no_contact' } }];\nreturn [{ json: {\n  skip: false,\n  contact_id: found.id,\n  contact_email: found.email,\n  contact_first_name: found.firstName || '',\n  contact_last_name: found.lastName || '',\n  recipient_email: ctx.recipient_email,\n  thread_id: ctx.thread_id,\n  inbox: ctx.inbox,\n}}];"
      }
    },
    {
      "id": "node-if-found",
      "name": "IF: Contact Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        400
      ],
      "parameters": {
        "options": {
          "caseSensitive": true,
          "typeValidation": "strict"
        },
        "combinator": "and",
        "conditions": [
          {
            "id": "c1",
            "leftValue": "={{ $json.skip }}",
            "rightValue": false,
            "operator": {
              "type": "boolean",
              "operation": "equals"
            }
          }
        ]
      }
    },
    {
      "id": "node-ghl-get-opps",
      "name": "GHL: Get Opps for Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        320
      ],
      "parameters": {
        "method": "GET",
        "url": "https://services.leadconnectorhq.com/opportunities/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "location_id",
              "value": "vBGfwhaDbMUIhHW1sYSI"
            },
            {
              "name": "contact_id",
              "value": "={{ $json.contact_id }}"
            },
            {
              "name": "pipeline_id",
              "value": "a1KKsI21F7JknQZAbNXA"
            },
            {
              "name": "pipeline_stage_id",
              "value": "1fcfd0da-a41b-4c9a-adef-d3e3fca4ec15"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pit-d2b7e397-0a06-4041-a9fe-5ffee04a3948"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "node-pick-opp",
      "name": "Pick Opp (NEW_REPLY only)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        320
      ],
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst ctx = $('Pick Contact (or skip)').item.json;\nconst opps = (resp && resp.opportunities) || [];\n// Doppel-Filter: Stage muss NEW_REPLY sein (search query macht das schon, aber wir checken)\nconst opp = opps.find(o => o.pipelineStageId === '1fcfd0da-a41b-4c9a-adef-d3e3fca4ec15');\nif (!opp) return [{ json: { skip: true, reason: 'no_opp_in_new_reply' } }];\nreturn [{ json: {\n  skip: false,\n  opportunity_id: opp.id,\n  contact_id: ctx.contact_id,\n  contact_email: ctx.contact_email,\n  thread_id: ctx.thread_id,\n  inbox: ctx.inbox,\n}}];"
      }
    },
    {
      "id": "node-if-opp",
      "name": "IF: Opp in NEW_REPLY",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2180,
        320
      ],
      "parameters": {
        "options": {
          "caseSensitive": true,
          "typeValidation": "strict"
        },
        "combinator": "and",
        "conditions": [
          {
            "id": "c1",
            "leftValue": "={{ $json.skip }}",
            "rightValue": false,
            "operator": {
              "type": "boolean",
              "operation": "equals"
            }
          }
        ]
      }
    },
    {
      "id": "node-ghl-update-opp",
      "name": "GHL: Promote Opp -> AWAITING_PROSPECT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        220
      ],
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $json.opportunity_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pit-d2b7e397-0a06-4041-a9fe-5ffee04a3948"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pipelineStageId\": \"abe88380-e2b2-4fbd-a672-d0c61c9d4d4f\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "node-ghl-update-contact",
      "name": "GHL: Set thread_id + reset count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        220
      ],
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Pick Opp (NEW_REPLY only)').item.json.contact_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pit-d2b7e397-0a06-4041-a9fe-5ffee04a3948"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customFields\": [\n    { \"id\": \"8AZ4Ww7zK6EdI05jpZpx\", \"field_value\": \"0\" },\n    { \"id\": \"td5BLjONYErrA2XoHm35\", \"field_value\": \"{{ $('Pick Opp (NEW_REPLY only)').item.json.thread_id }}\" }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "node-slack",
      "name": "Slack: Promotion Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2840,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "SLACK_WEBHOOK_URL_PLACEHOLDER",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \":arrow_up: *Stage Auto-Promote*: {{ $('Pick Opp (NEW_REPLY only)').item.json.contact_email }} (inbox: {{ $('Pick Opp (NEW_REPLY only)').item.json.inbox }}) -> AWAITING_PROSPECT, count reset to 0\"\n}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule: Every 5 Min": {
      "main": [
        [
          {
            "node": "Gmail: Get Sent (Patrick)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail: Get Sent (Tom)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Get Sent (Patrick)": {
      "main": [
        [
          {
            "node": "Extract Recipient (Patrick)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Get Sent (Tom)": {
      "main": [
        [
          {
            "node": "Extract Recipient (Tom)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Recipient (Patrick)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Recipient (Tom)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "GHL: Lookup Contact by Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL: Lookup Contact by Email": {
      "main": [
        [
          {
            "node": "Pick Contact (or skip)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Contact (or skip)": {
      "main": [
        [
          {
            "node": "IF: Contact Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Contact Found": {
      "main": [
        [
          {
            "node": "GHL: Get Opps for Contact",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "GHL: Get Opps for Contact": {
      "main": [
        [
          {
            "node": "Pick Opp (NEW_REPLY only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Opp (NEW_REPLY only)": {
      "main": [
        [
          {
            "node": "IF: Opp in NEW_REPLY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Opp in NEW_REPLY": {
      "main": [
        [
          {
            "node": "GHL: Promote Opp -> AWAITING_PROSPECT",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "GHL: Promote Opp -> AWAITING_PROSPECT": {
      "main": [
        [
          {
            "node": "GHL: Set thread_id + reset count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL: Set thread_id + reset count": {
      "main": [
        [
          {
            "node": "Slack: Promotion Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}