pulse/workflows/DISCORD-TRIGGER.json
{"updatedAt":"2026-05-02T08:24:48.217Z","createdAt":"2026-04-21T06:59:14.148Z","id":"s2r2Vm7UNkkflye5","name":"Discord chat received Trigger","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"16202f28-06f5-4d4a-8060-97dcd9986c3b","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-368,-112],"id":"94a30737-9227-4d8d-b268-c9936e5ac8d5","name":"Webhook","webhookId":"16202f28-06f5-4d4a-8060-97dcd9986c3b"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"leftValue":"={{ $json.body.content }}","rightValue":"<@1495645071608119407>","operator":{"type":"string","operation":"contains"},"id":"fee3e4c5-c826-4d6f-b7a3-0bdd64a9edd3"}],"combinator":"and"},"renameOutput":true,"outputKey":"Pulse - called in server"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"d67f3f1f-fab4-4639-8945-8508d3c5d951","leftValue":"={{ $json.body.channel }}","rightValue":"pulse","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pulse - called privately"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"762c6fce-f58d-427b-b323-86c431f68dd3","leftValue":"={{ $json.body.content }}","rightValue":"<@1496791428020572230>","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IMAGYN"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"05ce8f0e-2799-4918-95d0-1e52c0f4f59b","leftValue":"={{ $json.body.content }}","rightValue":"<@1497563801090789386>","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"LYRA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"27b60220-29e1-4e0c-9324-c3b7f26863cc","leftValue":"={{ $json.body.content }}","rightValue":"<@1497565876491128892>","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Forge"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"4a5591c4-7725-43ce-bf14-afd8480360e5","leftValue":"={{ $json.body.content }}","rightValue":"<@1497565454087225484>","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Montage"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"1daedfe9-e2e2-4e3e-9488-7db381360f4c","leftValue":"={{ $json.body.content }}","rightValue":"<@1497566548041400490>","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"VigiL"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"fdf13d8d-a334-475f-a05a-4716c69cf6ce","leftValue":"={{ $json.body.channel }}","rightValue":"branding","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"branding"}]},"looseTypeValidation":true,"options":{"allMatchingOutputs":false}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-96,-176],"id":"9fabb65a-7fcb-4d83-9dc2-c791d68dec3a","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"veDyMBIC6uCoULYb","mode":"list","cachedResultUrl":"/workflow/veDyMBIC6uCoULYb","cachedResultName":"Pulse - The Managing agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $('Webhook').item.json.body.content }}","Username":"={{ $('Webhook').item.json.body.author }}","server_or_dm":"server","authorId":"={{ $json.body.authorId }}","channel_Id":"={{ $json.body.channelId }}","messageId":"={{ $json.body.messageId }}"},"matchingColumns":[],"schema":[{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"server_or_dm","displayName":"server_or_dm","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"authorId","displayName":"authorId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel_Id","displayName":"channel_Id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[496,-704],"id":"d2f83b5a-6460-4f90-bab3-d438e8c3a350","name":"Server msg"},{"parameters":{"workflowId":{"__rl":true,"value":"veDyMBIC6uCoULYb","mode":"list","cachedResultUrl":"/workflow/veDyMBIC6uCoULYb","cachedResultName":"Pulse - The Managing agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Username":"={{ $json.body.author }}","message":"={{ $json.body.content }}","server_or_dm":"dm","authorId":"={{ $('Webhook').item.json.body.authorId }}","channel_Id":"={{ $('Webhook').item.json.body.channelId }}","messageId":"={{ $('Webhook').item.json.body.messageId }}"},"matchingColumns":[],"schema":[{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"server_or_dm","displayName":"server_or_dm","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"authorId","displayName":"authorId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel_Id","displayName":"channel_Id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[496,-528],"id":"bf9ef130-883a-4f70-a345-60db1c44acf4","name":"Private message"},{"parameters":{"workflowId":{"__rl":true,"value":"16nFikebTqGlVJ1b","mode":"list","cachedResultUrl":"/workflow/16nFikebTqGlVJ1b","cachedResultName":"IMAGYN"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Username":"={{ $json.body.author }}","message":"={{ $json.body.content }}","authorId":"={{ $json.body.authorId }}","channel_Id":"={{ $json.body.channelId }}","messageId":"={{ $json.body.messageId }}"},"matchingColumns":[],"schema":[{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"authorId","displayName":"authorId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel_Id","displayName":"channel_Id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[496,-352],"id":"b7cf448f-3e42-432e-bef1-6785ba5f102f","name":"Call 'IMAGYN'"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"85a20c90-00fd-420d-861a-6fb34ecbb2d6","leftValue":"={{ $json.body.channel }}","rightValue":"branding","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[304,-336],"id":"3893376d-92e0-4373-884e-7ee5b7612d81","name":"If"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channelId }}","mode":"id"},"content":"=Hi  {{ $('Webhook').item.json.body.author }}, i am a branding agent i am not allowed to work outside the channel named 'branding'. Please tag me there and let's IMAGINE!","options":{"message_reference":"={{ $('Webhook').item.json.body.messageId }}","tts":true},"embeds":{"values":[]},"files":{"values":[]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[496,-160],"id":"359e85b2-4e29-49f6-bfa0-5363b4fee620","name":"Send a message","webhookId":"c8940f7f-c60d-41ef-984a-10ec28663d32","credentials":{"discordBotApi":{"id":"Q3B4Twitp8hF5iBr","name":"IMAGYN"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"branding","mode":"list","cachedResultName":"branding"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"imagyn_global_memory","timestamp":0},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"channel_id","displayName":"channel_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thread_id","displayName":"thread_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_thread","displayName":"is_thread","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"author","displayName":"author","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"author_id","displayName":"author_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"display_name","displayName":"display_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mentions","displayName":"mentions","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":false},{"id":"is_reply","displayName":"is_reply","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"reply_to_message_id","displayName":"reply_to_message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_dm","displayName":"is_dm","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"is_agent","displayName":"is_agent","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"agent_name","displayName":"agent_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-96,400],"id":"cb60d765-a949-43cc-b045-f36bf263ee44","name":"Insert rows in a table","credentials":{"postgres":{"id":"hyGI2SOXo5eLTVkI","name":"DivineSide - Mayank"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"85a20c90-00fd-420d-861a-6fb34ecbb2d6","leftValue":"={{ $json.body.channel }}","rightValue":"branding","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[912,-560],"id":"ab61591e-ab9a-4101-b0f1-58e16330dc87","name":"If1"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channelId }}","mode":"id"},"content":"=Hi  {{ $('Webhook').item.json.body.author }}, i am a branding agent i am not allowed to work outside the channel named 'branding'. Please tag me there and let's IMAGINE!","options":{"message_reference":"={{ $('Webhook').item.json.body.messageId }}","tts":true},"embeds":{"values":[]},"files":{"values":[]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1104,-384],"id":"5981d775-3109-4a0e-97f5-baf62b929c9b","name":"Send a message1","webhookId":"c8940f7f-c60d-41ef-984a-10ec28663d32","credentials":{"discordBotApi":{"id":"Q3B4Twitp8hF5iBr","name":"IMAGYN"}}},{"parameters":{"workflowId":{"__rl":true,"value":"mBnrPlsf94ADHvFh","mode":"list","cachedResultUrl":"/workflow/mBnrPlsf94ADHvFh","cachedResultName":"LYRA"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Username":"={{ $json.body.author }}","message":"={{ $json.body.content }}","authorId":"={{ $json.body.authorId }}","channel_Id":"={{ $json.body.channelId }}","messageId":"={{ $json.body.messageId }}"},"matchingColumns":[],"schema":[{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"authorId","displayName":"authorId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"channel_Id","displayName":"channel_Id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1104,-576],"id":"6e626a04-988d-45f1-a32a-d8a6cdc67e21","name":"Call 'LYRA'"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"85a20c90-00fd-420d-861a-6fb34ecbb2d6","leftValue":"={{ $json.body.channel }}","rightValue":"branding","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[640,0],"id":"8ac59165-1bbf-45b3-be47-37c8ac75be44","name":"If2"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channelId }}","mode":"id"},"content":"=Hi  {{ $('Webhook').item.json.body.author }}, i am a branding agent i am not allowed to work outside the channel named 'branding'. Please tag me there and let's IMAGINE!","options":{"message_reference":"={{ $('Webhook').item.json.body.messageId }}","tts":true},"embeds":{"values":[]},"files":{"values":[]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[832,176],"id":"6cd11240-6a8e-44c4-96bc-a4844ed46989","name":"Send a message2","webhookId":"c8940f7f-c60d-41ef-984a-10ec28663d32","credentials":{"discordBotApi":{"id":"Q3B4Twitp8hF5iBr","name":"IMAGYN"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"85a20c90-00fd-420d-861a-6fb34ecbb2d6","leftValue":"={{ $json.body.channel }}","rightValue":"branding","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[912,-144],"id":"0fa048e3-8d85-4518-8d29-35c7b4d0dfe4","name":"If3"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channelId }}","mode":"id"},"content":"=Hi  {{ $('Webhook').item.json.body.author }}, i am a branding agent i am not allowed to work outside the channel named 'branding'. Please tag me there and let's IMAGINE!","options":{"message_reference":"={{ $('Webhook').item.json.body.messageId }}","tts":true},"embeds":{"values":[]},"files":{"values":[]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1104,32],"id":"81337ae8-c9eb-440c-a3b7-8e83b9c8e903","name":"Send a message3","webhookId":"c8940f7f-c60d-41ef-984a-10ec28663d32","credentials":{"discordBotApi":{"id":"Q3B4Twitp8hF5iBr","name":"IMAGYN"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"85a20c90-00fd-420d-861a-6fb34ecbb2d6","leftValue":"={{ $json.body.channel }}","rightValue":"branding","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[656,384],"id":"b7cee20e-a945-473e-b6f1-371db4e03aa2","name":"If4"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channelId }}","mode":"id"},"content":"=Hi  {{ $('Webhook').item.json.body.author }}, i am a branding agent i am not allowed to work outside the channel named 'branding'. Please tag me there and let's IMAGINE!","options":{"message_reference":"={{ $('Webhook').item.json.body.messageId }}","tts":true},"embeds":{"values":[]},"files":{"values":[]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[848,560],"id":"0e94c4e9-64f8-4ea5-99dc-93bc7963e013","name":"Send a message4","webhookId":"c8940f7f-c60d-41ef-984a-10ec28663d32","credentials":{"discordBotApi":{"id":"Q3B4Twitp8hF5iBr","name":"IMAGYN"}}},{"parameters":{"workflowId":{"__rl":true,"value":"DP41MDoslvYIE4EF","mode":"list","cachedResultUrl":"/workflow/DP41MDoslvYIE4EF","cachedResultName":"Vigil"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Username":"={{ $json.body.author }}","message":"={{ $json.body.content }}","authorId":"={{ $json.body.authorId }}","channel_Id":"={{ $json.body.channelId }}","messageId":"={{ $json.body.messageId }}"},"matchingColumns":[],"schema":[{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"authorId","displayName":"authorId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"channel_Id","displayName":"channel_Id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[848,368],"id":"414252d6-1325-45ea-9dc9-67242e4a1e58","name":"Call 'VigiL'"},{"parameters":{"workflowId":{"__rl":true,"value":"Hy8z45Fq5stEKPmj","mode":"list","cachedResultUrl":"/workflow/Hy8z45Fq5stEKPmj","cachedResultName":"FORGE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Username":"={{ $json.body.author }}","message":"={{ $json.body.content }}","authorId":"={{ $json.body.authorId }}","channel_Id":"={{ $json.body.channelId }}","messageId":"={{ $json.body.messageId }}"},"matchingColumns":[],"schema":[{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"authorId","displayName":"authorId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"channel_Id","displayName":"channel_Id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[832,-16],"id":"39d0191a-2fde-4e48-b537-5f4ab5e8ce06","name":"Call 'Forge'"},{"parameters":{"workflowId":{"__rl":true,"value":"h9vqY6N7Cv5RRmsB","mode":"list","cachedResultUrl":"/workflow/h9vqY6N7Cv5RRmsB","cachedResultName":"Montage"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Username":"={{ $json.body.author }}","message":"={{ $json.body.content }}","authorId":"={{ $json.body.authorId }}","channel_Id":"={{ $json.body.channelId }}","messageId":"={{ $json.body.messageId }}"},"matchingColumns":[],"schema":[{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"authorId","displayName":"authorId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"channel_Id","displayName":"channel_Id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1104,-160],"id":"d91b37a3-e73e-49fc-a8e6-000b28a0e28c","name":"Call 'Montage'"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Server msg","type":"main","index":0}],[{"node":"Private message","type":"main","index":0}],[{"node":"If","type":"main","index":0}],[{"node":"If1","type":"main","index":0}],[{"node":"If2","type":"main","index":0}],[{"node":"If3","type":"main","index":0}],[{"node":"If4","type":"main","index":0}],[{"node":"Insert rows in a table","type":"main","index":0}]]},"If":{"main":[[{"node":"Call 'IMAGYN'","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}]]},"If1":{"main":[[{"node":"Call 'LYRA'","type":"main","index":0}],[{"node":"Send a message1","type":"main","index":0}]]},"If2":{"main":[[{"node":"Call 'Forge'","type":"main","index":0}],[{"node":"Send a message2","type":"main","index":0}]]},"If3":{"main":[[{"node":"Call 'Montage'","type":"main","index":0}],[{"node":"Send a message3","type":"main","index":0}]]},"If4":{"main":[[{"node":"Call 'VigiL'","type":"main","index":0}],[{"node":"Send a message4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.srv1445995.hstgr.cloud","content-length":"427","content-type":"application/json","x-forwarded-for":"187.124.96.99","x-forwarded-host":"n8n.srv1445995.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"37a03f88d82b","x-real-ip":"187.124.96.99","accept-encoding":"gzip"},"params":{},"query":{},"body":{"content":"<@1497566548041400490> hi","messageId":"1498262806460498140","timestamp":1777284089437,"author":"mayank082527","authorId":"1309128820493783093","displayName":"Mayank","roles":["@everyone"],"channel":"branding","channelId":"1495654627322892319","guildName":"DivineSide","guildId":"1489255611857371266","hasAttachments":false,"attachments":[],"mentions":["VigiL"],"isReply":false,"replyToMessageId":null,"isDM":false},"webhookUrl":"https://n8n.srv1445995.hstgr.cloud/webhook/16202f28-06f5-4d4a-8060-97dcd9986c3b","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"b9b40bf5-17c7-4b50-8d04-e294b2b0d7e6","activeVersionId":"b9b40bf5-17c7-4b50-8d04-e294b2b0d7e6","versionCounter":278,"triggerCount":1,"shared":[{"updatedAt":"2026-04-21T06:59:14.156Z","createdAt":"2026-04-21T06:59:14.156Z","role":"workflow:owner","workflowId":"s2r2Vm7UNkkflye5","projectId":"6RWkVecs5xXu2XCo","project":{"updatedAt":"2026-03-01T08:54:25.743Z","createdAt":"2026-03-01T08:42:31.300Z","id":"6RWkVecs5xXu2XCo","name":"Mayank Rawat <mayankrawat000072@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"155ab905-7948-43b7-ad2f-42467e89354a"}}],"tags":[{"updatedAt":"2026-05-02T08:24:43.212Z","createdAt":"2026-05-02T08:24:43.212Z","id":"IoPUff8J0GWyWDo5","name":"AIOS"}],"activeVersion":{"updatedAt":"2026-05-02T07:44:44.000Z","createdAt":"2026-05-02T07:44:43.449Z","versionId":"b9b40bf5-17c7-4b50-8d04-e294b2b0d7e6","workflowId":"s2r2Vm7UNkkflye5","nodes":[{"parameters":{"httpMethod":"POST","path":"16202f28-06f5-4d4a-8060-97dcd9986c3b","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-368,-112],"id":"94a30737-9227-4d8d-b268-c9936e5ac8d5","name":"Webhook","webhookId":"16202f28-06f5-4d4a-8060-97dcd9986c3b"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"leftValue":"={{ $json.body.content }}","rightValue":"<@1495645071608119407>","operator":{"type":"string","operation":"contains"},"id":"fee3e4c5-c826-4d6f-b7a3-0bdd64a9edd3"}],"combinator":"and"},"renameOutput":true,"outputKey":"Pulse - called in server"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"d67f3f1f-fab4-4639-8945-8508d3c5d951","leftValue":"={{ $json.body.channel }}","rightValue":"pulse","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pulse - called privately"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"762c6fce-f58d-427b-b323-86c431f68dd3","leftValue":"={{ $json.body.content }}","rightValue":"<@1496791428020572230>","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IMAGYN"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"05ce8f0e-2799-4918-95d0-1e52c0f4f59b","leftValue":"={{ $json.body.content }}","rightValue":"<@1497563801090789386>","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"LYRA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"27b60220-29e1-4e0c-9324-c3b7f26863cc","leftValue":"={{ $json.body.content }}","rightValue":"<@1497565876491128892>","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Forge"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"4a5591c4-7725-43ce-bf14-afd8480360e5","leftValue":"={{ $json.body.content }}","rightValue":"<@1497565454087225484>","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Montage"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"1daedfe9-e2e2-4e3e-9488-7db381360f4c","leftValue":"={{ $json.body.content }}","rightValue":"<@1497566548041400490>","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"VigiL"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"fdf13d8d-a334-475f-a05a-4716c69cf6ce","leftValue":"={{ $json.body.channel }}","rightValue":"branding","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"branding"}]},"looseTypeValidation":true,"options":{"allMatchingOutputs":false}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-96,-176],"id":"9fabb65a-7fcb-4d83-9dc2-c791d68dec3a","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"veDyMBIC6uCoULYb","mode":"list","cachedResultUrl":"/workflow/veDyMBIC6uCoULYb","cachedResultName":"Pulse - The Managing agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $('Webhook').item.json.body.content }}","Username":"={{ $('Webhook').item.json.body.author }}","server_or_dm":"server","authorId":"={{ $json.body.authorId }}","channel_Id":"={{ $json.body.channelId }}","messageId":"={{ $json.body.messageId }}"},"matchingColumns":[],"schema":[{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"server_or_dm","displayName":"server_or_dm","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"authorId","displayName":"authorId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel_Id","displayName":"channel_Id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[496,-704],"id":"d2f83b5a-6460-4f90-bab3-d438e8c3a350","name":"Server msg"},{"parameters":{"workflowId":{"__rl":true,"value":"veDyMBIC6uCoULYb","mode":"list","cachedResultUrl":"/workflow/veDyMBIC6uCoULYb","cachedResultName":"Pulse - The Managing agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Username":"={{ $json.body.author }}","message":"={{ $json.body.content }}","server_or_dm":"dm","authorId":"={{ $('Webhook').item.json.body.authorId }}","channel_Id":"={{ $('Webhook').item.json.body.channelId }}","messageId":"={{ $('Webhook').item.json.body.messageId }}"},"matchingColumns":[],"schema":[{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"server_or_dm","displayName":"server_or_dm","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"authorId","displayName":"authorId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel_Id","displayName":"channel_Id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[496,-528],"id":"bf9ef130-883a-4f70-a345-60db1c44acf4","name":"Private message"},{"parameters":{"workflowId":{"__rl":true,"value":"16nFikebTqGlVJ1b","mode":"list","cachedResultUrl":"/workflow/16nFikebTqGlVJ1b","cachedResultName":"IMAGYN"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Username":"={{ $json.body.author }}","message":"={{ $json.body.content }}","authorId":"={{ $json.body.authorId }}","channel_Id":"={{ $json.body.channelId }}","messageId":"={{ $json.body.messageId }}"},"matchingColumns":[],"schema":[{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"authorId","displayName":"authorId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel_Id","displayName":"channel_Id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[496,-352],"id":"b7cf448f-3e42-432e-bef1-6785ba5f102f","name":"Call 'IMAGYN'"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"85a20c90-00fd-420d-861a-6fb34ecbb2d6","leftValue":"={{ $json.body.channel }}","rightValue":"branding","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[304,-336],"id":"3893376d-92e0-4373-884e-7ee5b7612d81","name":"If"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channelId }}","mode":"id"},"content":"=Hi  {{ $('Webhook').item.json.body.author }}, i am a branding agent i am not allowed to work outside the channel named 'branding'. Please tag me there and let's IMAGINE!","options":{"message_reference":"={{ $('Webhook').item.json.body.messageId }}","tts":true},"embeds":{"values":[]},"files":{"values":[]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[496,-160],"id":"359e85b2-4e29-49f6-bfa0-5363b4fee620","name":"Send a message","webhookId":"c8940f7f-c60d-41ef-984a-10ec28663d32","credentials":{"discordBotApi":{"id":"Q3B4Twitp8hF5iBr","name":"IMAGYN"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"branding","mode":"list","cachedResultName":"branding"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"imagyn_global_memory","timestamp":0},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"channel_id","displayName":"channel_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thread_id","displayName":"thread_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_thread","displayName":"is_thread","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"author","displayName":"author","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"author_id","displayName":"author_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"display_name","displayName":"display_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mentions","displayName":"mentions","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":false},{"id":"is_reply","displayName":"is_reply","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"reply_to_message_id","displayName":"reply_to_message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_dm","displayName":"is_dm","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"is_agent","displayName":"is_agent","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"agent_name","displayName":"agent_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-96,400],"id":"cb60d765-a949-43cc-b045-f36bf263ee44","name":"Insert rows in a table","credentials":{"postgres":{"id":"hyGI2SOXo5eLTVkI","name":"DivineSide - Mayank"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"85a20c90-00fd-420d-861a-6fb34ecbb2d6","leftValue":"={{ $json.body.channel }}","rightValue":"branding","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[912,-560],"id":"ab61591e-ab9a-4101-b0f1-58e16330dc87","name":"If1"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channelId }}","mode":"id"},"content":"=Hi  {{ $('Webhook').item.json.body.author }}, i am a branding agent i am not allowed to work outside the channel named 'branding'. Please tag me there and let's IMAGINE!","options":{"message_reference":"={{ $('Webhook').item.json.body.messageId }}","tts":true},"embeds":{"values":[]},"files":{"values":[]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1104,-384],"id":"5981d775-3109-4a0e-97f5-baf62b929c9b","name":"Send a message1","webhookId":"c8940f7f-c60d-41ef-984a-10ec28663d32","credentials":{"discordBotApi":{"id":"Q3B4Twitp8hF5iBr","name":"IMAGYN"}}},{"parameters":{"workflowId":{"__rl":true,"value":"mBnrPlsf94ADHvFh","mode":"list","cachedResultUrl":"/workflow/mBnrPlsf94ADHvFh","cachedResultName":"LYRA"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Username":"={{ $json.body.author }}","message":"={{ $json.body.content }}","authorId":"={{ $json.body.authorId }}","channel_Id":"={{ $json.body.channelId }}","messageId":"={{ $json.body.messageId }}"},"matchingColumns":[],"schema":[{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"authorId","displayName":"authorId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"channel_Id","displayName":"channel_Id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1104,-576],"id":"6e626a04-988d-45f1-a32a-d8a6cdc67e21","name":"Call 'LYRA'"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"85a20c90-00fd-420d-861a-6fb34ecbb2d6","leftValue":"={{ $json.body.channel }}","rightValue":"branding","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[640,0],"id":"8ac59165-1bbf-45b3-be47-37c8ac75be44","name":"If2"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channelId }}","mode":"id"},"content":"=Hi  {{ $('Webhook').item.json.body.author }}, i am a branding agent i am not allowed to work outside the channel named 'branding'. Please tag me there and let's IMAGINE!","options":{"message_reference":"={{ $('Webhook').item.json.body.messageId }}","tts":true},"embeds":{"values":[]},"files":{"values":[]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[832,176],"id":"6cd11240-6a8e-44c4-96bc-a4844ed46989","name":"Send a message2","webhookId":"c8940f7f-c60d-41ef-984a-10ec28663d32","credentials":{"discordBotApi":{"id":"Q3B4Twitp8hF5iBr","name":"IMAGYN"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"85a20c90-00fd-420d-861a-6fb34ecbb2d6","leftValue":"={{ $json.body.channel }}","rightValue":"branding","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[912,-144],"id":"0fa048e3-8d85-4518-8d29-35c7b4d0dfe4","name":"If3"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channelId }}","mode":"id"},"content":"=Hi  {{ $('Webhook').item.json.body.author }}, i am a branding agent i am not allowed to work outside the channel named 'branding'. Please tag me there and let's IMAGINE!","options":{"message_reference":"={{ $('Webhook').item.json.body.messageId }}","tts":true},"embeds":{"values":[]},"files":{"values":[]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1104,32],"id":"81337ae8-c9eb-440c-a3b7-8e83b9c8e903","name":"Send a message3","webhookId":"c8940f7f-c60d-41ef-984a-10ec28663d32","credentials":{"discordBotApi":{"id":"Q3B4Twitp8hF5iBr","name":"IMAGYN"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"85a20c90-00fd-420d-861a-6fb34ecbb2d6","leftValue":"={{ $json.body.channel }}","rightValue":"branding","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[656,384],"id":"b7cee20e-a945-473e-b6f1-371db4e03aa2","name":"If4"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channelId }}","mode":"id"},"content":"=Hi  {{ $('Webhook').item.json.body.author }}, i am a branding agent i am not allowed to work outside the channel named 'branding'. Please tag me there and let's IMAGINE!","options":{"message_reference":"={{ $('Webhook').item.json.body.messageId }}","tts":true},"embeds":{"values":[]},"files":{"values":[]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[848,560],"id":"0e94c4e9-64f8-4ea5-99dc-93bc7963e013","name":"Send a message4","webhookId":"c8940f7f-c60d-41ef-984a-10ec28663d32","credentials":{"discordBotApi":{"id":"Q3B4Twitp8hF5iBr","name":"IMAGYN"}}},{"parameters":{"workflowId":{"__rl":true,"value":"DP41MDoslvYIE4EF","mode":"list","cachedResultUrl":"/workflow/DP41MDoslvYIE4EF","cachedResultName":"Vigil"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Username":"={{ $json.body.author }}","message":"={{ $json.body.content }}","authorId":"={{ $json.body.authorId }}","channel_Id":"={{ $json.body.channelId }}","messageId":"={{ $json.body.messageId }}"},"matchingColumns":[],"schema":[{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"authorId","displayName":"authorId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"channel_Id","displayName":"channel_Id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[848,368],"id":"414252d6-1325-45ea-9dc9-67242e4a1e58","name":"Call 'VigiL'"},{"parameters":{"workflowId":{"__rl":true,"value":"Hy8z45Fq5stEKPmj","mode":"list","cachedResultUrl":"/workflow/Hy8z45Fq5stEKPmj","cachedResultName":"FORGE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Username":"={{ $json.body.author }}","message":"={{ $json.body.content }}","authorId":"={{ $json.body.authorId }}","channel_Id":"={{ $json.body.channelId }}","messageId":"={{ $json.body.messageId }}"},"matchingColumns":[],"schema":[{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"authorId","displayName":"authorId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"channel_Id","displayName":"channel_Id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[832,-16],"id":"39d0191a-2fde-4e48-b537-5f4ab5e8ce06","name":"Call 'Forge'"},{"parameters":{"workflowId":{"__rl":true,"value":"h9vqY6N7Cv5RRmsB","mode":"list","cachedResultUrl":"/workflow/h9vqY6N7Cv5RRmsB","cachedResultName":"Montage"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Username":"={{ $json.body.author }}","message":"={{ $json.body.content }}","authorId":"={{ $json.body.authorId }}","channel_Id":"={{ $json.body.channelId }}","messageId":"={{ $json.body.messageId }}"},"matchingColumns":[],"schema":[{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"authorId","displayName":"authorId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"channel_Id","displayName":"channel_Id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1104,-160],"id":"d91b37a3-e73e-49fc-a8e6-000b28a0e28c","name":"Call 'Montage'"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Server msg","type":"main","index":0}],[{"node":"Private message","type":"main","index":0}],[{"node":"If","type":"main","index":0}],[{"node":"If1","type":"main","index":0}],[{"node":"If2","type":"main","index":0}],[{"node":"If3","type":"main","index":0}],[{"node":"If4","type":"main","index":0}],[{"node":"Insert rows in a table","type":"main","index":0}]]},"If":{"main":[[{"node":"Call 'IMAGYN'","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}]]},"If1":{"main":[[{"node":"Call 'LYRA'","type":"main","index":0}],[{"node":"Send a message1","type":"main","index":0}]]},"If2":{"main":[[{"node":"Call 'Forge'","type":"main","index":0}],[{"node":"Send a message2","type":"main","index":0}]]},"If3":{"main":[[{"node":"Call 'Montage'","type":"main","index":0}],[{"node":"Send a message3","type":"main","index":0}]]},"If4":{"main":[[{"node":"Call 'VigiL'","type":"main","index":0}],[{"node":"Send a message4","type":"main","index":0}]]}},"authors":"Mayank Rawat","name":"Version b9b40bf5","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-02T07:44:44.427Z","id":421,"workflowId":"s2r2Vm7UNkkflye5","versionId":"b9b40bf5-17c7-4b50-8d04-e294b2b0d7e6","event":"activated","userId":"155ab905-7948-43b7-ad2f-42467e89354a"}]}}