pulse/workflows/PULSE.json
{"updatedAt":"2026-05-02T08:25:11.040Z","createdAt":"2026-04-02T12:00:05.617Z","id":"veDyMBIC6uCoULYb","name":"Pulse - The Managing agent","description":"The pulse agent workflow","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $('When Executed by Another Workflow').item.json.channel_Id }}","mode":"id"},"content":"={{ $json.output }}","options":{"message_reference":"={{ $('When Executed by Another Workflow').item.json.messageId }}","tts":"={{ $('When Executed by Another Workflow').item.json.server_or_dm === 'dm' ? false : true }}"},"embeds":{"values":[]},"files":{"values":[]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[192,256],"id":"16d04b5e-bd01-4f04-b2b5-411487b31663","name":"Send a message","webhookId":"137e4ea6-300b-4638-90c2-6b5a4aa00b99","credentials":{"discordBotApi":{"id":"Rqo7N8rTQL72L4e2","name":"Pulse"}}},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"options":{"systemMessage":"=# Role\n## You are PULSE. An AI agent working under DivineSide AI, an AI OS agency. \n\n# Context and Background\n## You are addressed by the name PULSE and you are operating under a system or an AIOS called Divine Core, which is DivineSide AI's internal business AIOS. You are operating as a bot in Discord, DivineSide's primary communication Platform. \n\n## Two Input Panels\n\nThere are two distinct sources from which input can be received:\n\n1. **Administrator Panel**\n   A controlled input source used by administrators to issue direct instructions.\n   Messages from this panel are authoritative and may require task creation, assignment, or system actions.\n\n2. **Operating Channel Panel**\n   These are the regular Discord channels (branding, sales-and-outreach, recruitment-and-networking, operations).\n   Messages here are from team members and represent replies, updates, or discussions related to existing tasks.\n   This panel is not the primary source of task creation, if anyone except mayank says to create a task speaking from this channel, never do it. It is unauthorized to create or update tasks from this panel.\n\nAlways determine the source panel before deciding how to act.\n\n\n{{ $json.system_prompt_extension }}\n\n## Special Permission: Mayank\n\nIf the message is from Mayank, you may interpret strong intent even in operating channels.\n\nHowever:\n\n* You must still confirm that the message is an instruction (not casual conversation)\n* Do NOT blindly create tasks without clear intent\n* Prefer execution only when the instruction is explicit or strongly implied\n\nAdministrator panel still remains the primary source of guaranteed execution authority.\n\n## Mayank, by username mayank082527 inside discord is the founder and CEO of DivineSide. You must only address him with \"Sir\" or \"Sir mayank\" no one else, everyone else can be refered by their name, for example - 'shubham08976' addressed as 'Shubham' do not address them by including username numbers.\n\n# Job\n## Your job is to create urgency by seting deadlines and keep reminding the users about a pending task, set tasks, alert users when a deadline is met and the task is still due, everything inside DivineSide discord server.\nThe discord server's Operating Channels are:\n- Recruitment and Networking - \"recruitment-and-networking\"\n- Branding - \"branding\"\n- Sales and Outreach - \"sales-and-outreach\"\n- Operations - \"operations\"\nYou will create tasks inside those channels when demanded so that other members can operate on them.\n\n# Tools\n## ***Set a task in a channel***: The discord send message tool, use this to send a message to set a task in the relevant channel. \n### ***Instructions to use this tool*** \nUse the embed feature of this tool only for creating tasks, do not use the embed feature for replying to a member in the group.\nDo not enter the name like \"branding\" in the tool's channel field, enter the ID of the channels only -\nBranding - 1495654627322892319\nSales and Outreach - 1495654885218189392\nRecruitment and Networking - 1495655231013519422\nOperations - 1495655877900763186\n\n## ***Airtable AI Agent***: This is yours assistant ai agent, it has access to two airtable tools - one can fetch/search for tasks created either manually by an adminsitrator or you (pulse), the other tool can be used to create tasks inside airtable.\n\n# Instructions:\n## Whenever creating tasks, create them both using the Discord tool to directly send a message in the relevant channel and at the same time create the same task inside Airtable so team members and administrators can later check it in our primary task database. The flow is simple: first send the task message inside Discord using the discord tool and then create it in Airtable by using the airtable agent tool. \n# Tone \n## Professional\n## occasional humor.\n\n# References:\n## Day & Date - {{ $now.format('cccc') }}.  {{ $now.format('dd LLLL, yyyy.') }} "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-160,256],"id":"721eb8e1-6423-4004-a730-7561278914f1","name":"PULSE","onError":"continueRegularOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-400,672],"id":"98601be4-f0c7-47fa-9ade-3b02867d2741","name":"4o mini","credentials":{"openAiApi":{"id":"ENfW7EUExHBsp3Jt","name":"OpenAi account"}}},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-208,720],"id":"1aaafc01-95b3-4283-9be8-b45aa100f439","name":"Openrouter - OpenAI","credentials":{"openRouterApi":{"id":"JI5uMFx5vQlLULIy","name":"OpenRouter - mayank"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').item.json.Username }}","tableName":"pulse_chat_history","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-64,464],"id":"2be36f1f-093c-4b13-9ee9-87c3ff01ab87","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"hyGI2SOXo5eLTVkI","name":"DivineSide - Mayank"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.server_or_dm }}","rightValue":"server","operator":{"type":"string","operation":"equals"},"id":"5ceee2b3-48d4-4b98-a79e-f6e6be3cd3c8"}],"combinator":"and"},"renameOutput":true,"outputKey":"server"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4bf1c3dc-5c03-4519-bc27-1314e76e8e93","leftValue":"={{ $json.server_or_dm }}","rightValue":"dm","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"dm"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-656,240],"id":"512842d2-5315-49e0-98f4-ea9348c5aa98","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"7035c61f-7b6d-4965-bfa7-90a445ca2205","name":"message","value":"=username - {{ $json.Username }}\nmessage - {{ $json.message.replace(/<@!?1495645071608119407>/g, 'pulse') }}","type":"string"},{"id":"85eddf35-5a4e-4b89-8d5c-a9f7cc50a52e","name":"system_prompt_extension","value":"## Runtime Instruction: Team Reply Context\n\nThis message is coming from the **Operating channels**, not from the administrator panel.\n\nYou are NOT authorized to:\n\n* Create tasks\n* Modify tasks\n* Assign tasks\n\nYou can only fetch tasks to share information with the team members.\n\nThis message should be treated as:\n\n* A response to an existing task\n* A status update\n* A discussion or opinion\n\nYour role is to:\n\n* Understand the context\n* Respond if needed\n* Extract useful information\n* Update internal understanding\n\nDo NOT take any system-level actions such as task creation or modification.\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,80],"id":"a40404d8-4fe0-4c90-9850-ba3b9e7ffda1","name":"Server edit"},{"parameters":{"assignments":{"assignments":[{"id":"5ed40ca5-7b74-4b9e-bac7-ddc2e6819b7a","name":"message","value":"=Username - {{ $json.Username }}\nmessage - {{ $json.message}}","type":"string"},{"id":"c2be72b2-76c6-48ba-8009-5daa86713cf3","name":"system_prompt_extension","value":"# Runtime Instruction: Administrator panel Context\n\nThis message is coming from the **administrator panel**.\n\nYou are authorized to:\n\n* Create tasks\n* Assign tasks\n* Modify tasks\n* Set deadlines and priorities\n* Trigger system actions\n\nYou must interpret the message as a **direct instruction**, not a discussion.\n\nIf the instruction is clear, execute it using the appropriate tools.\n\nIf required information is missing, infer intelligently or proceed with best judgment.\n\nDo not ask unnecessary questions unless critical information is missing.\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,336],"id":"b3c4a242-6825-4c66-81ea-85621f984d69","name":"DM edit"},{"parameters":{"workflowInputs":{"values":[{"name":"Username"},{"name":"message"},{"name":"server_or_dm"},{"name":"authorId"},{"name":"channel_Id"},{"name":"messageId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-960,240],"id":"f574aaf8-94e9-4f6f-83f3-5a8b9d1489c3","name":"When Executed by Another Workflow"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-976,432],"id":"c642f94d-49f5-4d9b-b2d7-fb65b9dc063f","name":"When chat message received","webhookId":"4e63bcab-01d5-4a01-94ff-a043fa76feac"},{"parameters":{"descriptionType":"manual","toolDescription":"Search for any task created whether done, pending or in-progress inside DivineSide's database.","operation":"search","base":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"list","cachedResultName":"DivineCore","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0"},"table":{"__rl":true,"value":"tblewoyLna7rHbIxw","mode":"list","cachedResultName":"Task","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0/tblewoyLna7rHbIxw"},"filterByFormula":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter_By_Formula', ``, 'string') }}","options":{},"sort":{"property":[]}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.2,"position":[288,800],"id":"623ec901-2903-4a44-9476-59bfcfb70a38","name":"Fetch Tasks","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}}},{"parameters":{"toolDescription":"AI Agent that can call all the airtable tools","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","needsFallback":true,"options":{"systemMessage":"=# Role\n## You are a sub agent of Agent Pulse. You work upon Airtable database - Divinecore. A task management database for DivineSide and AI OS Agency.\n\n# Job\n## Your job is to either create/update or get tasks inside Airtable database named 'DivineCore'. \n\n# Context on Airtable.\n## Table Structure\n### Each record (task) contains the following fields:\n\n### Task (Single line text) \nThe main identifier of the task. This should be a short, clear title describing what needs to be done.\n\n### Assignee (Single select)\nThe person responsible for completing the task.\nAllowed values: Mayank, William, Shubham, Anish\n\n### Channel (Single select)\nThe Discord channel where the task belongs.\nAllowed values:\nbranding\nsales & outreaching\nrecruitment and networking\noperations\n\n### Status (Single select)\nThe current state of the task.\nAllowed values:\npending (task created but not started)\nin progress (actively being worked on)\ndone (completed)\nblocked (cannot proceed)\n\n### Priority (Single select)\nDefines urgency and importance of the task.\nAllowed values:\nhigh\nmedium\nlow\n\n### Deadline (Date)\nThe due date for the task. This is critical for urgency tracking and reminders.\n\n### Created by (Single select)\nWho created the task.\nAllowed values: Pulse, Mayank\n\n### Discord message ID (Single line text)\nStores the ID of the Discord message associated with the task. Used for tracking and referencing.\n\n### Notes (Long text)\nAdditional context, instructions, or updates related to the task.\n\n# Tools\n## ***Fetch Tasks***: \nUse this tool to fetch tasks from the airtable, use the appropriate formula to filter records. example - {Task} = 'respond to patrick in instagram' to fetch the task name 'respond to patrick in instagram', {Status} = 'in progress' to fetch all the running tasks still in progress, etc. If in confusion just leave the filter by formula empty to return all the records.\n\n## ***Create or update Task inside Airtable database***: \nUse this tool to create or update tasks inside the database. Update match is set to task name. When updating, to get the right task name you can use the \"Fetch Tasks\" tool first to get the right task name to update the record. If the tool returns error when updating that means the task name was incorrect."}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":3,"position":[80,560],"id":"a50e2a75-a08c-4481-9e47-aec57609076d","name":"Airtable Agent"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"list","cachedResultName":"DivineCore","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0"},"table":{"__rl":true,"value":"tblewoyLna7rHbIxw","mode":"list","cachedResultName":"Task","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0/tblewoyLna7rHbIxw"},"columns":{"mappingMode":"defineBelow","value":{"Task":"={{ $fromAI('Task', `The task name.`, 'string') }}","Assignee":"={{ $fromAI('Assignee', `The name of the assignee, can be only one of these values- William, Shubham, Mayank or Anish`, 'string') }}","Channel":"={{ $fromAI('Channel', `The channel name`, 'string') }}","Status":"={{ $fromAI('Status', `Status of the task`, 'string') }}","Priority":"={{ $fromAI('Priority', `high, low or medium`, 'string') }}","Deadline":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Deadline', ``, 'string') }}","Created by":"={{ $fromAI('Created_by', `Either Pulse or Mayank`, 'string') }}","Discord message ID":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Discord_message_ID', `The message Id of the message Pulse sent as a task.`, 'string') }}","Notes":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', `additional notes,  for updates when team members tag Pulse`, 'string') }}"},"matchingColumns":["Task"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Mayank","value":"Mayank"},{"name":"William","value":"William"},{"name":"Shubham","value":"Shubham"},{"name":"Anish","value":"Anish"}],"readOnly":false,"removed":false},{"id":"Channel","displayName":"Channel","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"branding","value":"branding"},{"name":"sales & outreaching","value":"sales & outreaching"},{"name":"recruitment and networking","value":"recruitment and networking"},{"name":"operations","value":"operations"}],"readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"pending","value":"pending"},{"name":"in progress","value":"in progress"},{"name":"done","value":"done"},{"name":"blocked","value":"blocked"}],"readOnly":false,"removed":false},{"id":"Priority","displayName":"Priority","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"high","value":"high"},{"name":"medium","value":"medium"},{"name":"low","value":"low"}],"readOnly":false,"removed":false},{"id":"Deadline","displayName":"Deadline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Created by","displayName":"Created by","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Pulse","value":"Pulse"},{"name":"Mayank","value":"Mayank"}],"readOnly":false,"removed":false},{"id":"Discord message ID","displayName":"Discord message ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.2,"position":[112,800],"id":"23fed0f3-fccb-4427-8332-95e5dd319fbb","name":"Create or update Task inside Airtable database","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Send a message or reply to a message in server DivineSide's channels.","resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Channel', `Enter the ID of one of these channels only -\nBranding - 1495654627322892319\nSales and Outreach - 1495654885218189392\nRecruitment and Networking - 1495655231013519422\nOperations - 1495655877900763186`, 'string') }}","mode":"id"},"content":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `message to be sent in the channel`, 'string') }}","options":{"message_reference":"={{ $fromAI('Message_to_Reply_to', `the message_id to reply to`, 'string', '') }}","tts":true},"embeds":{"values":[]}},"type":"n8n-nodes-base.discordTool","typeVersion":2,"position":[608,560],"id":"67fc894d-01b5-4906-af93-df0df2c0cefe","name":"Send a message/reply in a channel","webhookId":"30c7daee-52a4-4182-ad2b-bcdd0fff5958","credentials":{"discordBotApi":{"id":"Rqo7N8rTQL72L4e2","name":"Pulse"}},"disabled":true},{"parameters":{"descriptionType":"manual","toolDescription":"Create a task by sending a message inside the relevant channel in discord server DivineSide.","resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Channel', `Enter the ID of one of these channels only -\nBranding - 1495654627322892319\nSales and Outreach - 1495654885218189392\nRecruitment and Networking - 1495655231013519422\nOperations - 1495655877900763186`, 'string') }}","mode":"id"},"content":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `message to be sent in the channel`, 'string') }}","options":{"tts":true},"embeds":{"values":[{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Description', `Description of the task.`, 'string') }}","author":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Author', `Name of the person the task is assigned to.`, 'string') }}","color":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Color', `The field only accepts color codes! Enter any one of these three.\n\"F80404\" - for red (High urgency)\n\"#04F849\" - for color green (low urgency)\n\"#D7F804\" - for color yellow (moderate urgency)`, 'string') }}","timestamp":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Timestamp', `Due time of the task`, 'string') }}","title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Title', `The name of the task.`, 'string') }}"}]}},"type":"n8n-nodes-base.discordTool","typeVersion":2,"position":[624,416],"id":"e378c47d-0c1a-41c9-8108-6b8f31114306","name":"Set a task in a channe2l","webhookId":"30c7daee-52a4-4182-ad2b-bcdd0fff5958","credentials":{"discordBotApi":{"id":"Rqo7N8rTQL72L4e2","name":"Pulse"}},"disabled":true},{"parameters":{"description":"Call this tool to create a task by sending a message inside the relevant channel in discord server DivineSide and simultaneously create a task inside airtable task table too.","workflowId":{"__rl":true,"value":"TV1x72OKjUKXZ79n","mode":"list","cachedResultUrl":"/workflow/TV1x72OKjUKXZ79n","cachedResultName":"Pulse tool - Set task in airtable and discord"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Channel":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Channel', `Enter the ID of one of these channels only -\nBranding - 1495654627322892319\nSales and Outreach - 1495654885218189392\nRecruitment and Networking - 1495655231013519422\nOperations - 1495655877900763186`, 'string') }}","Message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Message sent with the task, can include briefings and extra information alongside the task.`, 'string') }}","Description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Description of the task`, 'string') }}","Author":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Author', `The name of the person, task is assigned to.`, 'string') }}","Color":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Color', `The field only accepts color codes! Enter any one of these three.\n\"#F80404\" - for red (High urgency)\n\"#04F849\" - for color green (low urgency)\n\"#D7F804\" - for color yellow (moderate urgency)`, 'string') }}","Timestamp":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Timestamp', `Deadline of the task.`, 'string') }}","Title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', `Title of the task.`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Channel","displayName":"Channel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Author","displayName":"Author","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Color","displayName":"Color","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[416,560],"id":"eb0c0c48-9043-4e3e-916e-0b807834d1bb","name":"Set a task in a channel"},{"parameters":{"content":"# Pulse agent\n","height":896,"width":1904,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1056,64],"id":"6f6845d7-230f-477a-a2cb-255c295e8c49","name":"Sticky Note"}],"connections":{"4o mini":{"ai_languageModel":[[{"node":"PULSE","type":"ai_languageModel","index":1},{"node":"Airtable Agent","type":"ai_languageModel","index":1}]]},"Openrouter - OpenAI":{"ai_languageModel":[[{"node":"PULSE","type":"ai_languageModel","index":0},{"node":"Airtable Agent","type":"ai_languageModel","index":0}]]},"PULSE":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"PULSE","type":"ai_memory","index":0}]]},"Server edit":{"main":[[{"node":"PULSE","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Server edit","type":"main","index":0}],[{"node":"DM edit","type":"main","index":0}]]},"DM edit":{"main":[[{"node":"PULSE","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Fetch Tasks":{"ai_tool":[[{"node":"Airtable Agent","type":"ai_tool","index":0}]]},"Airtable Agent":{"ai_tool":[[{"node":"PULSE","type":"ai_tool","index":0}]]},"Create or update Task inside Airtable database":{"ai_tool":[[{"node":"Airtable Agent","type":"ai_tool","index":0}]]},"Send a message/reply in a channel":{"ai_tool":[[]]},"Set a task in a channel":{"ai_tool":[[{"node":"PULSE","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true,"timeSavedMode":"fixed","timezone":"Asia/Kolkata","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"Username":"mayank082527","message":"<@1495645071608119407> e Tell the team members to be ready at 7 pm today. we have an important meeting, all of them","server_or_dm":"dm","authorId":"1309128820493783093","channel_Id":"1495654627322892319","messageId":"1496465918816161882"}}]},"versionId":"d8f0db73-c715-4c08-9f4f-ed5fe47a1312","activeVersionId":"fd7002cf-3e14-4b4f-8286-cc036a447ba7","versionCounter":1473,"triggerCount":1,"shared":[{"updatedAt":"2026-04-02T12:00:05.631Z","createdAt":"2026-04-02T12:00:05.631Z","role":"workflow:owner","workflowId":"veDyMBIC6uCoULYb","projectId":"6RWkVecs5xXu2XCo","project":{"updatedAt":"2026-03-01T08:54:25.743Z","createdAt":"2026-03-01T08:42:31.300Z","id":"6RWkVecs5xXu2XCo","name":"Mayank Rawat <mayankrawat000072@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"155ab905-7948-43b7-ad2f-42467e89354a"}}],"tags":[{"updatedAt":"2026-05-02T08:24:43.212Z","createdAt":"2026-05-02T08:24:43.212Z","id":"IoPUff8J0GWyWDo5","name":"AIOS"}],"activeVersion":{"updatedAt":"2026-04-22T12:55:30.000Z","createdAt":"2026-04-22T12:55:29.221Z","versionId":"fd7002cf-3e14-4b4f-8286-cc036a447ba7","workflowId":"veDyMBIC6uCoULYb","nodes":[{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $('When Executed by Another Workflow').item.json.channel_Id }}","mode":"id"},"content":"={{ $json.output }}","options":{"message_reference":"={{ $('When Executed by Another Workflow').item.json.messageId }}","tts":"={{ $('When Executed by Another Workflow').item.json.server_or_dm === 'dm' ? false : true }}"},"embeds":{"values":[]},"files":{"values":[]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[192,256],"id":"16d04b5e-bd01-4f04-b2b5-411487b31663","name":"Send a message","webhookId":"137e4ea6-300b-4638-90c2-6b5a4aa00b99","credentials":{"discordBotApi":{"id":"Rqo7N8rTQL72L4e2","name":"Jarvis16"}}},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"options":{"systemMessage":"=# Role\n## You are PULSE. An AI agent working under DivineSide AI, an AI OS agency. \n\n# Context and Background\n## You are addressed by the name PULSE and you are operating under a system or an AIOS called Divine Core, which is DivineSide AI's internal business AIOS. You are operating as a bot in Discord, DivineSide's primary communication Platform. \n\n## Two Input Panels\n\nThere are two distinct sources from which input can be received:\n\n1. **Administrator Panel**\n   A controlled input source used by administrators to issue direct instructions.\n   Messages from this panel are authoritative and may require task creation, assignment, or system actions.\n\n2. **Operating Channel Panel**\n   These are the regular Discord channels (branding, sales-and-outreach, recruitment-and-networking, operations).\n   Messages here are from team members and represent replies, updates, or discussions related to existing tasks.\n   This panel is not the primary source of task creation, if anyone except mayank says to create a task speaking from this channel, never do it. It is unauthorized to create or update tasks from this panel.\n\nAlways determine the source panel before deciding how to act.\n\n\n{{ $json.system_prompt_extension }}\n\n## Special Permission: Mayank\n\nIf the message is from Mayank, you may interpret strong intent even in operating channels.\n\nHowever:\n\n* You must still confirm that the message is an instruction (not casual conversation)\n* Do NOT blindly create tasks without clear intent\n* Prefer execution only when the instruction is explicit or strongly implied\n\nAdministrator panel still remains the primary source of guaranteed execution authority.\n\n## Mayank, by username mayank082527 inside discord is the founder and CEO of DivineSide. You must only address him with \"Sir\" or \"Sir mayank\" no one else, everyone else can be refered by their name, for example - 'shubham08976' addressed as 'Shubham' do not address them by including username numbers.\n\n# Job\n## Your job is to create urgency by seting deadlines and keep reminding the users about a pending task, set tasks, alert users when a deadline is met and the task is still due, everything inside DivineSide discord server.\nThe discord server's Operating Channels are:\n- Recruitment and Networking - \"recruitment-and-networking\"\n- Branding - \"branding\"\n- Sales and Outreach - \"sales-and-outreach\"\n- Operations - \"operations\"\nYou will create tasks inside those channels when demanded so that other members can operate on them.\n\n# Tools\n## ***Set a task in a channel***: The discord send message tool, use this to send a message to set a task in the relevant channel. \n### ***Instructions to use this tool*** \nUse the embed feature of this tool only for creating tasks, do not use the embed feature for replying to a member in the group.\nDo not enter the name like \"branding\" in the tool's channel field, enter the ID of the channels only -\nBranding - 1495654627322892319\nSales and Outreach - 1495654885218189392\nRecruitment and Networking - 1495655231013519422\nOperations - 1495655877900763186\n\n## ***Airtable AI Agent***: This is yours assistant ai agent, it has access to two airtable tools - one can fetch/search for tasks created either manually by an adminsitrator or you (pulse), the other tool can be used to create tasks inside airtable.\n\n# Instructions:\n## Whenever creating tasks, create them both using the Discord tool to directly send a message in the relevant channel and at the same time create the same task inside Airtable so team members and administrators can later check it in our primary task database. The flow is simple: first send the task message inside Discord using the discord tool and then create it in Airtable by using the airtable agent tool. \n# Tone \n## Professional\n## occasional humor.\n\n# References:\n## Day & Date - {{ $now.format('cccc') }}.  {{ $now.format('dd LLLL, yyyy.') }} "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-160,256],"id":"721eb8e1-6423-4004-a730-7561278914f1","name":"PULSE","onError":"continueRegularOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-400,672],"id":"98601be4-f0c7-47fa-9ade-3b02867d2741","name":"4o mini","credentials":{"openAiApi":{"id":"ENfW7EUExHBsp3Jt","name":"OpenAi account"}}},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-208,720],"id":"1aaafc01-95b3-4283-9be8-b45aa100f439","name":"Openrouter - OpenAI","credentials":{"openRouterApi":{"id":"JI5uMFx5vQlLULIy","name":"OpenRouter - mayank"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').item.json.Username }}","tableName":"pulse_chat_history","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-64,464],"id":"2be36f1f-093c-4b13-9ee9-87c3ff01ab87","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"hyGI2SOXo5eLTVkI","name":"DivineSide - Mayank"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.server_or_dm }}","rightValue":"server","operator":{"type":"string","operation":"equals"},"id":"5ceee2b3-48d4-4b98-a79e-f6e6be3cd3c8"}],"combinator":"and"},"renameOutput":true,"outputKey":"server"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4bf1c3dc-5c03-4519-bc27-1314e76e8e93","leftValue":"={{ $json.server_or_dm }}","rightValue":"dm","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"dm"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-656,240],"id":"512842d2-5315-49e0-98f4-ea9348c5aa98","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"7035c61f-7b6d-4965-bfa7-90a445ca2205","name":"message","value":"=username - {{ $json.Username }}\nmessage - {{ $json.message.replace(/<@!?1495645071608119407>/g, 'pulse') }}","type":"string"},{"id":"85eddf35-5a4e-4b89-8d5c-a9f7cc50a52e","name":"system_prompt_extension","value":"## Runtime Instruction: Team Reply Context\n\nThis message is coming from the **Operating channels**, not from the administrator panel.\n\nYou are NOT authorized to:\n\n* Create tasks\n* Modify tasks\n* Assign tasks\n\nYou can only fetch tasks to share information with the team members.\n\nThis message should be treated as:\n\n* A response to an existing task\n* A status update\n* A discussion or opinion\n\nYour role is to:\n\n* Understand the context\n* Respond if needed\n* Extract useful information\n* Update internal understanding\n\nDo NOT take any system-level actions such as task creation or modification.\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,80],"id":"a40404d8-4fe0-4c90-9850-ba3b9e7ffda1","name":"Server edit"},{"parameters":{"assignments":{"assignments":[{"id":"5ed40ca5-7b74-4b9e-bac7-ddc2e6819b7a","name":"message","value":"=Username - {{ $json.Username }}\nmessage - {{ $json.message}}","type":"string"},{"id":"c2be72b2-76c6-48ba-8009-5daa86713cf3","name":"system_prompt_extension","value":"# Runtime Instruction: Administrator panel Context\n\nThis message is coming from the **administrator panel**.\n\nYou are authorized to:\n\n* Create tasks\n* Assign tasks\n* Modify tasks\n* Set deadlines and priorities\n* Trigger system actions\n\nYou must interpret the message as a **direct instruction**, not a discussion.\n\nIf the instruction is clear, execute it using the appropriate tools.\n\nIf required information is missing, infer intelligently or proceed with best judgment.\n\nDo not ask unnecessary questions unless critical information is missing.\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,336],"id":"b3c4a242-6825-4c66-81ea-85621f984d69","name":"DM edit"},{"parameters":{"workflowInputs":{"values":[{"name":"Username"},{"name":"message"},{"name":"server_or_dm"},{"name":"authorId"},{"name":"channel_Id"},{"name":"messageId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-960,240],"id":"f574aaf8-94e9-4f6f-83f3-5a8b9d1489c3","name":"When Executed by Another Workflow"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-976,432],"id":"c642f94d-49f5-4d9b-b2d7-fb65b9dc063f","name":"When chat message received","webhookId":"4e63bcab-01d5-4a01-94ff-a043fa76feac"},{"parameters":{"descriptionType":"manual","toolDescription":"Search for any task created whether done, pending or in-progress inside DivineSide's database.","operation":"search","base":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"list","cachedResultName":"DivineCore","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0"},"table":{"__rl":true,"value":"tblewoyLna7rHbIxw","mode":"list","cachedResultName":"Task","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0/tblewoyLna7rHbIxw"},"filterByFormula":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter_By_Formula', ``, 'string') }}","options":{},"sort":{"property":[]}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.2,"position":[288,800],"id":"623ec901-2903-4a44-9476-59bfcfb70a38","name":"Fetch Tasks","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}}},{"parameters":{"toolDescription":"AI Agent that can call all the airtable tools","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","needsFallback":true,"options":{"systemMessage":"=# Role\n## You are a sub agent of Agent Pulse. You work upon Airtable database - Divinecore. A task management database for DivineSide and AI OS Agency.\n\n# Job\n## Your job is to either create/update or get tasks inside Airtable database named 'DivineCore'. \n\n# Context on Airtable.\n## Table Structure\n### Each record (task) contains the following fields:\n\n### Task (Single line text) \nThe main identifier of the task. This should be a short, clear title describing what needs to be done.\n\n### Assignee (Single select)\nThe person responsible for completing the task.\nAllowed values: Mayank, William, Shubham, Anish\n\n### Channel (Single select)\nThe Discord channel where the task belongs.\nAllowed values:\nbranding\nsales & outreaching\nrecruitment and networking\noperations\n\n### Status (Single select)\nThe current state of the task.\nAllowed values:\npending (task created but not started)\nin progress (actively being worked on)\ndone (completed)\nblocked (cannot proceed)\n\n### Priority (Single select)\nDefines urgency and importance of the task.\nAllowed values:\nhigh\nmedium\nlow\n\n### Deadline (Date)\nThe due date for the task. This is critical for urgency tracking and reminders.\n\n### Created by (Single select)\nWho created the task.\nAllowed values: Pulse, Mayank\n\n### Discord message ID (Single line text)\nStores the ID of the Discord message associated with the task. Used for tracking and referencing.\n\n### Notes (Long text)\nAdditional context, instructions, or updates related to the task.\n\n# Tools\n## ***Fetch Tasks***: \nUse this tool to fetch tasks from the airtable, use the appropriate formula to filter records. example - {Task} = 'respond to patrick in instagram' to fetch the task name 'respond to patrick in instagram', {Status} = 'in progress' to fetch all the running tasks still in progress, etc. If in confusion just leave the filter by formula empty to return all the records.\n\n## ***Create or update Task inside Airtable database***: \nUse this tool to create or update tasks inside the database. Update match is set to task name. When updating, to get the right task name you can use the \"Fetch Tasks\" tool first to get the right task name to update the record. If the tool returns error when updating that means the task name was incorrect."}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":3,"position":[80,560],"id":"a50e2a75-a08c-4481-9e47-aec57609076d","name":"Airtable Agent"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"list","cachedResultName":"DivineCore","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0"},"table":{"__rl":true,"value":"tblewoyLna7rHbIxw","mode":"list","cachedResultName":"Task","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0/tblewoyLna7rHbIxw"},"columns":{"mappingMode":"defineBelow","value":{"Task":"={{ $fromAI('Task', `The task name.`, 'string') }}","Assignee":"={{ $fromAI('Assignee', `The name of the assignee, can be only one of these values- William, Shubham, Mayank or Anish`, 'string') }}","Channel":"={{ $fromAI('Channel', `The channel name`, 'string') }}","Status":"={{ $fromAI('Status', `Status of the task`, 'string') }}","Priority":"={{ $fromAI('Priority', `high, low or medium`, 'string') }}","Deadline":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Deadline', ``, 'string') }}","Created by":"={{ $fromAI('Created_by', `Either Pulse or Mayank`, 'string') }}","Discord message ID":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Discord_message_ID', `The message Id of the message Pulse sent as a task.`, 'string') }}","Notes":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', `additional notes,  for updates when team members tag Pulse`, 'string') }}"},"matchingColumns":["Task"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Mayank","value":"Mayank"},{"name":"William","value":"William"},{"name":"Shubham","value":"Shubham"},{"name":"Anish","value":"Anish"}],"readOnly":false,"removed":false},{"id":"Channel","displayName":"Channel","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"branding","value":"branding"},{"name":"sales & outreaching","value":"sales & outreaching"},{"name":"recruitment and networking","value":"recruitment and networking"},{"name":"operations","value":"operations"}],"readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"pending","value":"pending"},{"name":"in progress","value":"in progress"},{"name":"done","value":"done"},{"name":"blocked","value":"blocked"}],"readOnly":false,"removed":false},{"id":"Priority","displayName":"Priority","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"high","value":"high"},{"name":"medium","value":"medium"},{"name":"low","value":"low"}],"readOnly":false,"removed":false},{"id":"Deadline","displayName":"Deadline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Created by","displayName":"Created by","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Pulse","value":"Pulse"},{"name":"Mayank","value":"Mayank"}],"readOnly":false,"removed":false},{"id":"Discord message ID","displayName":"Discord message ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.2,"position":[112,800],"id":"23fed0f3-fccb-4427-8332-95e5dd319fbb","name":"Create or update Task inside Airtable database","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Send a message or reply to a message in server DivineSide's channels.","resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Channel', `Enter the ID of one of these channels only -\nBranding - 1495654627322892319\nSales and Outreach - 1495654885218189392\nRecruitment and Networking - 1495655231013519422\nOperations - 1495655877900763186`, 'string') }}","mode":"id"},"content":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `message to be sent in the channel`, 'string') }}","options":{"message_reference":"={{ $fromAI('Message_to_Reply_to', `the message_id to reply to`, 'string', '') }}","tts":true},"embeds":{"values":[]}},"type":"n8n-nodes-base.discordTool","typeVersion":2,"position":[608,560],"id":"67fc894d-01b5-4906-af93-df0df2c0cefe","name":"Send a message/reply in a channel","webhookId":"30c7daee-52a4-4182-ad2b-bcdd0fff5958","credentials":{"discordBotApi":{"id":"Rqo7N8rTQL72L4e2","name":"Jarvis16"}},"disabled":true},{"parameters":{"descriptionType":"manual","toolDescription":"Create a task by sending a message inside the relevant channel in discord server DivineSide.","resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Channel', `Enter the ID of one of these channels only -\nBranding - 1495654627322892319\nSales and Outreach - 1495654885218189392\nRecruitment and Networking - 1495655231013519422\nOperations - 1495655877900763186`, 'string') }}","mode":"id"},"content":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `message to be sent in the channel`, 'string') }}","options":{"tts":true},"embeds":{"values":[{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Description', `Description of the task.`, 'string') }}","author":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Author', `Name of the person the task is assigned to.`, 'string') }}","color":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Color', `The field only accepts color codes! Enter any one of these three.\n\"F80404\" - for red (High urgency)\n\"#04F849\" - for color green (low urgency)\n\"#D7F804\" - for color yellow (moderate urgency)`, 'string') }}","timestamp":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Timestamp', `Due time of the task`, 'string') }}","title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Title', `The name of the task.`, 'string') }}"}]}},"type":"n8n-nodes-base.discordTool","typeVersion":2,"position":[624,416],"id":"e378c47d-0c1a-41c9-8108-6b8f31114306","name":"Set a task in a channe2l","webhookId":"30c7daee-52a4-4182-ad2b-bcdd0fff5958","credentials":{"discordBotApi":{"id":"Rqo7N8rTQL72L4e2","name":"Jarvis16"}},"disabled":true},{"parameters":{"description":"Call this tool to create a task by sending a message inside the relevant channel in discord server DivineSide and simultaneously create a task inside airtable task table too.","workflowId":{"__rl":true,"value":"TV1x72OKjUKXZ79n","mode":"list","cachedResultUrl":"/workflow/TV1x72OKjUKXZ79n","cachedResultName":"Pulse tool - Set task in airtable and discord"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Channel":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Channel', `Enter the ID of one of these channels only -\nBranding - 1495654627322892319\nSales and Outreach - 1495654885218189392\nRecruitment and Networking - 1495655231013519422\nOperations - 1495655877900763186`, 'string') }}","Message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Message sent with the task, can include briefings and extra information alongside the task.`, 'string') }}","Description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Description of the task`, 'string') }}","Author":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Author', `The name of the person, task is assigned to.`, 'string') }}","Color":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Color', `The field only accepts color codes! Enter any one of these three.\n\"#F80404\" - for red (High urgency)\n\"#04F849\" - for color green (low urgency)\n\"#D7F804\" - for color yellow (moderate urgency)`, 'string') }}","Timestamp":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Timestamp', `Deadline of the task.`, 'string') }}","Title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', `Title of the task.`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Channel","displayName":"Channel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Author","displayName":"Author","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Color","displayName":"Color","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[416,560],"id":"eb0c0c48-9043-4e3e-916e-0b807834d1bb","name":"Set a task in a channel"},{"parameters":{"content":"# Pulse agent\n","height":896,"width":1904,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1056,64],"id":"6f6845d7-230f-477a-a2cb-255c295e8c49","name":"Sticky Note"}],"connections":{"4o mini":{"ai_languageModel":[[{"node":"PULSE","type":"ai_languageModel","index":1},{"node":"Airtable Agent","type":"ai_languageModel","index":1}]]},"Openrouter - OpenAI":{"ai_languageModel":[[{"node":"PULSE","type":"ai_languageModel","index":0},{"node":"Airtable Agent","type":"ai_languageModel","index":0}]]},"PULSE":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"PULSE","type":"ai_memory","index":0}]]},"Server edit":{"main":[[{"node":"PULSE","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Server edit","type":"main","index":0}],[{"node":"DM edit","type":"main","index":0}]]},"DM edit":{"main":[[{"node":"PULSE","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Fetch Tasks":{"ai_tool":[[{"node":"Airtable Agent","type":"ai_tool","index":0}]]},"Airtable Agent":{"ai_tool":[[{"node":"PULSE","type":"ai_tool","index":0}]]},"Create or update Task inside Airtable database":{"ai_tool":[[{"node":"Airtable Agent","type":"ai_tool","index":0}]]},"Send a message/reply in a channel":{"ai_tool":[[]]},"Set a task in a channel":{"ai_tool":[[{"node":"PULSE","type":"ai_tool","index":0}]]}},"authors":"Mayank Rawat","name":"Version fd7002cf","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-22T12:55:30.725Z","id":383,"workflowId":"veDyMBIC6uCoULYb","versionId":"fd7002cf-3e14-4b4f-8286-cc036a447ba7","event":"activated","userId":"155ab905-7948-43b7-ad2f-42467e89354a"}]}}