pulse/workflows/PULSE-REMINDER.json
{"updatedAt":"2026-05-02T08:25:17.449Z","createdAt":"2026-04-22T12:55:55.382Z","id":"lpkxm5wGHXJF53ru","name":"Reminder sequence for Pulse","description":"Morning digest, progressive 1/3 interval reminders on task creation, and breach alerts when deadline is reached and task is not done.","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-512,-320],"id":"874a6eb7-26b1-428b-9d80-853ba98e47b1","name":"Schedule Trigger"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"authentication":"airtableTokenApi","baseId":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"id"},"tableId":{"__rl":true,"value":"tblewoyLna7rHbIxw","mode":"id"},"triggerField":"Last Modified","additionalFields":{}},"type":"n8n-nodes-base.airtableTrigger","typeVersion":1,"position":[-512,176],"id":"bbd1e405-2b62-4e35-8e93-e34ec44834cc","name":"Last Modified","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"authentication":"airtableTokenApi","baseId":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"id"},"tableId":{"__rl":true,"value":"tblewoyLna7rHbIxw","mode":"id"},"triggerField":"Created","additionalFields":{}},"type":"n8n-nodes-base.airtableTrigger","typeVersion":1,"position":[-512,-16],"id":"a350c19a-3fcf-4119-8506-f970a34e03f0","name":"Created","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"list","cachedResultName":"DivineCore","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0"},"table":{"__rl":true,"value":"tblewoyLna7rHbIxw","mode":"list","cachedResultName":"Task","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0/tblewoyLna7rHbIxw"},"filterByFormula":"={Status} = 'in progress'","options":{},"sort":{"property":[]}},"type":"n8n-nodes-base.airtable","typeVersion":2.2,"position":[-256,-320],"id":"42ce81ff-93a5-490e-86b2-ef5d1c113823","name":"Search records","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $json.Channel }}","mode":"id"},"content":"=Task","options":{},"embeds":{"values":[{"description":"In - Progress task","author":"=Assigned to - {{ $json.fields.Assignee }}","color":"#0004FF","timestamp":"={{ $json.fields.Deadline }}","title":"={{ $json.fields.Task }}"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[432,-208],"id":"87ed3f72-9e44-4dc2-be1d-2223d0cd7b07","name":"Send a message","webhookId":"1df190fc-3b68-40e6-bfcd-5f8a8ec8b0b3","credentials":{"discordBotApi":{"id":"Rqo7N8rTQL72L4e2","name":"Pulse"}}},{"parameters":{"assignments":{"assignments":[{"id":"55aa5e8f-5a2d-486c-8049-9c981569308e","name":"Channel","value":"={{ $json.fields.Channel === 'branding' ? '1495654627322892319' : $json.fields.Channel === 'sales & outreaching' ? '1495654885218189392' : $json.fields.Channel === 'recruitment and networking' ? '1495655231013519422' : $json.fields.Channel === 'operations' ? '1495655877900763186' : '' }}","type":"string"},{"id":"f00c224b-f49d-4f80-aed0-f7e56fa045d5","name":"fields.Task","value":"={{ $json.fields.Task }}","type":"string"},{"id":"cb4d00ae-3861-43cd-9f9a-66159d093eba","name":"fields.Deadline","value":"={{ $json.fields.Deadline }}","type":"string"},{"id":"7231e620-cf42-417a-820e-3258bbe108c7","name":"fields.Assignee","value":"={{ $json.fields.Assignee }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,-320],"id":"4ee03940-a558-476e-896a-737cc148125c","name":"Edit Fields"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"},"id":"374aad37-e3b3-4655-a2d8-358b79e22096"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b12772dd-3b80-4745-a938-3c24e40dd942","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[176,-320],"id":"a0a84d40-d9d5-4695-8df4-607ffdbcd703","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[432,-432],"id":"383434be-732f-4d61-91d3-5cd38ac792c4","name":"Limit"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $json.Channel }}","mode":"id"},"content":"Good Morning everyone in the IST. Let's start the day strong with some tasks!","options":{},"embeds":{"values":[]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[592,-432],"id":"1f822279-6c12-4b1f-a31f-d4735420c069","name":"Good Morning Message","webhookId":"1df190fc-3b68-40e6-bfcd-5f8a8ec8b0b3","credentials":{"discordBotApi":{"id":"Rqo7N8rTQL72L4e2","name":"Pulse"}}},{"parameters":{"jsCode":"// Current time\nconst now = new Date();\n\nfor (const item of $input.all()) {\n\n  const deadlineStr = item.json.fields.Deadline;\n\n  if (!deadlineStr) {\n    throw new Error(\"Deadline not found\");\n  }\n\n  const deadline = new Date(deadlineStr);\n\n  const totalTime = deadline - now;\n\n  if (totalTime <= 0) {\n    item.json.reminders = [];\n    continue;\n  }\n\n  // 50% and 80%\n  const reminder50 = new Date(now.getTime() + totalTime * 0.5);\n  const reminder80 = new Date(now.getTime() + totalTime * 0.8);\n\n  // 30 mins before deadline\n  const reminderFinal = new Date(deadline.getTime() - (30 * 60 * 1000));\n\n  // Safety check (in case deadline < 30 mins away)\n  let reminders = [];\n\n  if (reminder50 > now) reminders.push(reminder50.toISOString());\n  if (reminder80 > now) reminders.push(reminder80.toISOString());\n\n  if (reminderFinal > now) {\n    reminders.push(reminderFinal.toISOString());\n  } else {\n    // fallback: if less than 30 mins left → trigger immediate final reminder\n    reminders.push(now.toISOString());\n  }\n\n  item.json.reminders = reminders;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,-16],"id":"a22a649a-cf79-40f2-9047-98279366d3a9","name":"Code in JavaScript"},{"parameters":{"resume":"specificTime","dateTime":"={{ $json.reminders[0] }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[80,-16],"id":"7eae5374-5f48-4bff-8dda-ba0673c565e6","name":"Wait","webhookId":"8a6ed1b7-6fce-4cd3-8796-8f2b87b07164"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $('Edit Fields1').item.json.Channel }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[256,-16],"id":"d61aefca-6987-4cf2-ac6a-0876a4cf1fad","name":"Send a message1","webhookId":"51a521eb-d7b6-47e3-9a01-a3c076d17e4b","credentials":{"discordBotApi":{"id":"Rqo7N8rTQL72L4e2","name":"Pulse"}}},{"parameters":{"assignments":{"assignments":[{"id":"c061cd51-4d11-47c8-942d-aa8a5e515582","name":"Channel","value":"={{ $json.fields.Channel === 'branding' ? '1495654627322892319' : $json.fields.Channel === 'sales & outreaching' ? '1495654885218189392' : $json.fields.Channel === 'recruitment and networking' ? '1495655231013519422' : $json.fields.Channel === 'operations' ? '1495655877900763186' : '' }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,-16],"id":"bfd62596-2f38-4fda-be3c-76d338f1d0f3","name":"Edit Fields1"},{"parameters":{"resume":"specificTime","dateTime":"={{ $('Code in JavaScript').item.json.reminders[1] }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[432,-16],"id":"3fdd87c2-562f-4758-a37c-3f4f209aba03","name":"Wait1","webhookId":"323b80c4-36f1-4b9f-819c-3b4a89c2cdd2"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $('Edit Fields1').item.json.Channel }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[608,-16],"id":"745ced87-7309-498f-9191-2b7d0928fd24","name":"Send a message2","webhookId":"51a521eb-d7b6-47e3-9a01-a3c076d17e4b","credentials":{"discordBotApi":{"id":"Rqo7N8rTQL72L4e2","name":"Pulse"}}},{"parameters":{"resume":"specificTime","dateTime":"={{ $('Code in JavaScript').item.json.reminders[2] }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[784,-16],"id":"dd514c62-dd6a-481e-b0dc-eb559b56eb05","name":"Wait2","webhookId":"323b80c4-36f1-4b9f-819c-3b4a89c2cdd2"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $('Edit Fields1').item.json.Channel }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[944,-16],"id":"f9e8eb08-b38f-4ad3-bb8d-3c48aca15926","name":"Send a message3","webhookId":"51a521eb-d7b6-47e3-9a01-a3c076d17e4b","credentials":{"discordBotApi":{"id":"Rqo7N8rTQL72L4e2","name":"Pulse"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"71ef8a77-a73e-438c-9180-6e9127023c70","leftValue":"={{ $json.fields['Deadline_reached?'] }}","rightValue":"Yes","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-304,176],"id":"ddf7b18a-75e7-43df-835a-9791a660ea3b","name":"Filter"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $json.Channel }}","mode":"id"},"content":"=Deadline for Task - {{ $json.fields.Task }} has been breached, immediate follow up needed.","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[80,176],"id":"21c13cb0-4687-4ca5-8b6f-514c32dd7f01","name":"Send a message4","webhookId":"51a521eb-d7b6-47e3-9a01-a3c076d17e4b","credentials":{"discordBotApi":{"id":"Rqo7N8rTQL72L4e2","name":"Pulse"}}},{"parameters":{"assignments":{"assignments":[{"id":"c061cd51-4d11-47c8-942d-aa8a5e515582","name":"Channel","value":"={{ $json.fields.Channel === 'branding' ? '1495654627322892319' : $json.fields.Channel === 'sales & outreaching' ? '1495654885218189392' : $json.fields.Channel === 'recruitment and networking' ? '1495655231013519422' : $json.fields.Channel === 'operations' ? '1495655877900763186' : '' }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,176],"id":"1a6f5c7f-f459-45e8-ad1a-756b08bc608a","name":"Edit Fields2"},{"parameters":{"sendTo":"={{ $('Last Modified').item.json.fields.Assignee.email }}","subject":"DivineSide - Deadline Breached!!","message":"=Hi {{ $('Last Modified').item.json.fields.Assignee.name }},\nThe task - {{ $('Last Modified').item.json.fields.Task }} deadline at {{ new Date($('Last Modified').item.json.fields.Deadline).toLocaleString('en-IN', {\n  day: 'numeric',\n  month: 'long',\n  year: 'numeric',\n  hour: 'numeric',\n  minute: '2-digit',\n  hour12: true\n}) }} has been breached. Report to Mayank/team members immediately for follow up actions. \n\n-- Pulse","options":{"appendAttribution":false,"senderName":"Pulse."}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[288,176],"id":"21f11aff-d9ee-4d9c-8ca4-de945c9971e7","name":"Send a message5","webhookId":"ecf57647-20a8-402d-90e3-458e5d1f2fbf","credentials":{"gmailOAuth2":{"id":"ars23wPX7FS5qGd1","name":"Gmail account"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"list","cachedResultName":"DivineCore","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0"},"table":{"__rl":true,"value":"tblewoyLna7rHbIxw","mode":"list","cachedResultName":"Task","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0/tblewoyLna7rHbIxw"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Last Modified').item.json.id }}","Deadline_reached?":"Yes, but notified"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Channel","displayName":"Channel","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"branding","value":"branding"},{"name":"sales & outreaching","value":"sales & outreaching"},{"name":"recruitment and networking","value":"recruitment and networking"},{"name":"operations","value":"operations"}],"readOnly":false,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"pending","value":"pending"},{"name":"in progress","value":"in progress"},{"name":"done","value":"done"},{"name":"blocked","value":"blocked"}],"readOnly":false,"removed":true},{"id":"Priority","displayName":"Priority","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"high","value":"high"},{"name":"medium","value":"medium"},{"name":"low","value":"low"}],"readOnly":false,"removed":true},{"id":"Deadline","displayName":"Deadline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Created by","displayName":"Created by","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Pulse","value":"Pulse"},{"name":"Mayank","value":"Mayank"}],"readOnly":false,"removed":true},{"id":"Discord message ID","displayName":"Discord message ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Deadline_reached?","displayName":"Deadline_reached?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yes","value":"Yes"},{"name":"Yes, but notified","value":"Yes, but notified"}],"readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.2,"position":[496,176],"id":"ae9cc7e7-9db6-4fca-b37f-03d57561e724","name":"Update record","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Search records","type":"main","index":0}]]},"Search records":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Good Morning Message","type":"main","index":0}]]},"Created":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Send a message1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Send a message2","type":"main","index":0}]]},"Send a message2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Send a message3","type":"main","index":0}]]},"Last Modified":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Send a message4","type":"main","index":0}]]},"Send a message4":{"main":[[{"node":"Send a message5","type":"main","index":0}]]},"Send a message5":{"main":[[{"node":"Update record","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Last Modified":{"lastTimeChecked":"2026-05-03T20:46:18Z"},"node:Created":{"lastTimeChecked":"2026-05-03T20:46:11Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Created":[{"json":{"id":"recWn61Ashzz1fGK3","createdTime":"2026-04-22T13:08:08.000Z","fields":{"Task":"hi","Status":"in progress","Channel":"branding","Deadline":"2026-04-23T18:38:00.000Z","Created":"2026-04-22T13:08:08.000Z","Last Modified":"2026-04-22T13:08:20.000Z"}}}],"Last Modified":[{"json":{"id":"recWn61Ashzz1fGK3","createdTime":"2026-04-22T13:08:08.000Z","fields":{"Task":"hi","Deadline":"2026-04-23T18:38:00.000Z","Status":"in progress","Created":"2026-04-22T13:08:08.000Z","Last Modified":"2026-04-23T07:32:02.000Z","Deadline_reached?":"Yes","Channel":"branding","Assignee":{"id":"usrP92kEvRZyDs4kN","email":"mayankrawat000072@gmail.com","name":"Mayank"}}},"pairedItem":{"item":0}},{"json":{"id":"recpD0MceLO6kAyLr","createdTime":"2026-04-22T13:26:14.000Z","fields":{"Task":"ju","Created":"2026-04-22T13:26:14.000Z","Last Modified":"2026-04-23T07:32:15.000Z","Assignee":{"id":"usrP92kEvRZyDs4kN","email":"mayankrawat000072@gmail.com","name":"Mayank"}}},"pairedItem":{"item":1}},{"json":{"id":"recu052ThTxjjRGbS","createdTime":"2026-04-22T07:22:17.000Z","fields":{"Task":"me","Deadline":"2026-04-22T18:00:00.000Z","Deadline_reached?":"Yes","Discord message ID":"jhvbojl","Created":"2026-04-22T07:22:17.000Z","Last Modified":"2026-04-23T07:32:18.000Z","Assignee":{"id":"usrP92kEvRZyDs4kN","email":"mayankrawat000072@gmail.com","name":"Mayank"}}},"pairedItem":{"item":2}}]},"versionId":"8c573c1d-2706-40b1-a33c-1ed2a5575369","activeVersionId":"8c573c1d-2706-40b1-a33c-1ed2a5575369","versionCounter":362,"triggerCount":3,"shared":[{"updatedAt":"2026-04-22T12:55:55.392Z","createdAt":"2026-04-22T12:55:55.392Z","role":"workflow:owner","workflowId":"lpkxm5wGHXJF53ru","projectId":"6RWkVecs5xXu2XCo","project":{"updatedAt":"2026-03-01T08:54:25.743Z","createdAt":"2026-03-01T08:42:31.300Z","id":"6RWkVecs5xXu2XCo","name":"Mayank Rawat <mayankrawat000072@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"155ab905-7948-43b7-ad2f-42467e89354a"}}],"tags":[{"updatedAt":"2026-05-02T08:24:43.212Z","createdAt":"2026-05-02T08:24:43.212Z","id":"IoPUff8J0GWyWDo5","name":"AIOS"}],"activeVersion":{"updatedAt":"2026-04-23T07:51:07.000Z","createdAt":"2026-04-23T07:51:02.839Z","versionId":"8c573c1d-2706-40b1-a33c-1ed2a5575369","workflowId":"lpkxm5wGHXJF53ru","nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-512,-320],"id":"874a6eb7-26b1-428b-9d80-853ba98e47b1","name":"Schedule Trigger"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"authentication":"airtableTokenApi","baseId":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"id"},"tableId":{"__rl":true,"value":"tblewoyLna7rHbIxw","mode":"id"},"triggerField":"Last Modified","additionalFields":{}},"type":"n8n-nodes-base.airtableTrigger","typeVersion":1,"position":[-512,176],"id":"bbd1e405-2b62-4e35-8e93-e34ec44834cc","name":"Last Modified","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"authentication":"airtableTokenApi","baseId":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"id"},"tableId":{"__rl":true,"value":"tblewoyLna7rHbIxw","mode":"id"},"triggerField":"Created","additionalFields":{}},"type":"n8n-nodes-base.airtableTrigger","typeVersion":1,"position":[-512,-16],"id":"a350c19a-3fcf-4119-8506-f970a34e03f0","name":"Created","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"list","cachedResultName":"DivineCore","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0"},"table":{"__rl":true,"value":"tblewoyLna7rHbIxw","mode":"list","cachedResultName":"Task","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0/tblewoyLna7rHbIxw"},"filterByFormula":"={Status} = 'in progress'","options":{},"sort":{"property":[]}},"type":"n8n-nodes-base.airtable","typeVersion":2.2,"position":[-256,-320],"id":"42ce81ff-93a5-490e-86b2-ef5d1c113823","name":"Search records","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $json.Channel }}","mode":"id"},"content":"=Task","options":{},"embeds":{"values":[{"description":"In - Progress task","author":"=Assigned to - {{ $json.fields.Assignee }}","color":"#0004FF","timestamp":"={{ $json.fields.Deadline }}","title":"={{ $json.fields.Task }}"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[432,-208],"id":"87ed3f72-9e44-4dc2-be1d-2223d0cd7b07","name":"Send a message","webhookId":"1df190fc-3b68-40e6-bfcd-5f8a8ec8b0b3","credentials":{"discordBotApi":{"id":"Rqo7N8rTQL72L4e2","name":"Pulse"}}},{"parameters":{"assignments":{"assignments":[{"id":"55aa5e8f-5a2d-486c-8049-9c981569308e","name":"Channel","value":"={{ $json.fields.Channel === 'branding' ? '1495654627322892319' : $json.fields.Channel === 'sales & outreaching' ? '1495654885218189392' : $json.fields.Channel === 'recruitment and networking' ? '1495655231013519422' : $json.fields.Channel === 'operations' ? '1495655877900763186' : '' }}","type":"string"},{"id":"f00c224b-f49d-4f80-aed0-f7e56fa045d5","name":"fields.Task","value":"={{ $json.fields.Task }}","type":"string"},{"id":"cb4d00ae-3861-43cd-9f9a-66159d093eba","name":"fields.Deadline","value":"={{ $json.fields.Deadline }}","type":"string"},{"id":"7231e620-cf42-417a-820e-3258bbe108c7","name":"fields.Assignee","value":"={{ $json.fields.Assignee }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,-320],"id":"4ee03940-a558-476e-896a-737cc148125c","name":"Edit Fields"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"},"id":"374aad37-e3b3-4655-a2d8-358b79e22096"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b12772dd-3b80-4745-a938-3c24e40dd942","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[176,-320],"id":"a0a84d40-d9d5-4695-8df4-607ffdbcd703","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[432,-432],"id":"383434be-732f-4d61-91d3-5cd38ac792c4","name":"Limit"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $json.Channel }}","mode":"id"},"content":"Good Morning everyone in the IST. Let's start the day strong with some tasks!","options":{},"embeds":{"values":[]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[592,-432],"id":"1f822279-6c12-4b1f-a31f-d4735420c069","name":"Good Morning Message","webhookId":"1df190fc-3b68-40e6-bfcd-5f8a8ec8b0b3","credentials":{"discordBotApi":{"id":"Rqo7N8rTQL72L4e2","name":"Pulse"}}},{"parameters":{"jsCode":"// Current time\nconst now = new Date();\n\nfor (const item of $input.all()) {\n\n  const deadlineStr = item.json.fields.Deadline;\n\n  if (!deadlineStr) {\n    throw new Error(\"Deadline not found\");\n  }\n\n  const deadline = new Date(deadlineStr);\n\n  const totalTime = deadline - now;\n\n  if (totalTime <= 0) {\n    item.json.reminders = [];\n    continue;\n  }\n\n  // 50% and 80%\n  const reminder50 = new Date(now.getTime() + totalTime * 0.5);\n  const reminder80 = new Date(now.getTime() + totalTime * 0.8);\n\n  // 30 mins before deadline\n  const reminderFinal = new Date(deadline.getTime() - (30 * 60 * 1000));\n\n  // Safety check (in case deadline < 30 mins away)\n  let reminders = [];\n\n  if (reminder50 > now) reminders.push(reminder50.toISOString());\n  if (reminder80 > now) reminders.push(reminder80.toISOString());\n\n  if (reminderFinal > now) {\n    reminders.push(reminderFinal.toISOString());\n  } else {\n    // fallback: if less than 30 mins left → trigger immediate final reminder\n    reminders.push(now.toISOString());\n  }\n\n  item.json.reminders = reminders;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,-16],"id":"a22a649a-cf79-40f2-9047-98279366d3a9","name":"Code in JavaScript"},{"parameters":{"resume":"specificTime","dateTime":"={{ $json.reminders[0] }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[80,-16],"id":"7eae5374-5f48-4bff-8dda-ba0673c565e6","name":"Wait","webhookId":"8a6ed1b7-6fce-4cd3-8796-8f2b87b07164"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $('Edit Fields1').item.json.Channel }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[256,-16],"id":"d61aefca-6987-4cf2-ac6a-0876a4cf1fad","name":"Send a message1","webhookId":"51a521eb-d7b6-47e3-9a01-a3c076d17e4b","credentials":{"discordBotApi":{"id":"Rqo7N8rTQL72L4e2","name":"Pulse"}}},{"parameters":{"assignments":{"assignments":[{"id":"c061cd51-4d11-47c8-942d-aa8a5e515582","name":"Channel","value":"={{ $json.fields.Channel === 'branding' ? '1495654627322892319' : $json.fields.Channel === 'sales & outreaching' ? '1495654885218189392' : $json.fields.Channel === 'recruitment and networking' ? '1495655231013519422' : $json.fields.Channel === 'operations' ? '1495655877900763186' : '' }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,-16],"id":"bfd62596-2f38-4fda-be3c-76d338f1d0f3","name":"Edit Fields1"},{"parameters":{"resume":"specificTime","dateTime":"={{ $('Code in JavaScript').item.json.reminders[1] }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[432,-16],"id":"3fdd87c2-562f-4758-a37c-3f4f209aba03","name":"Wait1","webhookId":"323b80c4-36f1-4b9f-819c-3b4a89c2cdd2"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $('Edit Fields1').item.json.Channel }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[608,-16],"id":"745ced87-7309-498f-9191-2b7d0928fd24","name":"Send a message2","webhookId":"51a521eb-d7b6-47e3-9a01-a3c076d17e4b","credentials":{"discordBotApi":{"id":"Rqo7N8rTQL72L4e2","name":"Pulse"}}},{"parameters":{"resume":"specificTime","dateTime":"={{ $('Code in JavaScript').item.json.reminders[2] }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[784,-16],"id":"dd514c62-dd6a-481e-b0dc-eb559b56eb05","name":"Wait2","webhookId":"323b80c4-36f1-4b9f-819c-3b4a89c2cdd2"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $('Edit Fields1').item.json.Channel }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[944,-16],"id":"f9e8eb08-b38f-4ad3-bb8d-3c48aca15926","name":"Send a message3","webhookId":"51a521eb-d7b6-47e3-9a01-a3c076d17e4b","credentials":{"discordBotApi":{"id":"Rqo7N8rTQL72L4e2","name":"Pulse"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"71ef8a77-a73e-438c-9180-6e9127023c70","leftValue":"={{ $json.fields['Deadline_reached?'] }}","rightValue":"Yes","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-304,176],"id":"ddf7b18a-75e7-43df-835a-9791a660ea3b","name":"Filter"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $json.Channel }}","mode":"id"},"content":"=Deadline for Task - {{ $json.fields.Task }} has been breached, immediate follow up needed.","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[80,176],"id":"21c13cb0-4687-4ca5-8b6f-514c32dd7f01","name":"Send a message4","webhookId":"51a521eb-d7b6-47e3-9a01-a3c076d17e4b","credentials":{"discordBotApi":{"id":"Rqo7N8rTQL72L4e2","name":"Pulse"}}},{"parameters":{"assignments":{"assignments":[{"id":"c061cd51-4d11-47c8-942d-aa8a5e515582","name":"Channel","value":"={{ $json.fields.Channel === 'branding' ? '1495654627322892319' : $json.fields.Channel === 'sales & outreaching' ? '1495654885218189392' : $json.fields.Channel === 'recruitment and networking' ? '1495655231013519422' : $json.fields.Channel === 'operations' ? '1495655877900763186' : '' }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,176],"id":"1a6f5c7f-f459-45e8-ad1a-756b08bc608a","name":"Edit Fields2"},{"parameters":{"sendTo":"={{ $('Last Modified').item.json.fields.Assignee.email }}","subject":"DivineSide - Deadline Breached!!","message":"=Hi {{ $('Last Modified').item.json.fields.Assignee.name }},\nThe task - {{ $('Last Modified').item.json.fields.Task }} deadline at {{ new Date($('Last Modified').item.json.fields.Deadline).toLocaleString('en-IN', {\n  day: 'numeric',\n  month: 'long',\n  year: 'numeric',\n  hour: 'numeric',\n  minute: '2-digit',\n  hour12: true\n}) }} has been breached. Report to Mayank/team members immediately for follow up actions. \n\n-- Pulse","options":{"appendAttribution":false,"senderName":"Pulse."}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[288,176],"id":"21f11aff-d9ee-4d9c-8ca4-de945c9971e7","name":"Send a message5","webhookId":"ecf57647-20a8-402d-90e3-458e5d1f2fbf","credentials":{"gmailOAuth2":{"id":"ars23wPX7FS5qGd1","name":"Gmail account"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"list","cachedResultName":"DivineCore","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0"},"table":{"__rl":true,"value":"tblewoyLna7rHbIxw","mode":"list","cachedResultName":"Task","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0/tblewoyLna7rHbIxw"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Last Modified').item.json.id }}","Deadline_reached?":"Yes, but notified"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Channel","displayName":"Channel","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"branding","value":"branding"},{"name":"sales & outreaching","value":"sales & outreaching"},{"name":"recruitment and networking","value":"recruitment and networking"},{"name":"operations","value":"operations"}],"readOnly":false,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"pending","value":"pending"},{"name":"in progress","value":"in progress"},{"name":"done","value":"done"},{"name":"blocked","value":"blocked"}],"readOnly":false,"removed":true},{"id":"Priority","displayName":"Priority","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"high","value":"high"},{"name":"medium","value":"medium"},{"name":"low","value":"low"}],"readOnly":false,"removed":true},{"id":"Deadline","displayName":"Deadline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Created by","displayName":"Created by","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Pulse","value":"Pulse"},{"name":"Mayank","value":"Mayank"}],"readOnly":false,"removed":true},{"id":"Discord message ID","displayName":"Discord message ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Deadline_reached?","displayName":"Deadline_reached?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yes","value":"Yes"},{"name":"Yes, but notified","value":"Yes, but notified"}],"readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.2,"position":[496,176],"id":"ae9cc7e7-9db6-4fca-b37f-03d57561e724","name":"Update record","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Search records","type":"main","index":0}]]},"Search records":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Good Morning Message","type":"main","index":0}]]},"Created":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Send a message1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Send a message2","type":"main","index":0}]]},"Send a message2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Send a message3","type":"main","index":0}]]},"Last Modified":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Send a message4","type":"main","index":0}]]},"Send a message4":{"main":[[{"node":"Send a message5","type":"main","index":0}]]},"Send a message5":{"main":[[{"node":"Update record","type":"main","index":0}]]}},"authors":"Mayank Rawat","name":"Version 8c573c1d","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-23T07:51:07.116Z","id":396,"workflowId":"lpkxm5wGHXJF53ru","versionId":"8c573c1d-2706-40b1-a33c-1ed2a5575369","event":"activated","userId":"155ab905-7948-43b7-ad2f-42467e89354a"}]}}