pulse/workflows/PULSE-SET-TASK.json
{"updatedAt":"2026-05-02T08:25:00.027Z","createdAt":"2026-04-22T12:00:19.280Z","id":"TV1x72OKjUKXZ79n","name":"Pulse tool - Set task in airtable and discord","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Channel"},{"name":"Message"},{"name":"Description"},{"name":"Author"},{"name":"Color"},{"name":"Timestamp"},{"name":"Title"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-368,-80],"id":"861ec746-2ec1-45db-8b35-8cb47d1e0e05","name":"When Executed by Another Workflow"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $json.Channel }}","mode":"id"},"content":"={{ $json.Message }}","options":{"tts":true},"embeds":{"values":[{"description":"={{ $json.Description }}","author":"={{ $json.Author }}","color":"={{ $json.Color }}","timestamp":"={{ $json.Timestamp }}","title":"={{ $json.Title }}"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-112,-80],"id":"f58b3416-91a4-45c9-9d72-1252f5fa85d2","name":"Send a message","webhookId":"bba16a73-46d2-4290-98d3-049ab78396a0","credentials":{"discordBotApi":{"id":"Rqo7N8rTQL72L4e2","name":"Pulse"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"list","cachedResultName":"DivineCore","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0"},"table":{"__rl":true,"value":"tblewoyLna7rHbIxw","mode":"list","cachedResultName":"Task","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0/tblewoyLna7rHbIxw"},"columns":{"mappingMode":"defineBelow","value":{"Assignee":"={{ $('When Executed by Another Workflow').item.json.Author }}","Channel":"={{ $json.Channel }}","Status":"=","Priority":"={{ $json.priority }}","Deadline":"={{ $('When Executed by Another Workflow').item.json.Timestamp }}","Created by":"=Pulse","Discord message ID":"={{ $('Send a message').item.json.id }}","Task":"={{ $('When Executed by Another Workflow').item.json.Title }}"},"matchingColumns":[],"schema":[{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Mayank","value":"Mayank"},{"name":"William","value":"William"},{"name":"Shubham","value":"Shubham"},{"name":"Anish","value":"Anish"}],"readOnly":false,"removed":false},{"id":"Channel","displayName":"Channel","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"branding","value":"branding"},{"name":"sales & outreaching","value":"sales & outreaching"},{"name":"recruitment and networking","value":"recruitment and networking"},{"name":"operations","value":"operations"}],"readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"pending","value":"pending"},{"name":"in progress","value":"in progress"},{"name":"done","value":"done"},{"name":"blocked","value":"blocked"}],"readOnly":false,"removed":false},{"id":"Priority","displayName":"Priority","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"high","value":"high"},{"name":"medium","value":"medium"},{"name":"low","value":"low"}],"readOnly":false,"removed":false},{"id":"Deadline","displayName":"Deadline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Created by","displayName":"Created by","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Pulse","value":"Pulse"},{"name":"Mayank","value":"Mayank"}],"readOnly":false,"removed":false},{"id":"Discord message ID","displayName":"Discord message ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.2,"position":[288,-80],"id":"9c8754c4-7c9f-4c1b-a5c5-1240649f1433","name":"Create a record","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}}},{"parameters":{"assignments":{"assignments":[{"id":"6ca1f5a7-9e24-44c5-be58-0888f027f989","name":"Channel","value":"={{ $('When Executed by Another Workflow').item.json.Channel === '1495654627322892319' ? 'branding' : $('When Executed by Another Workflow').item.json.Channel === '1495654885218189392' ? 'sales & outreaching' : $('When Executed by Another Workflow').item.json.Channel === '1495655231013519422' ? 'recruitment and networking' : $('When Executed by Another Workflow').item.json.Channel === '1495655877900763186' ? 'operations' : '' }}","type":"string"},{"id":"12b117af-5957-4541-be7b-91386334b1f6","name":"priority","value":"={{ $('When Executed by Another Workflow').item.json.Color === '#F80404' ? 'high' : $('When Executed by Another Workflow').item.json.Color === '#04F849' ? 'low' : $('When Executed by Another Workflow').item.json.Color === '#D7F804' ? 'medium' : 'medium' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,-80],"id":"8c6bf0fe-0f55-4cd7-a544-192032902064","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Create a record":{"main":[[]]},"Send a message":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Create a record","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"Channel":"1495654885218189392","Message":"hi","Description":"Let's do this","Author":"Mayank","Color":"#D7F804","Timestamp":"2026-04-22T06:00:00","Title":"Lock in"},"pairedItem":{"item":0}}]},"versionId":"a0fc1a5b-6100-4ecf-8312-206f3c08d228","activeVersionId":"8ef8995a-df96-4db9-bee0-9dbf5f855286","versionCounter":121,"triggerCount":0,"shared":[{"updatedAt":"2026-04-22T12:00:19.286Z","createdAt":"2026-04-22T12:00:19.286Z","role":"workflow:owner","workflowId":"TV1x72OKjUKXZ79n","projectId":"6RWkVecs5xXu2XCo","project":{"updatedAt":"2026-03-01T08:54:25.743Z","createdAt":"2026-03-01T08:42:31.300Z","id":"6RWkVecs5xXu2XCo","name":"Mayank Rawat <mayankrawat000072@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"155ab905-7948-43b7-ad2f-42467e89354a"}}],"tags":[{"updatedAt":"2026-05-02T08:24:43.212Z","createdAt":"2026-05-02T08:24:43.212Z","id":"IoPUff8J0GWyWDo5","name":"AIOS"}],"activeVersion":{"updatedAt":"2026-04-22T12:32:51.000Z","createdAt":"2026-04-22T12:32:35.015Z","versionId":"8ef8995a-df96-4db9-bee0-9dbf5f855286","workflowId":"TV1x72OKjUKXZ79n","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Channel"},{"name":"Message"},{"name":"Description"},{"name":"Author"},{"name":"Color"},{"name":"Timestamp"},{"name":"Title"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-368,-80],"id":"861ec746-2ec1-45db-8b35-8cb47d1e0e05","name":"When Executed by Another Workflow"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"={{ $json.Channel }}","mode":"id"},"content":"={{ $json.Message }}","options":{"tts":true},"embeds":{"values":[{"description":"={{ $json.Description }}","author":"={{ $json.Author }}","color":"={{ $json.Color }}","timestamp":"={{ $json.Timestamp }}","title":"={{ $json.Title }}"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-112,-80],"id":"f58b3416-91a4-45c9-9d72-1252f5fa85d2","name":"Send a message","webhookId":"bba16a73-46d2-4290-98d3-049ab78396a0","credentials":{"discordBotApi":{"id":"Rqo7N8rTQL72L4e2","name":"Jarvis16"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"list","cachedResultName":"DivineCore","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0"},"table":{"__rl":true,"value":"tblewoyLna7rHbIxw","mode":"list","cachedResultName":"Task","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0/tblewoyLna7rHbIxw"},"columns":{"mappingMode":"defineBelow","value":{"Assignee":"={{ $('When Executed by Another Workflow').item.json.Author }}","Channel":"={{ $json.Channel }}","Status":"=","Priority":"={{ $json.priority }}","Deadline":"={{ $('When Executed by Another Workflow').item.json.Timestamp }}","Created by":"=Pulse","Discord message ID":"={{ $('Send a message').item.json.id }}","Task":"={{ $('When Executed by Another Workflow').item.json.Title }}"},"matchingColumns":[],"schema":[{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Mayank","value":"Mayank"},{"name":"William","value":"William"},{"name":"Shubham","value":"Shubham"},{"name":"Anish","value":"Anish"}],"readOnly":false,"removed":false},{"id":"Channel","displayName":"Channel","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"branding","value":"branding"},{"name":"sales & outreaching","value":"sales & outreaching"},{"name":"recruitment and networking","value":"recruitment and networking"},{"name":"operations","value":"operations"}],"readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"pending","value":"pending"},{"name":"in progress","value":"in progress"},{"name":"done","value":"done"},{"name":"blocked","value":"blocked"}],"readOnly":false,"removed":false},{"id":"Priority","displayName":"Priority","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"high","value":"high"},{"name":"medium","value":"medium"},{"name":"low","value":"low"}],"readOnly":false,"removed":false},{"id":"Deadline","displayName":"Deadline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Created by","displayName":"Created by","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Pulse","value":"Pulse"},{"name":"Mayank","value":"Mayank"}],"readOnly":false,"removed":false},{"id":"Discord message ID","displayName":"Discord message ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.2,"position":[288,-80],"id":"9c8754c4-7c9f-4c1b-a5c5-1240649f1433","name":"Create a record","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}}},{"parameters":{"assignments":{"assignments":[{"id":"6ca1f5a7-9e24-44c5-be58-0888f027f989","name":"Channel","value":"={{ $('When Executed by Another Workflow').item.json.Channel === '1495654627322892319' ? 'branding' : $('When Executed by Another Workflow').item.json.Channel === '1495654885218189392' ? 'sales & outreaching' : $('When Executed by Another Workflow').item.json.Channel === '1495655231013519422' ? 'recruitment and networking' : $('When Executed by Another Workflow').item.json.Channel === '1495655877900763186' ? 'operations' : '' }}","type":"string"},{"id":"12b117af-5957-4541-be7b-91386334b1f6","name":"priority","value":"={{ $('When Executed by Another Workflow').item.json.Color === '#F80404' ? 'high' : $('When Executed by Another Workflow').item.json.Color === '#04F849' ? 'low' : $('When Executed by Another Workflow').item.json.Color === '#D7F804' ? 'medium' : 'medium' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,-80],"id":"8c6bf0fe-0f55-4cd7-a544-192032902064","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Create a record":{"main":[[]]},"Send a message":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Create a record","type":"main","index":0}]]}},"authors":"Mayank Rawat","name":"Version 8ef8995a","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-22T12:32:51.855Z","id":379,"workflowId":"TV1x72OKjUKXZ79n","versionId":"8ef8995a-df96-4db9-bee0-9dbf5f855286","event":"activated","userId":"155ab905-7948-43b7-ad2f-42467e89354a"}]}}