sales_os/workflows/n8n/follow-up-pings-v1.json
{
  "name": "[DRAFT] follow-up-pings-v1",
  "nodes": [
    {
      "id": "node-schedule",
      "name": "Schedule: Daily 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "node-ghl-get-opps",
      "name": "GHL: Get Opportunities (AWAITING_PROSPECT)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://services.leadconnectorhq.com/opportunities/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "location_id",
              "value": "vBGfwhaDbMUIhHW1sYSI"
            },
            {
              "name": "pipeline_id",
              "value": "a1KKsI21F7JknQZAbNXA"
            },
            {
              "name": "pipeline_stage_id",
              "value": "abe88380-e2b2-4fbd-a672-d0c61c9d4d4f"
            },
            {
              "name": "status",
              "value": "open"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pit-d2b7e397-0a06-4041-a9fe-5ffee04a3948"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        }
      }
    },
    {
      "id": "node-extract-opps",
      "name": "Extract Opportunities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "\nconst opps = $input.first().json.opportunities || [];\nreturn opps.map(o => ({ json: o }));\n"
      }
    },
    {
      "id": "node-ghl-get-contact",
      "name": "GHL: Get Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contactId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pit-d2b7e397-0a06-4041-a9fe-5ffee04a3948"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        }
      }
    },
    {
      "id": "node-parse-contact",
      "name": "Parse Contact + Custom Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "jsCode": "const c = $input.first().json.contact;\nconst cf = (c.customFields || []).reduce((acc, f) => { acc[f.id] = f.value; return acc; }, {});\n\nconst FIELD_FOLLOW_UP_COUNT = '8AZ4Ww7zK6EdI05jpZpx';\nconst FIELD_LAST_FOLLOWUP_AT = 'PRvHAhpyqNvxvHU8O43f';\nconst FIELD_GMAIL_THREAD_ID = 'td5BLjONYErrA2XoHm35';\n\nreturn [{\n  json: {\n    contact_id: c.id,\n    first_name: c.firstName || c.firstNameLowerCase || 'there',\n    email: c.email,\n    follow_up_count: parseInt(cf[FIELD_FOLLOW_UP_COUNT] || '0'),\n    last_followup_at: cf[FIELD_LAST_FOLLOWUP_AT] || null,\n    gmail_thread_id: cf[FIELD_GMAIL_THREAD_ID] || null,\n  }\n}];\n"
      }
    },
    {
      "id": "node-if-can-send",
      "name": "IF: Can Send (count<3, has thread)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1340,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.follow_up_count }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.gmail_thread_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "node-gmail-get-thread",
      "name": "Gmail: Get Thread",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1560,
        200
      ],
      "parameters": {
        "resource": "thread",
        "operation": "get",
        "threadId": "={{ $json.gmail_thread_id }}",
        "returnAll": false,
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "T0HLzZyiARsBnTKE",
          "name": "Gmail account 4"
        }
      },
      "webhookId": "fad85403-3a6f-420f-b6e8-991ffcd720bc"
    },
    {
      "id": "node-prepare-send",
      "name": "Verify + Prepare Send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        200
      ],
      "parameters": {
        "jsCode": "\nconst thread = $input.first().json;\nconst contact = $('Parse Contact + Custom Fields').item.json;\n\n// Get latest message in thread\nconst messages = thread.messages || [];\nif (messages.length === 0) {\n  return [{ json: { skip: true, reason: 'no_messages' } }];\n}\nconst latest = messages[messages.length - 1];\n\n// Headers\nconst headers = (latest.payload?.headers || []).reduce((a, h) => {\n  a[h.name.toLowerCase()] = h.value;\n  return a;\n}, {});\n\nconst fromAddr = (headers.from || '').toLowerCase();\nconst isFromUs = fromAddr.includes('patrick@moic-automation.de') || fromAddr.includes('tom.maier@moic-consulting.de');\n\n// Age check\nconst internalDate = parseInt(latest.internalDate || '0');\nconst ageMs = Date.now() - internalDate;\nconst age24h = ageMs > 24 * 60 * 60 * 1000;\n\nif (!isFromUs || !age24h) {\n  return [{ json: { skip: true, reason: !isFromUs ? 'not_from_us' : 'too_recent', age_hours: Math.round(ageMs / 3600000) } }];\n}\n\n// Decide which inbox sends\nconst isTomThread = fromAddr.includes('tom.maier');\nconst inbox = isTomThread ? 'tom' : 'patrick';\nconst senderName = isTomThread ? 'Tom' : 'Patrick';\n\n// Pick template by follow_up_count\nconst templates = {\n  0: { // ping 1\n    body: `Hi ${contact.first_name},\\n\\njust bumping this up — did my last note land in your inbox?\\n\\nBest\\n${senderName}`\n  },\n  1: { // ping 2\n    body: `Hi ${contact.first_name},\\n\\nstill keen on locking in a time that works on your end.\\nWant me to send a few new slots for next week?\\n\\nBest\\n${senderName}`\n  },\n  2: { // ping 3\n    body: `Hi ${contact.first_name},\\n\\nI'll let this rest for now — figure your plate is full.\\nFeel free to reach out whenever timing is better.\\n\\nBest\\n${senderName}`\n  }\n};\n\nconst tpl = templates[contact.follow_up_count];\nif (!tpl) {\n  return [{ json: { skip: true, reason: 'no_template' } }];\n}\n\n// Subject: extract from latest, prefix Re:\nconst origSubject = headers.subject || '';\nconst subject = origSubject.startsWith('Re:') ? origSubject : `Re: ${origSubject}`;\n\n// Message-ID for In-Reply-To header\nconst messageId = headers['message-id'] || '';\n\nreturn [{\n  json: {\n    skip: false,\n    contact_id: contact.contact_id,\n    email: contact.email,\n    first_name: contact.first_name,\n    thread_id: contact.gmail_thread_id,\n    follow_up_count: contact.follow_up_count,\n    next_count: contact.follow_up_count + 1,\n    inbox: inbox,\n    sender_name: senderName,\n    subject: subject,\n    body: tpl.body,\n    in_reply_to: messageId\n  }\n}];\n"
      }
    },
    {
      "id": "node-if-skip",
      "name": "IF: Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2000,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "node-switch-inbox",
      "name": "Switch: Inbox",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2220,
        200
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.inbox }}",
                    "rightValue": "patrick",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "patrick"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.inbox }}",
                    "rightValue": "tom",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "tom"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-gmail-send-patrick",
      "name": "Gmail: Send Reply (Patrick)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2440,
        100
      ],
      "parameters": {
        "resource": "message",
        "operation": "reply",
        "messageId": "={{ $json.thread_id }}",
        "message": "={{ $json.body }}",
        "options": {
          "sendReplyTo": "",
          "appendAttribution": false
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "PEQGT7WymOpGE0ai",
          "name": "Gmail account 5"
        }
      },
      "webhookId": "143ac7a3-2571-4c73-9fbd-ae678a491190"
    },
    {
      "id": "node-gmail-send-tom",
      "name": "Gmail: Send Reply (Tom)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2440,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "reply",
        "messageId": "={{ $json.thread_id }}",
        "message": "={{ $json.body }}",
        "options": {
          "sendReplyTo": "",
          "appendAttribution": false
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "gmDZw9VlKkE70Gut",
          "name": "Gmail account 6"
        }
      },
      "webhookId": "d3e02234-66ac-4bb3-9542-27fa2e9e1f18"
    },
    {
      "id": "node-merge",
      "name": "Merge after Send",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2660,
        200
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "node-ghl-update",
      "name": "GHL: Update Contact (count+1, timestamp)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        200
      ],
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Verify + Prepare Send').item.json.contact_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pit-d2b7e397-0a06-4041-a9fe-5ffee04a3948"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customFields\": [\n    { \"id\": \"8AZ4Ww7zK6EdI05jpZpx\", \"field_value\": \"{{ $('Verify + Prepare Send').item.json.next_count }}\" },\n    { \"id\": \"PRvHAhpyqNvxvHU8O43f\", \"field_value\": \"{{ $now.toISO() }}\" }\n  ]\n}"
      }
    },
    {
      "id": "node-slack",
      "name": "Slack: Follow-up Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3100,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "SLACK_WEBHOOK_URL_PLACEHOLDER",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \":envelope_with_arrow: Follow-up #{{ $('Verify + Prepare Send').item.json.next_count }} sent to {{ $('Verify + Prepare Send').item.json.email }} (from {{ $('Verify + Prepare Send').item.json.sender_name }})\"\n}"
      }
    }
  ],
  "connections": {
    "Schedule: Daily 09:00": {
      "main": [
        [
          {
            "node": "GHL: Get Opportunities (AWAITING_PROSPECT)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL: Get Opportunities (AWAITING_PROSPECT)": {
      "main": [
        [
          {
            "node": "Extract Opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Opportunities": {
      "main": [
        [
          {
            "node": "GHL: Get Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL: Get Contact": {
      "main": [
        [
          {
            "node": "Parse Contact + Custom Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Contact + Custom Fields": {
      "main": [
        [
          {
            "node": "IF: Can Send (count<3, has thread)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Can Send (count<3, has thread)": {
      "main": [
        [
          {
            "node": "Gmail: Get Thread",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Gmail: Get Thread": {
      "main": [
        [
          {
            "node": "Verify + Prepare Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify + Prepare Send": {
      "main": [
        [
          {
            "node": "IF: Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Skip?": {
      "main": [
        [
          {
            "node": "Switch: Inbox",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Switch: Inbox": {
      "main": [
        [
          {
            "node": "Gmail: Send Reply (Patrick)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail: Send Reply (Tom)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Send Reply (Patrick)": {
      "main": [
        [
          {
            "node": "Merge after Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Send Reply (Tom)": {
      "main": [
        [
          {
            "node": "Merge after Send",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge after Send": {
      "main": [
        [
          {
            "node": "GHL: Update Contact (count+1, timestamp)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL: Update Contact (count+1, timestamp)": {
      "main": [
        [
          {
            "node": "Slack: Follow-up Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  }
}