branding-os/workflows/FORGE.json
{"updatedAt":"2026-05-02T08:25:33.338Z","createdAt":"2026-04-27T09:56:19.620Z","id":"Hy8z45Fq5stEKPmj","name":"FORGE","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Username"},{"name":"message"},{"name":"authorId"},{"name":"channel_Id"},{"name":"messageId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-320,-160],"id":"27d94131-370a-4751-bfbf-d59ce0ed151a","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"effd3344-d5ea-4595-b85b-383e75bc91ea","name":"message","value":"={{ $json.message.replace('<@1496791428020572230>','IMAGYN') }}","type":"string"},{"id":"878624c0-b182-45b3-bee9-acc9931d4e35","name":"Username","value":"={{ $json.Username }}","type":"string"},{"id":"d804bdff-8e6e-40a7-ad5a-12258a0880a3","name":"authorId","value":"={{ $json.authorId }}","type":"string"},{"id":"077eabd6-1b89-4719-835c-3d1660c1361c","name":"channel_Id","value":"={{ $json.channel_Id }}","type":"string"},{"id":"2f6d873e-5f21-4cab-aeff-3abb9940a2d4","name":"messageId","value":"={{ $json.messageId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-112,-160],"id":"4bcbe60a-f53c-4ccd-8318-3b188fa0daca","name":"Edit Fields"},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-80,176],"id":"faef129a-ae60-4c8d-912b-ebcf44d272df","name":"OpenRouter","credentials":{"openRouterApi":{"id":"boV0huyNy7ye4f9U","name":"OpenRouter - shubham"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[64,176],"id":"1f29c942-d6c3-4cbd-9d1d-d1084445d90a","name":"GPT 4o mini","credentials":{"openAiApi":{"id":"ENfW7EUExHBsp3Jt","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"imagyn_global_memory","tableName":"imagyn_chat_histories","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[208,176],"id":"6dbb2a72-ee90-46f3-9d07-9d6818e39d11","name":"IMAGYN Memory","credentials":{"postgres":{"id":"hyGI2SOXo5eLTVkI","name":"DivineSide - Mayank"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Search records in Airtable","operation":"search","base":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"list","cachedResultName":"DivineCore","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0"},"table":{"__rl":true,"value":"tblKGVswiybbXEuk6","mode":"list","cachedResultName":"IMAGYN - Core Knowledge Base","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0/tblKGVswiybbXEuk6"},"filterByFormula":"={{ $fromAI('Filter_By_Formula', ``, 'string', '') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.2,"position":[384,160],"id":"39fe69a3-cefd-4e7f-a5f6-78ad81327138","name":"Core Knowledge Base","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}}},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[144,-160],"id":"38fee970-5703-4bc4-bad5-19c9f171ecd0","name":"Forge"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"=1489255611857371266","mode":"id"},"channelId":{"__rl":true,"value":"1495654627322892319","mode":"list","cachedResultName":"branding","cachedResultUrl":"https://discord.com/channels/1489255611857371266/1495654627322892319"},"content":"={{ $json.output }}","options":{"message_reference":"={{ $('When Executed by Another Workflow').item.json.messageId }}","tts":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[544,-160],"id":"acd5a1cf-1dc7-46c9-a164-47240fad74ab","name":"Send a message","webhookId":"91b6568a-d8f0-4306-813a-ddaa27958c64","credentials":{"discordBotApi":{"id":"dIkFHmORvBunLN4d","name":"VigiL"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenRouter":{"ai_languageModel":[[{"node":"Forge","type":"ai_languageModel","index":0}]]},"GPT 4o mini":{"ai_languageModel":[[{"node":"Forge","type":"ai_languageModel","index":1}]]},"IMAGYN Memory":{"ai_memory":[[{"node":"Forge","type":"ai_memory","index":0}]]},"Core Knowledge Base":{"ai_tool":[[{"node":"Forge","type":"ai_tool","index":0}]]},"Edit Fields":{"main":[[{"node":"Forge","type":"main","index":0}]]},"Forge":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"Username":"mayank082527","message":"<@1496791428020572230> hi","server_or_dm":null,"authorId":"1309128820493783093","channel_Id":"1495654627322892319","messageId":"1496855838818570383"}}]},"versionId":"de27923b-28fa-4b05-93a0-aa997bea6301","activeVersionId":"de27923b-28fa-4b05-93a0-aa997bea6301","versionCounter":22,"triggerCount":0,"shared":[{"updatedAt":"2026-04-27T09:56:19.624Z","createdAt":"2026-04-27T09:56:19.624Z","role":"workflow:owner","workflowId":"Hy8z45Fq5stEKPmj","projectId":"6RWkVecs5xXu2XCo","project":{"updatedAt":"2026-03-01T08:54:25.743Z","createdAt":"2026-03-01T08:42:31.300Z","id":"6RWkVecs5xXu2XCo","name":"Mayank Rawat <mayankrawat000072@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"155ab905-7948-43b7-ad2f-42467e89354a"}}],"tags":[{"updatedAt":"2026-05-02T08:24:43.212Z","createdAt":"2026-05-02T08:24:43.212Z","id":"IoPUff8J0GWyWDo5","name":"AIOS"}],"activeVersion":{"updatedAt":"2026-04-27T12:18:59.000Z","createdAt":"2026-04-27T09:59:34.252Z","versionId":"de27923b-28fa-4b05-93a0-aa997bea6301","workflowId":"Hy8z45Fq5stEKPmj","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Username"},{"name":"message"},{"name":"authorId"},{"name":"channel_Id"},{"name":"messageId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-320,-160],"id":"27d94131-370a-4751-bfbf-d59ce0ed151a","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"effd3344-d5ea-4595-b85b-383e75bc91ea","name":"message","value":"={{ $json.message.replace('<@1496791428020572230>','IMAGYN') }}","type":"string"},{"id":"878624c0-b182-45b3-bee9-acc9931d4e35","name":"Username","value":"={{ $json.Username }}","type":"string"},{"id":"d804bdff-8e6e-40a7-ad5a-12258a0880a3","name":"authorId","value":"={{ $json.authorId }}","type":"string"},{"id":"077eabd6-1b89-4719-835c-3d1660c1361c","name":"channel_Id","value":"={{ $json.channel_Id }}","type":"string"},{"id":"2f6d873e-5f21-4cab-aeff-3abb9940a2d4","name":"messageId","value":"={{ $json.messageId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-112,-160],"id":"4bcbe60a-f53c-4ccd-8318-3b188fa0daca","name":"Edit Fields"},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-80,176],"id":"faef129a-ae60-4c8d-912b-ebcf44d272df","name":"OpenRouter","credentials":{"openRouterApi":{"id":"boV0huyNy7ye4f9U","name":"OpenRouter - shubham"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[64,176],"id":"1f29c942-d6c3-4cbd-9d1d-d1084445d90a","name":"GPT 4o mini","credentials":{"openAiApi":{"id":"ENfW7EUExHBsp3Jt","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"imagyn_global_memory","tableName":"imagyn_chat_histories","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[208,176],"id":"6dbb2a72-ee90-46f3-9d07-9d6818e39d11","name":"IMAGYN Memory","credentials":{"postgres":{"id":"hyGI2SOXo5eLTVkI","name":"DivineSide - Mayank"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Search records in Airtable","operation":"search","base":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"list","cachedResultName":"DivineCore","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0"},"table":{"__rl":true,"value":"tblKGVswiybbXEuk6","mode":"list","cachedResultName":"IMAGYN - Core Knowledge Base","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0/tblKGVswiybbXEuk6"},"filterByFormula":"={{ $fromAI('Filter_By_Formula', ``, 'string', '') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.2,"position":[384,160],"id":"39fe69a3-cefd-4e7f-a5f6-78ad81327138","name":"Core Knowledge Base","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}}},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[144,-160],"id":"38fee970-5703-4bc4-bad5-19c9f171ecd0","name":"Forge"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"=1489255611857371266","mode":"id"},"channelId":{"__rl":true,"value":"1495654627322892319","mode":"list","cachedResultName":"branding","cachedResultUrl":"https://discord.com/channels/1489255611857371266/1495654627322892319"},"content":"={{ $json.output }}","options":{"message_reference":"={{ $('When Executed by Another Workflow').item.json.messageId }}","tts":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[544,-160],"id":"acd5a1cf-1dc7-46c9-a164-47240fad74ab","name":"Send a message","webhookId":"91b6568a-d8f0-4306-813a-ddaa27958c64","credentials":{"discordBotApi":{"id":"dIkFHmORvBunLN4d","name":"VigiL"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenRouter":{"ai_languageModel":[[{"node":"Forge","type":"ai_languageModel","index":0}]]},"GPT 4o mini":{"ai_languageModel":[[{"node":"Forge","type":"ai_languageModel","index":1}]]},"IMAGYN Memory":{"ai_memory":[[{"node":"Forge","type":"ai_memory","index":0}]]},"Core Knowledge Base":{"ai_tool":[[{"node":"Forge","type":"ai_tool","index":0}]]},"Edit Fields":{"main":[[{"node":"Forge","type":"main","index":0}]]},"Forge":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"authors":"Mayank Rawat","name":"Version de27923b","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-27T12:18:59.952Z","id":416,"workflowId":"Hy8z45Fq5stEKPmj","versionId":"de27923b-28fa-4b05-93a0-aa997bea6301","event":"activated","userId":"155ab905-7948-43b7-ad2f-42467e89354a"}]}}