branding-os/workflows/IMAGYN.json
{"updatedAt":"2026-05-07T08:07:15.769Z","createdAt":"2026-04-23T08:38:21.784Z","id":"16nFikebTqGlVJ1b","name":"IMAGYN","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"1495654627322892319","mode":"list","cachedResultName":"branding","cachedResultUrl":"https://discord.com/channels/1489255611857371266/1495654627322892319"},"content":"={{ $json.output }}","options":{"message_reference":"={{ $('Edit Fields').item.json.messageId }}"}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[672,0],"id":"8bf725f8-795b-482a-b56f-dbea2ac57cf5","name":"Send a message","webhookId":"a4520b39-5f5a-4dcc-ba5c-661fc773289d","credentials":{"discordBotApi":{"id":"Q3B4Twitp8hF5iBr","name":"IMAGYN"}}},{"parameters":{"workflowInputs":{"values":[{"name":"Username"},{"name":"message"},{"name":"authorId"},{"name":"channel_Id"},{"name":"messageId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-176,0],"id":"f600937e-9a76-4f90-8288-d205e7110ba9","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[288,0],"id":"58d76b65-3bf4-4f64-9fe1-bf01d82fde73","name":"IMAGYN"},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[64,320],"id":"c0630d39-9a97-409b-9190-f03150f43436","name":"OpenRouter","credentials":{"openRouterApi":{"id":"boV0huyNy7ye4f9U","name":"OpenRouter - shubham"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[208,320],"id":"ef059152-3205-4219-889c-42c3517a3e0b","name":"GPT 4o mini","credentials":{"openAiApi":{"id":"ENfW7EUExHBsp3Jt","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"imagyn_global_memory","tableName":"imagyn_chat_histories","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[352,320],"id":"0f97a538-e2b0-4018-92e8-34e1fc3d3f81","name":"IMAGYN Memory","credentials":{"postgres":{"id":"hyGI2SOXo5eLTVkI","name":"DivineSide - Mayank"}}},{"parameters":{"assignments":{"assignments":[{"id":"effd3344-d5ea-4595-b85b-383e75bc91ea","name":"message","value":"={{ $json.message.replace('<@1496791428020572230>','IMAGYN') }}","type":"string"},{"id":"878624c0-b182-45b3-bee9-acc9931d4e35","name":"Username","value":"={{ $json.Username }}","type":"string"},{"id":"d804bdff-8e6e-40a7-ad5a-12258a0880a3","name":"authorId","value":"={{ $json.authorId }}","type":"string"},{"id":"077eabd6-1b89-4719-835c-3d1660c1361c","name":"channel_Id","value":"={{ $json.channel_Id }}","type":"string"},{"id":"2f6d873e-5f21-4cab-aeff-3abb9940a2d4","name":"messageId","value":"={{ $json.messageId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"db5ead2f-4181-437c-afea-753919977ffd","name":"Edit Fields"},{"parameters":{"descriptionType":"manual","toolDescription":"Search records in Airtable","operation":"search","base":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"list","cachedResultName":"DivineCore","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0"},"table":{"__rl":true,"value":"tblKGVswiybbXEuk6","mode":"list","cachedResultName":"IMAGYN - Core Knowledge Base","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0/tblKGVswiybbXEuk6"},"filterByFormula":"={{ $fromAI('Filter_By_Formula', ``, 'string', '') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.2,"position":[528,304],"id":"5b53ea41-bf18-4273-a0a6-d0ec7a099f60","name":"Core Knowledge Base","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Search records in Airtable","operation":"search","base":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"list","cachedResultName":"DivineCore","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0"},"table":{"__rl":true,"value":"tblKGVswiybbXEuk6","mode":"list","cachedResultName":"IMAGYN - Core Knowledge Base","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0/tblKGVswiybbXEuk6"},"filterByFormula":"={{ $fromAI('Filter_By_Formula', ``, 'string', '') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.2,"position":[688,304],"id":"32075e6a-99c2-48ea-a6a5-45c6d0a4ce6a","name":"Examples","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}},"disabled":true},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"1495654627322892319","mode":"list","cachedResultName":"branding","cachedResultUrl":"https://discord.com/channels/1489255611857371266/1495654627322892319"},"content":"hui","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[880,0],"id":"c9279921-52e4-415a-b3a3-1d526d317215","name":"Send a message1","webhookId":"4161af55-35af-4d25-a39f-cc0652827bd9","credentials":{"discordBotApi":{"id":"dIkFHmORvBunLN4d","name":"VigiL"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"IMAGYN":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"OpenRouter":{"ai_languageModel":[[{"node":"IMAGYN","type":"ai_languageModel","index":0}]]},"GPT 4o mini":{"ai_languageModel":[[{"node":"IMAGYN","type":"ai_languageModel","index":1}]]},"IMAGYN Memory":{"ai_memory":[[{"node":"IMAGYN","type":"ai_memory","index":0}]]},"Edit Fields":{"main":[[{"node":"IMAGYN","type":"main","index":0}]]},"Core Knowledge Base":{"ai_tool":[[{"node":"IMAGYN","type":"ai_tool","index":0}]]},"Examples":{"ai_tool":[[{"node":"IMAGYN","type":"ai_tool","index":0}]]},"Send a message":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"Username":"mayank082527","message":"<@1496791428020572230> hi","server_or_dm":null,"authorId":"1309128820493783093","channel_Id":"1495654627322892319","messageId":"1496855838818570383"},"pairedItem":{"item":0}}]},"versionId":"670e64a9-d5db-4381-ac2a-011b42021f4c","activeVersionId":"c49b15d4-295a-4d36-a029-0a1ab63ec89a","versionCounter":109,"triggerCount":0,"shared":[{"updatedAt":"2026-04-23T08:38:21.788Z","createdAt":"2026-04-23T08:38:21.788Z","role":"workflow:owner","workflowId":"16nFikebTqGlVJ1b","projectId":"6RWkVecs5xXu2XCo","project":{"updatedAt":"2026-03-01T08:54:25.743Z","createdAt":"2026-03-01T08:42:31.300Z","id":"6RWkVecs5xXu2XCo","name":"Mayank Rawat <mayankrawat000072@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"155ab905-7948-43b7-ad2f-42467e89354a"}}],"tags":[{"updatedAt":"2026-05-02T08:24:43.212Z","createdAt":"2026-05-02T08:24:43.212Z","id":"IoPUff8J0GWyWDo5","name":"AIOS"}],"activeVersion":{"updatedAt":"2026-05-02T08:26:12.000Z","createdAt":"2026-04-27T09:57:17.783Z","versionId":"c49b15d4-295a-4d36-a029-0a1ab63ec89a","workflowId":"16nFikebTqGlVJ1b","nodes":[{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"1495654627322892319","mode":"list","cachedResultName":"branding","cachedResultUrl":"https://discord.com/channels/1489255611857371266/1495654627322892319"},"content":"={{ $json.output }}","options":{"message_reference":"={{ $('Edit Fields').item.json.messageId }}"}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[672,0],"id":"8bf725f8-795b-482a-b56f-dbea2ac57cf5","name":"Send a message","webhookId":"a4520b39-5f5a-4dcc-ba5c-661fc773289d","credentials":{"discordBotApi":{"id":"Q3B4Twitp8hF5iBr","name":"IMAGYN"}}},{"parameters":{"workflowInputs":{"values":[{"name":"Username"},{"name":"message"},{"name":"authorId"},{"name":"channel_Id"},{"name":"messageId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-176,0],"id":"f600937e-9a76-4f90-8288-d205e7110ba9","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[288,0],"id":"58d76b65-3bf4-4f64-9fe1-bf01d82fde73","name":"IMAGYN"},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[64,320],"id":"c0630d39-9a97-409b-9190-f03150f43436","name":"OpenRouter","credentials":{"openRouterApi":{"id":"boV0huyNy7ye4f9U","name":"OpenRouter - shubham"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[208,320],"id":"ef059152-3205-4219-889c-42c3517a3e0b","name":"GPT 4o mini","credentials":{"openAiApi":{"id":"ENfW7EUExHBsp3Jt","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"imagyn_global_memory","tableName":"imagyn_chat_histories","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[352,320],"id":"0f97a538-e2b0-4018-92e8-34e1fc3d3f81","name":"IMAGYN Memory","credentials":{"postgres":{"id":"hyGI2SOXo5eLTVkI","name":"DivineSide - Mayank"}}},{"parameters":{"assignments":{"assignments":[{"id":"effd3344-d5ea-4595-b85b-383e75bc91ea","name":"message","value":"={{ $json.message.replace('<@1496791428020572230>','IMAGYN') }}","type":"string"},{"id":"878624c0-b182-45b3-bee9-acc9931d4e35","name":"Username","value":"={{ $json.Username }}","type":"string"},{"id":"d804bdff-8e6e-40a7-ad5a-12258a0880a3","name":"authorId","value":"={{ $json.authorId }}","type":"string"},{"id":"077eabd6-1b89-4719-835c-3d1660c1361c","name":"channel_Id","value":"={{ $json.channel_Id }}","type":"string"},{"id":"2f6d873e-5f21-4cab-aeff-3abb9940a2d4","name":"messageId","value":"={{ $json.messageId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"db5ead2f-4181-437c-afea-753919977ffd","name":"Edit Fields"},{"parameters":{"descriptionType":"manual","toolDescription":"Search records in Airtable","operation":"search","base":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"list","cachedResultName":"DivineCore","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0"},"table":{"__rl":true,"value":"tblKGVswiybbXEuk6","mode":"list","cachedResultName":"IMAGYN - Core Knowledge Base","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0/tblKGVswiybbXEuk6"},"filterByFormula":"={{ $fromAI('Filter_By_Formula', ``, 'string', '') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.2,"position":[528,304],"id":"5b53ea41-bf18-4273-a0a6-d0ec7a099f60","name":"Core Knowledge Base","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Search records in Airtable","operation":"search","base":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"list","cachedResultName":"DivineCore","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0"},"table":{"__rl":true,"value":"tblKGVswiybbXEuk6","mode":"list","cachedResultName":"IMAGYN - Core Knowledge Base","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0/tblKGVswiybbXEuk6"},"filterByFormula":"={{ $fromAI('Filter_By_Formula', ``, 'string', '') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.2,"position":[688,304],"id":"32075e6a-99c2-48ea-a6a5-45c6d0a4ce6a","name":"Examples","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}},"disabled":true},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1489255611857371266","mode":"list","cachedResultName":"DivineSide","cachedResultUrl":"https://discord.com/channels/1489255611857371266"},"channelId":{"__rl":true,"value":"1495654627322892319","mode":"list","cachedResultName":"branding","cachedResultUrl":"https://discord.com/channels/1489255611857371266/1495654627322892319"},"content":"hui","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[880,0],"id":"c9279921-52e4-415a-b3a3-1d526d317215","name":"Send a message1","webhookId":"4161af55-35af-4d25-a39f-cc0652827bd9","credentials":{"discordBotApi":{"id":"dIkFHmORvBunLN4d","name":"VigiL"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"IMAGYN":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"OpenRouter":{"ai_languageModel":[[{"node":"IMAGYN","type":"ai_languageModel","index":0}]]},"GPT 4o mini":{"ai_languageModel":[[{"node":"IMAGYN","type":"ai_languageModel","index":1}]]},"IMAGYN Memory":{"ai_memory":[[{"node":"IMAGYN","type":"ai_memory","index":0}]]},"Edit Fields":{"main":[[{"node":"IMAGYN","type":"main","index":0}]]},"Core Knowledge Base":{"ai_tool":[[{"node":"IMAGYN","type":"ai_tool","index":0}]]},"Examples":{"ai_tool":[[{"node":"IMAGYN","type":"ai_tool","index":0}]]},"Send a message":{"main":[[]]}},"authors":"Mayank Rawat","name":"Version c49b15d4","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-05-02T08:26:12.503Z","id":423,"workflowId":"16nFikebTqGlVJ1b","versionId":"c49b15d4-295a-4d36-a029-0a1ab63ec89a","event":"activated","userId":"155ab905-7948-43b7-ad2f-42467e89354a"}]}}