branding-os/workflows/LYRA.json
{"updatedAt":"2026-05-02T08:25:54.488Z","createdAt":"2026-04-27T09:55:46.832Z","id":"mBnrPlsf94ADHvFh","name":"LYRA","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Username"},{"name":"message"},{"name":"authorId"},{"name":"channel_Id"},{"name":"messageId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-448,-48],"id":"fa998868-b587-419f-8c16-0dcb26c071ac","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"effd3344-d5ea-4595-b85b-383e75bc91ea","name":"message","value":"={{ $json.message.replace('<@1496791428020572230>','IMAGYN') }}","type":"string"},{"id":"878624c0-b182-45b3-bee9-acc9931d4e35","name":"Username","value":"={{ $json.Username }}","type":"string"},{"id":"d804bdff-8e6e-40a7-ad5a-12258a0880a3","name":"authorId","value":"={{ $json.authorId }}","type":"string"},{"id":"077eabd6-1b89-4719-835c-3d1660c1361c","name":"channel_Id","value":"={{ $json.channel_Id }}","type":"string"},{"id":"2f6d873e-5f21-4cab-aeff-3abb9940a2d4","name":"messageId","value":"={{ $json.messageId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,-48],"id":"7a33b456-5179-45f8-b125-568e3138664f","name":"Edit Fields"},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-256,272],"id":"ae35bf9a-99e4-4ac1-b5c1-739fdbdfbef3","name":"OpenRouter","credentials":{"openRouterApi":{"id":"boV0huyNy7ye4f9U","name":"OpenRouter - shubham"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-112,272],"id":"6d6ffb8f-f071-4ec0-a85e-572d179ab727","name":"GPT 4o mini","credentials":{"openAiApi":{"id":"ENfW7EUExHBsp3Jt","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"imagyn_global_memory","tableName":"imagyn_chat_histories","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[32,272],"id":"271f5a77-520e-41f9-ad55-4a650683de74","name":"IMAGYN Memory","credentials":{"postgres":{"id":"hyGI2SOXo5eLTVkI","name":"DivineSide - Mayank"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Search records in Airtable","operation":"search","base":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"list","cachedResultName":"DivineCore","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0"},"table":{"__rl":true,"value":"tblKGVswiybbXEuk6","mode":"list","cachedResultName":"IMAGYN - Core Knowledge Base","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0/tblKGVswiybbXEuk6"},"filterByFormula":"={{ $fromAI('Filter_By_Formula', ``, 'string', '') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.2,"position":[208,256],"id":"e8eb8385-2bf7-4eba-bdd6-1684b2fe5129","name":"Core Knowledge Base","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}}},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-32,-48],"id":"7f3c9c93-d7c3-406f-becc-52111ef7f8c2","name":"LYRA"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenRouter":{"ai_languageModel":[[{"node":"LYRA","type":"ai_languageModel","index":0}]]},"GPT 4o mini":{"ai_languageModel":[[{"node":"LYRA","type":"ai_languageModel","index":1}]]},"IMAGYN Memory":{"ai_memory":[[{"node":"LYRA","type":"ai_memory","index":0}]]},"Core Knowledge Base":{"ai_tool":[[{"node":"LYRA","type":"ai_tool","index":0}]]},"Edit Fields":{"main":[[{"node":"LYRA","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"Username":"mayank082527","message":"<@1496791428020572230> hi","server_or_dm":null,"authorId":"1309128820493783093","channel_Id":"1495654627322892319","messageId":"1496855838818570383"}}]},"versionId":"42dab354-4f44-452a-b73d-9c977c0d20da","activeVersionId":"42dab354-4f44-452a-b73d-9c977c0d20da","versionCounter":13,"triggerCount":0,"shared":[{"updatedAt":"2026-04-27T09:55:46.838Z","createdAt":"2026-04-27T09:55:46.838Z","role":"workflow:owner","workflowId":"mBnrPlsf94ADHvFh","projectId":"6RWkVecs5xXu2XCo","project":{"updatedAt":"2026-03-01T08:54:25.743Z","createdAt":"2026-03-01T08:42:31.300Z","id":"6RWkVecs5xXu2XCo","name":"Mayank Rawat <mayankrawat000072@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"155ab905-7948-43b7-ad2f-42467e89354a"}}],"tags":[{"updatedAt":"2026-05-02T08:24:43.212Z","createdAt":"2026-05-02T08:24:43.212Z","id":"IoPUff8J0GWyWDo5","name":"AIOS"}],"activeVersion":{"updatedAt":"2026-04-27T12:19:05.000Z","createdAt":"2026-04-27T09:57:37.446Z","versionId":"42dab354-4f44-452a-b73d-9c977c0d20da","workflowId":"mBnrPlsf94ADHvFh","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Username"},{"name":"message"},{"name":"authorId"},{"name":"channel_Id"},{"name":"messageId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-448,-48],"id":"fa998868-b587-419f-8c16-0dcb26c071ac","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"effd3344-d5ea-4595-b85b-383e75bc91ea","name":"message","value":"={{ $json.message.replace('<@1496791428020572230>','IMAGYN') }}","type":"string"},{"id":"878624c0-b182-45b3-bee9-acc9931d4e35","name":"Username","value":"={{ $json.Username }}","type":"string"},{"id":"d804bdff-8e6e-40a7-ad5a-12258a0880a3","name":"authorId","value":"={{ $json.authorId }}","type":"string"},{"id":"077eabd6-1b89-4719-835c-3d1660c1361c","name":"channel_Id","value":"={{ $json.channel_Id }}","type":"string"},{"id":"2f6d873e-5f21-4cab-aeff-3abb9940a2d4","name":"messageId","value":"={{ $json.messageId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,-48],"id":"7a33b456-5179-45f8-b125-568e3138664f","name":"Edit Fields"},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-256,272],"id":"ae35bf9a-99e4-4ac1-b5c1-739fdbdfbef3","name":"OpenRouter","credentials":{"openRouterApi":{"id":"boV0huyNy7ye4f9U","name":"OpenRouter - shubham"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-112,272],"id":"6d6ffb8f-f071-4ec0-a85e-572d179ab727","name":"GPT 4o mini","credentials":{"openAiApi":{"id":"ENfW7EUExHBsp3Jt","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"imagyn_global_memory","tableName":"imagyn_chat_histories","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[32,272],"id":"271f5a77-520e-41f9-ad55-4a650683de74","name":"IMAGYN Memory","credentials":{"postgres":{"id":"hyGI2SOXo5eLTVkI","name":"DivineSide - Mayank"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Search records in Airtable","operation":"search","base":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"list","cachedResultName":"DivineCore","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0"},"table":{"__rl":true,"value":"tblKGVswiybbXEuk6","mode":"list","cachedResultName":"IMAGYN - Core Knowledge Base","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0/tblKGVswiybbXEuk6"},"filterByFormula":"={{ $fromAI('Filter_By_Formula', ``, 'string', '') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.2,"position":[208,256],"id":"e8eb8385-2bf7-4eba-bdd6-1684b2fe5129","name":"Core Knowledge Base","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}}},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-32,-48],"id":"7f3c9c93-d7c3-406f-becc-52111ef7f8c2","name":"LYRA"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenRouter":{"ai_languageModel":[[{"node":"LYRA","type":"ai_languageModel","index":0}]]},"GPT 4o mini":{"ai_languageModel":[[{"node":"LYRA","type":"ai_languageModel","index":1}]]},"IMAGYN Memory":{"ai_memory":[[{"node":"LYRA","type":"ai_memory","index":0}]]},"Core Knowledge Base":{"ai_tool":[[{"node":"LYRA","type":"ai_tool","index":0}]]},"Edit Fields":{"main":[[{"node":"LYRA","type":"main","index":0}]]}},"authors":"Mayank Rawat","name":"Version 42dab354","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-27T12:19:05.338Z","id":417,"workflowId":"mBnrPlsf94ADHvFh","versionId":"42dab354-4f44-452a-b73d-9c977c0d20da","event":"activated","userId":"155ab905-7948-43b7-ad2f-42467e89354a"}]}}