branding-os/workflows/MONTAGE.json
{"updatedAt":"2026-05-02T08:25:40.374Z","createdAt":"2026-04-27T09:56:27.677Z","id":"h9vqY6N7Cv5RRmsB","name":"Montage","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Username"},{"name":"message"},{"name":"authorId"},{"name":"channel_Id"},{"name":"messageId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"85e32cbb-94a9-4f9d-9890-ac832ec01aab","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"effd3344-d5ea-4595-b85b-383e75bc91ea","name":"message","value":"={{ $json.message.replace('<@1496791428020572230>','IMAGYN') }}","type":"string"},{"id":"878624c0-b182-45b3-bee9-acc9931d4e35","name":"Username","value":"={{ $json.Username }}","type":"string"},{"id":"d804bdff-8e6e-40a7-ad5a-12258a0880a3","name":"authorId","value":"={{ $json.authorId }}","type":"string"},{"id":"077eabd6-1b89-4719-835c-3d1660c1361c","name":"channel_Id","value":"={{ $json.channel_Id }}","type":"string"},{"id":"2f6d873e-5f21-4cab-aeff-3abb9940a2d4","name":"messageId","value":"={{ $json.messageId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"d71aca7a-9263-44f2-8d20-1da90066fbfe","name":"Edit Fields"},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[208,304],"id":"f106f255-c301-4ef8-b338-b451943a91b5","name":"OpenRouter","credentials":{"openRouterApi":{"id":"boV0huyNy7ye4f9U","name":"OpenRouter - shubham"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[352,304],"id":"2a61b8ca-5ade-44b1-89de-a550801f8259","name":"GPT 4o mini","credentials":{"openAiApi":{"id":"ENfW7EUExHBsp3Jt","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"imagyn_global_memory","tableName":"imagyn_chat_histories","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[496,304],"id":"1256c421-73f8-4564-a9d6-748b9baf5e50","name":"IMAGYN Memory","credentials":{"postgres":{"id":"hyGI2SOXo5eLTVkI","name":"DivineSide - Mayank"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Search records in Airtable","operation":"search","base":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"list","cachedResultName":"DivineCore","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0"},"table":{"__rl":true,"value":"tblKGVswiybbXEuk6","mode":"list","cachedResultName":"IMAGYN - Core Knowledge Base","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0/tblKGVswiybbXEuk6"},"filterByFormula":"={{ $fromAI('Filter_By_Formula', ``, 'string', '') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.2,"position":[672,288],"id":"01b3cbbd-54fa-4800-9699-5fa34bcac90f","name":"Core Knowledge Base","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}}},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[432,-32],"id":"17366366-8df7-4440-80e3-5984766edf40","name":"Montage"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenRouter":{"ai_languageModel":[[{"node":"Montage","type":"ai_languageModel","index":0}]]},"GPT 4o mini":{"ai_languageModel":[[{"node":"Montage","type":"ai_languageModel","index":1}]]},"IMAGYN Memory":{"ai_memory":[[{"node":"Montage","type":"ai_memory","index":0}]]},"Core Knowledge Base":{"ai_tool":[[{"node":"Montage","type":"ai_tool","index":0}]]},"Edit Fields":{"main":[[{"node":"Montage","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"Username":"mayank082527","message":"<@1496791428020572230> hi","server_or_dm":null,"authorId":"1309128820493783093","channel_Id":"1495654627322892319","messageId":"1496855838818570383"}}]},"versionId":"811cdd33-11f7-45fc-b753-c224ad012378","activeVersionId":"811cdd33-11f7-45fc-b753-c224ad012378","versionCounter":11,"triggerCount":0,"shared":[{"updatedAt":"2026-04-27T09:56:27.681Z","createdAt":"2026-04-27T09:56:27.681Z","role":"workflow:owner","workflowId":"h9vqY6N7Cv5RRmsB","projectId":"6RWkVecs5xXu2XCo","project":{"updatedAt":"2026-03-01T08:54:25.743Z","createdAt":"2026-03-01T08:42:31.300Z","id":"6RWkVecs5xXu2XCo","name":"Mayank Rawat <mayankrawat000072@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"155ab905-7948-43b7-ad2f-42467e89354a"}}],"tags":[{"updatedAt":"2026-05-02T08:24:43.212Z","createdAt":"2026-05-02T08:24:43.212Z","id":"IoPUff8J0GWyWDo5","name":"AIOS"}],"activeVersion":{"updatedAt":"2026-04-27T12:18:44.000Z","createdAt":"2026-04-27T09:58:13.454Z","versionId":"811cdd33-11f7-45fc-b753-c224ad012378","workflowId":"h9vqY6N7Cv5RRmsB","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Username"},{"name":"message"},{"name":"authorId"},{"name":"channel_Id"},{"name":"messageId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"85e32cbb-94a9-4f9d-9890-ac832ec01aab","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"effd3344-d5ea-4595-b85b-383e75bc91ea","name":"message","value":"={{ $json.message.replace('<@1496791428020572230>','IMAGYN') }}","type":"string"},{"id":"878624c0-b182-45b3-bee9-acc9931d4e35","name":"Username","value":"={{ $json.Username }}","type":"string"},{"id":"d804bdff-8e6e-40a7-ad5a-12258a0880a3","name":"authorId","value":"={{ $json.authorId }}","type":"string"},{"id":"077eabd6-1b89-4719-835c-3d1660c1361c","name":"channel_Id","value":"={{ $json.channel_Id }}","type":"string"},{"id":"2f6d873e-5f21-4cab-aeff-3abb9940a2d4","name":"messageId","value":"={{ $json.messageId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"d71aca7a-9263-44f2-8d20-1da90066fbfe","name":"Edit Fields"},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[208,304],"id":"f106f255-c301-4ef8-b338-b451943a91b5","name":"OpenRouter","credentials":{"openRouterApi":{"id":"boV0huyNy7ye4f9U","name":"OpenRouter - shubham"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[352,304],"id":"2a61b8ca-5ade-44b1-89de-a550801f8259","name":"GPT 4o mini","credentials":{"openAiApi":{"id":"ENfW7EUExHBsp3Jt","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"imagyn_global_memory","tableName":"imagyn_chat_histories","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[496,304],"id":"1256c421-73f8-4564-a9d6-748b9baf5e50","name":"IMAGYN Memory","credentials":{"postgres":{"id":"hyGI2SOXo5eLTVkI","name":"DivineSide - Mayank"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Search records in Airtable","operation":"search","base":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"list","cachedResultName":"DivineCore","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0"},"table":{"__rl":true,"value":"tblKGVswiybbXEuk6","mode":"list","cachedResultName":"IMAGYN - Core Knowledge Base","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0/tblKGVswiybbXEuk6"},"filterByFormula":"={{ $fromAI('Filter_By_Formula', ``, 'string', '') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.2,"position":[672,288],"id":"01b3cbbd-54fa-4800-9699-5fa34bcac90f","name":"Core Knowledge Base","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}}},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[432,-32],"id":"17366366-8df7-4440-80e3-5984766edf40","name":"Montage"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenRouter":{"ai_languageModel":[[{"node":"Montage","type":"ai_languageModel","index":0}]]},"GPT 4o mini":{"ai_languageModel":[[{"node":"Montage","type":"ai_languageModel","index":1}]]},"IMAGYN Memory":{"ai_memory":[[{"node":"Montage","type":"ai_memory","index":0}]]},"Core Knowledge Base":{"ai_tool":[[{"node":"Montage","type":"ai_tool","index":0}]]},"Edit Fields":{"main":[[{"node":"Montage","type":"main","index":0}]]}},"authors":"Mayank Rawat","name":"Version 811cdd33","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-27T12:18:44.293Z","id":414,"workflowId":"h9vqY6N7Cv5RRmsB","versionId":"811cdd33-11f7-45fc-b753-c224ad012378","event":"activated","userId":"155ab905-7948-43b7-ad2f-42467e89354a"}]}}