branding-os/workflows/VIGIL.json
{"updatedAt":"2026-05-05T06:40:34.224Z","createdAt":"2026-04-27T09:56:50.726Z","id":"DP41MDoslvYIE4EF","name":"Vigil","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Username"},{"name":"message"},{"name":"authorId"},{"name":"channel_Id"},{"name":"messageId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"7c936a64-838d-42d1-b1fc-b76233926af7","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"effd3344-d5ea-4595-b85b-383e75bc91ea","name":"message","value":"={{ $json.message.replace('<@1496791428020572230>','IMAGYN') }}","type":"string"},{"id":"878624c0-b182-45b3-bee9-acc9931d4e35","name":"Username","value":"={{ $json.Username }}","type":"string"},{"id":"d804bdff-8e6e-40a7-ad5a-12258a0880a3","name":"authorId","value":"={{ $json.authorId }}","type":"string"},{"id":"077eabd6-1b89-4719-835c-3d1660c1361c","name":"channel_Id","value":"={{ $json.channel_Id }}","type":"string"},{"id":"2f6d873e-5f21-4cab-aeff-3abb9940a2d4","name":"messageId","value":"={{ $json.messageId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"49a34d9c-2c89-4c9f-ad65-730ec7749aff","name":"Edit Fields"},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[192,336],"id":"81bde737-096f-4fbc-9cdd-0ee2a28eea64","name":"OpenRouter","credentials":{"openRouterApi":{"id":"boV0huyNy7ye4f9U","name":"OpenRouter - shubham"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[336,336],"id":"90171aa2-30b7-4daa-ae82-bfb404807cd5","name":"GPT 4o mini","credentials":{"openAiApi":{"id":"ENfW7EUExHBsp3Jt","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"imagyn_global_memory","tableName":"imagyn_chat_histories","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[480,336],"id":"bcee1079-4e6c-44e4-86a3-252c6053b007","name":"IMAGYN Memory","credentials":{"postgres":{"id":"hyGI2SOXo5eLTVkI","name":"DivineSide - Mayank"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Search records in Airtable","operation":"search","base":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"list","cachedResultName":"DivineCore","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0"},"table":{"__rl":true,"value":"tblKGVswiybbXEuk6","mode":"list","cachedResultName":"IMAGYN - Core Knowledge Base","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0/tblKGVswiybbXEuk6"},"filterByFormula":"={{ $fromAI('Filter_By_Formula', ``, 'string', '') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.2,"position":[656,320],"id":"38bb5e1d-dc93-4d58-a2cf-5478ab73f0eb","name":"Core Knowledge Base","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}}},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[416,0],"id":"7e035514-3cd1-4483-be2a-d4fcfe597006","name":"Vigil"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenRouter":{"ai_languageModel":[[{"node":"Vigil","type":"ai_languageModel","index":0}]]},"GPT 4o mini":{"ai_languageModel":[[{"node":"Vigil","type":"ai_languageModel","index":1}]]},"IMAGYN Memory":{"ai_memory":[[{"node":"Vigil","type":"ai_memory","index":0}]]},"Core Knowledge Base":{"ai_tool":[[{"node":"Vigil","type":"ai_tool","index":0}]]},"Edit Fields":{"main":[[{"node":"Vigil","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"Username":"mayank082527","message":"<@1496791428020572230> hi","server_or_dm":null,"authorId":"1309128820493783093","channel_Id":"1495654627322892319","messageId":"1496855838818570383"}}]},"versionId":"faf5a8fb-d4e0-456a-95b2-d18bc04bec48","activeVersionId":"66352323-fbfa-47d8-8a64-314758b4abf4","versionCounter":27,"triggerCount":0,"shared":[{"updatedAt":"2026-04-27T09:56:50.730Z","createdAt":"2026-04-27T09:56:50.730Z","role":"workflow:owner","workflowId":"DP41MDoslvYIE4EF","projectId":"6RWkVecs5xXu2XCo","project":{"updatedAt":"2026-03-01T08:54:25.743Z","createdAt":"2026-03-01T08:42:31.300Z","id":"6RWkVecs5xXu2XCo","name":"Mayank Rawat <mayankrawat000072@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"155ab905-7948-43b7-ad2f-42467e89354a"}}],"tags":[{"updatedAt":"2026-05-02T08:24:43.212Z","createdAt":"2026-05-02T08:24:43.212Z","id":"IoPUff8J0GWyWDo5","name":"AIOS"}],"activeVersion":{"updatedAt":"2026-04-27T12:18:50.000Z","createdAt":"2026-04-27T09:57:55.243Z","versionId":"66352323-fbfa-47d8-8a64-314758b4abf4","workflowId":"DP41MDoslvYIE4EF","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Username"},{"name":"message"},{"name":"authorId"},{"name":"channel_Id"},{"name":"messageId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"7c936a64-838d-42d1-b1fc-b76233926af7","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"effd3344-d5ea-4595-b85b-383e75bc91ea","name":"message","value":"={{ $json.message.replace('<@1496791428020572230>','IMAGYN') }}","type":"string"},{"id":"878624c0-b182-45b3-bee9-acc9931d4e35","name":"Username","value":"={{ $json.Username }}","type":"string"},{"id":"d804bdff-8e6e-40a7-ad5a-12258a0880a3","name":"authorId","value":"={{ $json.authorId }}","type":"string"},{"id":"077eabd6-1b89-4719-835c-3d1660c1361c","name":"channel_Id","value":"={{ $json.channel_Id }}","type":"string"},{"id":"2f6d873e-5f21-4cab-aeff-3abb9940a2d4","name":"messageId","value":"={{ $json.messageId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"49a34d9c-2c89-4c9f-ad65-730ec7749aff","name":"Edit Fields"},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[192,336],"id":"81bde737-096f-4fbc-9cdd-0ee2a28eea64","name":"OpenRouter","credentials":{"openRouterApi":{"id":"boV0huyNy7ye4f9U","name":"OpenRouter - shubham"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[336,336],"id":"90171aa2-30b7-4daa-ae82-bfb404807cd5","name":"GPT 4o mini","credentials":{"openAiApi":{"id":"ENfW7EUExHBsp3Jt","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"imagyn_global_memory","tableName":"imagyn_chat_histories","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[480,336],"id":"bcee1079-4e6c-44e4-86a3-252c6053b007","name":"IMAGYN Memory","credentials":{"postgres":{"id":"hyGI2SOXo5eLTVkI","name":"DivineSide - Mayank"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Search records in Airtable","operation":"search","base":{"__rl":true,"value":"app8XaPzUEGamXVe0","mode":"list","cachedResultName":"DivineCore","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0"},"table":{"__rl":true,"value":"tblKGVswiybbXEuk6","mode":"list","cachedResultName":"IMAGYN - Core Knowledge Base","cachedResultUrl":"https://airtable.com/app8XaPzUEGamXVe0/tblKGVswiybbXEuk6"},"filterByFormula":"={{ $fromAI('Filter_By_Formula', ``, 'string', '') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.2,"position":[656,320],"id":"38bb5e1d-dc93-4d58-a2cf-5478ab73f0eb","name":"Core Knowledge Base","credentials":{"airtableTokenApi":{"id":"A0okMqYtJnkKvHL5","name":"Mayank's airtable"}}},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[416,0],"id":"7e035514-3cd1-4483-be2a-d4fcfe597006","name":"Vigil"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenRouter":{"ai_languageModel":[[{"node":"Vigil","type":"ai_languageModel","index":0}]]},"GPT 4o mini":{"ai_languageModel":[[{"node":"Vigil","type":"ai_languageModel","index":1}]]},"IMAGYN Memory":{"ai_memory":[[{"node":"Vigil","type":"ai_memory","index":0}]]},"Core Knowledge Base":{"ai_tool":[[{"node":"Vigil","type":"ai_tool","index":0}]]},"Edit Fields":{"main":[[{"node":"Vigil","type":"main","index":0}]]}},"authors":"Mayank Rawat","name":"Version 66352323","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-27T12:18:50.835Z","id":415,"workflowId":"DP41MDoslvYIE4EF","versionId":"66352323-fbfa-47d8-8a64-314758b4abf4","event":"activated","userId":"155ab905-7948-43b7-ad2f-42467e89354a"}]}}